<div class="drawer-menu-sub-item">
  {% for sub_menu in sub_menus %}
    {% if sub_menu.settings.number == index %}
      <div class="drawer-menu-sub-item-content">
        <div class="drawer-menu-sub-item-text">
          <a
            {% if sub_menu.settings.sub_link != blank %}
              href="{{sub_menu.settings.sub_link}}"
            {% else %}
              onclick="return false"
            {% endif %}
          >
            {{- sub_menu.settings.sub_text -}}
          </a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
