<div class="menu-down-container-type4">
  <div class="container-type4-t"></div>
  <div class="menu-down-content-type4">
    {% for sub_menu in sub_menus %}
      {% if sub_menu.settings.menu_type == 'type4' %}
        <div class="menu-down-type4-item">
          {% assign index_ = index_ | plus: 1 %}
          <div class="type4-item-title">
            {{- sub_menu.settings.sub_text }}
          </div>
          <div class="menu-down-type4-links">
            {% for t in link_items %}
              {% if index_ == t.settings.number %}
                <a class="type4-item-link" href="{{t.settings.link}}">{{ t.settings.link_text }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="container-type4-t"></div>
</div>
