{% capture asset_url_rev %}{% render 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_slider-11">
			<!-- START Slider 1 REVOLUTION SLIDER 6.5.6.18 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_2_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_2_1" style="" data-version="6.5.6.18">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-24" data-title="Slide" data-link="{{ request.path | slice: 1,2}}/pages/black-friday-2023" data-target="_self" data-seoz="front" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0538/9533/2027/files/1920x800_3fdd74fd-3ed5-46d9-af80-f66d8326a257.png" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-2-slide-24-layer-5" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-522px,-522px,-522px,0;yo:22px,22px,22px,0;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:425px,425px,425px,100%;h:625px,625px,625px,100%;"
								data-vbility="f,f,t,t"
								data-frame_999="o:0;st:w;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0538/9533/2027/files/680x1000_040fe22d-8af0-443e-bd54-e8c73f96ddca.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_2_1',rl:[1240,1240,1240,480],el:[1000,1000,1000,650],gw:[2000,2000,2000,480],gh:[1000,1000,1000,650],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider21"]!==undefined) {window.RS_MODULES.modules["revslider21"].once = false;window.revapi2 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">#rs-demo-id {}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof revQuery !== "undefined"){

		var	tpj = revQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = revQuery;

		})

		}

		var	revapi2;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider21"] = {init:function() {
			window.revapi2 = window.revapi2===undefined || window.revapi2===null || window.revapi2.length===0  ? document.getElementById("rev_slider_2_1") : window.revapi2;
			if(window.revapi2 === null || window.revapi2 === undefined || window.revapi2.length==0) { window.revapi2initTry = window.revapi2initTry ===undefined ? 0 : window.revapi2initTry+1; if (window.revapi2initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider21"].init()}); return;}
			window.revapi2 = revQuery(window.revapi2);
			if(window.revapi2.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_2_1"); return;}
			revapi2.revolutionInit({
					revapi:"revapi2",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"63c6abaa8e9cf",
					gridwidth:"2000,2000,2000,480",
					gridheight:"1000,1000,1000,650",
					lazyType:"smart",
					perspective:600,
					perspectiveType:"local",
					imgCrossOrigin:"anonymous",
					editorheight:"1000,768,960,650",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:0
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            revQuery( "#revslider_drag_slider-11" ).after( "<div id='revslider_show_slider-11'></div>" );
                            revQuery( "#revslider_drag_slider-11" ).hide();
                            revQuery("#revslider_foot_slider-11").appendTo("#revslider_show_slider-11");
                            revQuery("#revslider_show_slider-11 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>