<div class="section-standard-item ">
  <div class="section-standard-item-img">
    {% assign img = image_url %}
    {% if md_img != blank %}
      {% assign img = md_img %}
    {% endif %}
    {% render 'img-lazyload', image_url: image_url, class_name: 'pc-media' %}
    {% render 'img-lazyload', image_url: img, class_name: 'mobile-media' %}
  </div>
  <div class="section-standard-item-text item{{index}}">{{ text }}</div>
</div>
