<style>
#shopify-section-{{ section.id }} img {
    margin: auto;
}
#shopify-section-{{ section.id }} {
    margin-bottom: 20px;
}

#shopify-section-{{ section.id }} .additional-images-item {
    width: 80%;
    margin: auto;
}
</style>

{%- if section.settings.enable -%}
<div class="additional-images section-{{ section.id }} {% if template contains 'product' %}Product product-section-width"{%- endif -%}">
  {% for block in section.blocks %}
    {% assign image = block.settings.image | img_url: 'master' %}
    {% assign imageAlt = block.settings.image | img_alt %}
      <div class="additional-images-item">
        {% render 'lazyloading', image: image, imgTag: true, imgAlt: imageAlt %}
      </div>
  {% endfor %}
</div>
{%- endif -%}
{% schema %}
{
  "name": "Additional images",
  "tag": "section",
  "class": "spaced-section--narrow",
  "settings": [
	{
      "type": "checkbox",
      "id": "enable",
      "default": true,
      "label": "Enable"
    }
  ],
  "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
		  {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Additional Images",
        "category": "Image"
      }

    ]
  }
{% endschema %}
