<style>
  .section-video-full {
    max-width: 1920px;
    margin: 0 auto;
  }
  .section-video-full video {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
</style>

<div class="page-layout">
  <div class="section-video-full">
    {{
      section.settings.video_file
      | video_tag: autoplay: true, loop: true, muted: true, controls: false, image_size: '1920x'
    }}
  </div>
</div>

{% schema %}
{
  "name": "section-video-full",
  "settings": [
    {
      "type": "video",
      "id": "video_file",
      "label": "视频文件"
    }
  ],
  "presets": [{ "name": "section-video-full" }]
}
{% endschema %}
