<section>
  <h1>
    测试标题: test-section
  </h1> 
</section>
{% schema %}
  {
    "name": "Test langs",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.langs.settings.common.label"
      },
    ],
    "presets": [
      {
        "name": "test-section"
      }
    ]
  }
{% endschema %}