
    <div class="Slider Container top-banner-position-adjustment">
      <div class="">
        <video autoplay muted controls loop playsinline style="width:100%;" class="B__Radius">
          <source src="{{section.settings.link}}" alt="" type="video/mp4">
        </video>
      </div>
    </div>

{%- schema -%}
{
  "name": "Video Radius",
  "settings": [
 	{
        "type": "url",
        "id": "link",
        "label": "Video URL",
        "info": "Settings > Files > copy the video file path url."
      }
  ],
  "presets": [
    {
      "category": "Video",
      "name": "Video Radius"
    }
  ]
}
{%- endschema -%}

