<style>
       .section-{{section.id}} .page-layout-content{
          padding-bottom: 78px;
    }
  #shopify-section-{{section.id}} {
    background: #A6C8F2;
  }
  ._container {
           height: 50px;
           overflow: hidden;
           text-align: center;
       }
       ._container li {
           line-height: 36px;
           font-size: 12px;
           color: #fff;
       }
       ._container li:first-child {
           margin-top: 0px;
           transition: margin-top .8s;
       }
    #crazyrocket-embed { margin: 0 auto; width: 480px; height: calc(90vh); }
  @media only screen and (max-width: 480px) {
  #crazyrocket-embed { width: calc(90vw); }
  }
   @media only screen and (max-width: 768px) {
   #crazyrocket-embed { height: calc(75vh); }
     #crazyrocket-iframe-container {height: 90%;}
  }
</style>
<wheel-cp>
  <div class="page-layout section-{{section.id}}">
    <div class="page-layout-content">
      <div id="crazyrocket-embed" data-id="667d3e3c7ab42709ac577938"></div>
 
    <ul class="_container" id="demo">
    <li>Je*****u@gmail.com 30% OFF クーポン当選</li>
    <li>Ka**i@yahoo.co.jp 20% OFF クーポン当選</li>
    <li>m**a@logex.jp 15% OFF クーポン当選</li>
    <li>Yu****o@docomo.ne.jp 10% OFF クーポン当選</li>
    <li>Sa*****e@softbank.ne.jp 5% OFF クーポン当選</li>
    <li>T***u@gmail.com 100% OFFクーポン‐二軸ターンテーブル当選</li>
    <li>Na*****i@yahoo.co.jp 100% OFFクーポン‐パワーバンク（MIRACO用）当選</li>
    <li>Re*****o@skyblue.ocn.ne.jp 30% OFF クーポン当選</li>
    <li>Hi*****a@takayamarika.co.jp 20% OFF クーポン当選</li>
    <li>M***u@softbank.ne.jp 15% OFF クーポン当選</li>
    <li>Yu*****e@po.boo.jp 10% OFF クーポン当選</li>
    <li>Ki******o@yahoo.co.jp 5% OFF クーポン当選</li>
    <li>i*a@hotmail.co.jp 100% OFFクーポン‐二軸ターンテーブル当選</li>
    <li>Ai*****i@docomo.ne.jp 100% OFFクーポン‐パワーバンク（MIRACO用）当選</li>
    <li>Ko*****u@japanmatex.co.jp 30% OFF クーポン当選</li>
    <li>Se*****a@gmail.com 20% OFF クーポン当選</li>
    <li>Y**i@yahoo.co.jp 15% OFF クーポン当選</li>
    <li>Ma*****o@hotmail.co.jp 10% OFF クーポン当選</li>
    <li>Ta******e@docomo.ne.jp 5% OFF クーポン当選</li>
    <li>Na*****u@softbank.ne.jp 100% OFFクーポン‐二軸ターンテーブル当選</li>
    <li>Hi*****i@gmail.com 100% OFFクーポン‐パワーバンク（MIRACO用）当選</li>
    <li>Yu*******a@yahoo.co.jp 30% OFF クーポン当選</li>
    <li>t**i@hotmail.co.jp 20% OFF クーポン当選</li>
    <li>Mi*****o@skyblue.ocn.ne.jp 15% OFF クーポン当選</li>
    <li>Sa*****o@softbank.ne.jp 10% OFF クーポン当選</li>
    <li>To*******i@gmail.com 5% OFF クーポン当選</li>
    <li>Na*****o@yahoo.co.jp 100% OFFクーポン‐二軸ターンテーブル当選</li>
    <li>R**u@hotmail.co.jp 100% OFFクーポン‐パワーバンク（MIRACO用）当選</li>
    <li>Hi*****o@docomo.ne.jp 30% OFF クーポン当選</li>
    <li>Ma***i@icloud.com 20% OFF クーポン当選</li>
    <li>Yu*****u@gmail.com 15% OFF クーポン当選</li>
    <li>Ki*****i@yahoo.co.jp 10% OFF クーポン当選</li>
    <li>Ta********o@hotmail.co.jp 5% OFF クーポン当選</li>
    <li>Ai*****o@docomo.ne.jp 二軸ターンテーブル当選</li>
    <li>Ko*****a@bcc.bai.ne.jp パワーバンク（MIRACO用）当選</li>
    <li>S***u@gmail.com 30% OFF クーポン当選</li>
    <li>y**o@yahoo.co.jp 100% OFFクーポン‐パワーバンク（MIRACO用）当選</li>
    <li>Re*****u@hotmail.co.jp 30% OFF クーポン当選</li>
    <li>M**e@docomo.ne.jp 20% OFF クーポン当選</li>
    <li>Sa*****u@iris.eonet.ne.jp 15% OFF クーポン当選</li>
    <li>Yu*******o@yahoo.co.jp 20% OFF クーポン当選</li>
    <li>Ma*****i@nucba.ac.jp 15% OFF クーポン当選</li>
    <li>Ta*****a@bcc.bai.ne.jp 10% OFF クーポン当選</li>
    <li>Na*****a@anahd.co.jp 5% OFF クーポン当選</li>
    <li>H**u@gmail.com 100% OFFクーポン‐二軸ターンテーブル当選</li>
    <li>To*****e@gmail.com 10% OFF クーポン当選</li>
    <li>Na***e@yahoo.co.jp 5% OFF クーポン当選</li>
    <li>H**u@hotmail.co.jp 二軸ターンテーブル当選</li>
    <li>Ma*****o@nucba.ac.jp パワーバンク（MIRACO用）当選</li>
    <li>Yu***i@basil.ocn.ne.jp 30% OFF クーポン当選</li>
</ul>



    </div>
  </div>
</wheel-cp>
<script>

    function Scroll(){}

    Scroll.prototype.upScroll=function(dom,_h,interval){
        var dom=document.getElementById(dom);
        var timer=setTimeout(function(){
            var _field=dom.firstElementChild;
            _field.style.marginTop=_h;
            clearTimeout(timer);
        },1000)
        setInterval(function(){
            var _field=dom.firstElementChild;
            _field.style.marginTop="0px";
            dom.appendChild(_field);
            var _field=dom.firstElementChild
            _field.style.marginTop=_h;
        },interval)
    }

    var myScroll=new Scroll();
    myScroll.upScroll("demo","-36px",2000);

</script>
{% schema %}
    {
  "name": "wheel-cp",
  "settings": [
       {
          "type": "richtext",
          "id": "title",
          "label": "文案"
        }
  ],

  "presets": [
    {
      "name": "wheel-cp"
    }
  ]
}
{% endschema %}
