.printcardimg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.printcard {
  display: flex;
  gap: 40px;
  background: #F3F3F3;
  border-radius: 12px;
  padding: 66px 83px;
  margin-top: 30px;
}
.repairtitle {
    font-size: 48px;
    text-align: center;
}
.cardp {
    flex: 1;
    text-align: center;
    margin: auto;
}
.printcardimg {
  flex: 2;
}
.cardp img {
  margin: auto;
}
.cardp h3 {
  font-size: 16px;
}
.cardp p:first-of-type {
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    margin: 25px auto;
}
.cardp p:last-of-type {
    font-size: 16px;
    color: #7C7C7C;
    width: 200px;
    margin: 20px auto;
}
.cardlink a:nth-child(1) {
    border: 2px solid #000000;
    border-radius: 30px;
    padding: 3px 20px;
}
.cardlink a:nth-child(2) {
    border: 2px solid #FA8B16;
    color: #FA8B16;
    border-radius: 30px;
    padding: 3px 20px;
    margin-left: 17px;
}
.pcarditem img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .printcard {
    flex-wrap: wrap;
    padding: 10px;
}
  .cardp {
     flex: inherit;
}
  .printcardimg {
    flex: inherit;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
}
}