.accessicon-model {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    align-items: center;
}
.accessicon-img {
    width: 52px;
    height: 52px;
    margin: 28px auto;
}
.accessicontitle p {
  font-size: 14px;
  color: #4D4D4D;
}
