.bulk-tab a p {
  font-size: 24px;
  font-weight: 600;
  color: #bababa;
}
.bulktitletab p:first-child {
  font-size: 42px;
  color: #0a97ff;
  text-align: center;
}
.bulktitletab p:last-child {
  font-size: 20px;
  color: #2f2f2f;
  text-align: center;
}
.bulk-tab a {
  text-align: center;
  position: relative;
}
.bulk-tab {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 600px;
  margin: 100px auto;
}
.bulk-tab a {
  text-decoration: none;
  color: inherit;
  flex: 1;
  text-align: center;
  position: relative;
}
.bulk-tab a::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: calc(100% + 10px);
  height: 2px;
  background-color: #d8d8d8;
}
.bulk-tab a:hover p {
  color: #050505;
}
.bulk-tab a:hover::after {
  background-color: #0093ff;
  height: 4px;
}
.blukpm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
  margin-top: 80px;
}
.blukitem:hover {
  box-shadow: 0 0 20px #e3e3e3;
}
.hpc-item h2 p {
  font-size: 32px;
  font-weight: 600;
  margin-top: 6px;
  color: #000;
}
.hpc {
  display: grid;
  gap: 17px;
  margin-top: 80px;
  grid-template-columns: repeat(3, 1fr);
}
.hpc-item {
  padding: 30px 25px;
  background: #f6f7f9;
  text-align: center;
  position: relative;
}
.hpc-item p {
  font-size: 16px;
  color: #666666;
  margin-top: 8px;
  margin-bottom: 10px;
}
.hpc-item span p {
  font-size: 18px;
  color: #e74a4a;
  margin-bottom: 30px;
  font-weight: 600;
}
.hpclm {
  margin-top: 30px;
}
.hpclm a p {
  font-size: 16px;
  color: #0093ff;
}
.hpcbn a {
  display: flex;
}
.hpc-item span {
  height: 51px;
}
.hpcbn a {
  background: #fff;
  margin-bottom: 0;
}
.hpcbn p {
  height: auto;
  font-weight: 600;
  color: #000;
  margin-top: 10px;
  margin-left: 40px;
}
.suptitle h2 {
  font-weight: 600;
}
.suptitle p {
  font-size: 14px;
  color: #666666;
}
.sup {
  margin-top: 80px;
}
.hpcbn {
  margin-top: 10px;
}
.hpcbn a:hover p {
  color: #e74a4a;
}
.hpcbn a:hover .cart-icon {
  background: #e74a4a;
}
.hpc-item img {
  margin: auto;
}
.cart-icon {
  width: 50px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.supitem {
  background: #f6f7f9;
}

.hpc-item img {
  transition: transform 0.3s ease;
}

.hpc-item:hover {
  box-shadow: 0 0 20px #e3e3e3;
}
.offitem {
  display: flex;
}
.offmode {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
}
.offitem p:last-child {
  border: solid 1px #0093ff;
  border-radius: 5px;
  color: #0093ff;
}
.pprice {
  margin-top: 20px;
  margin-bottom: 20px;
}
.pprice p {
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
.tab-container1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.tab-container3 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.tab-container4 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.tab-container2,
.tab-container5 {
    visibility: hidden;
    height: 67px;
}
.tab-container3 .tab-button:nth-child(3) {
  display: none;
}
.tab-button {
    background-color: #f0f0f0;
    cursor: pointer;
    padding: 3px;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}

.tab-button p {
    font-size: 13px;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 0;
}
.tab-button active p {
  background: #fff;
    color: #000;
}
.hpc-item:nth-child(1) .tab-button:nth-child(3) {
  display: none;
}
.hpc-item:nth-child(2) .tab-container {
  display: none;
}
.tab-button:after {
  background: #fff;
}
.tab-button.active {
  background-color: #fff;
  color: #000;
}