.fsimg-text1 p:first-of-type {
  font-size: 26px;
  color: #deb87c;
}
.fsimg-text1 p {
  font-size: 18px;
  color: #f8f8f8;
}
.fsimg-text1 {
  position: absolute;
  top: 29%;
  left: 50%;
}
.fsimg-button {
  background: #deb87c;
  color: #fff;
  width: 273px;
  border-radius: 8px;
  padding: 8px 0;
  margin-top: 26px;
}
.fsimg-button a p {
  color: #fff !important;
  font-size: 18px !important;
  text-align: center;
}
.fsimg-mb {
  display: none;
}
@media screen and (max-width: 768px) {
  .fsimg-mb {
    display: block;
  }
  .fsimg-pc {
    display: none;
  }
  .fsimg-text1 {
    top: 18%;
    left: 50px;
    width: 75%;
  }
  .fsimg-text1 p:first-of-type {
    font-size: 14px !important;
  }
  .fsimg-text1 p {
    font-size: 12px;
  }
  .fsimg-button {
    width: 120px;
  }
  fsimg-button a p {
    font-size: 12px !important;
  }
}
