.cla-pcard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.cla-pcard-item {
  background: #fff;
  border-radius: 8px;
  padding: 25px;
  position: relative;
}
.pcard-text p:first-of-type {
  font-size: 22px;
  font-weight: 600;
}
.pcard-text p:last-of-type {
  font-size: 14px;
  color: #666666;
  border-bottom: solid 0.5px #707070;
  padding-bottom: 19px;
  min-height: 64px;
}
.pcard-price {
  padding-top: 19px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.pcard-button {
  background: #000;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  font-size: 22px;
  padding: 5px 0;
  margin-top: 28px;
}
.pcard-button:hover {
  background: #e64a4b;
}
.pcard-price p:nth-child(1),
.pcard-price p:nth-child(2) {
  font-size: 12px;
}
.pcard-price p:nth-child(3),
.pcard-price p:nth-child(4) {
  font-size: 30px;
  font-weight: 600;
}
.cla-pcard-item:last-of-type {
  padding: 0;
}
.lscard-text {
  position: absolute;
  top: 30px;
  left: 25px;
}
.lscard-text p:first-of-type {
  font-size: 22px;
  font-weight: 600;
}
.lscard-text p:last-of-type {
  font-size: 14px;
  color: #666666;
}
#countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}
.cla-title1 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
}
.time-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.dis-pcard {
  position: absolute;
  top: -8px;
  width: 91px;
}
.dis-pcard p:first-of-type {
  font-size: 14px;
  position: absolute;
  top: 8px;
  left: 30px;
}
.dis-pcard p:last-of-type {
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  left: 45%;
  transform: translate(-50%, -50%);
  top: 69px;
}
.dis-pcard p:nth-of-type(2) {
  position: absolute;
  top: 30px;
  left: 5px;
  font-weight: 600;
  font-size: 18px;
}
.pcard-price p:nth-child(5),
.pcard-price p:nth-child(6) {
  text-decoration: line-through;
  color: #999999;
  font-size: 14px;
}
.time-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.time-section p {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}
.time-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 60px;
  font-size: 41px;
  font-weight: 600;
  background-color: #a6c8f2;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #0000001a;
}
.product-img img {
  padding: 50px;
}
.time-label {
  font-size: 1rem;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .time-item:nth-of-type(2) .time-section p {
    display: none;
  }
  #countdown {
    flex-wrap: wrap;
  }
  .cla-pcard {
    grid-template-columns: repeat(1, 1fr);
  }
  .pcard-text p:first-of-type {
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .pcard-price p:nth-child(3),
  .pcard-price p:nth-child(4) {
    font-size: 22px;
    font-weight: 600;
  }
  .cla-pcard-item:last-of-type img {
    height: 100%;
  }
  .pcard-button {
    font-size: 16px;
  }
  .cla-title {
    font-size: 24px;
  }
}

.fsimg-text1 p:first-of-type {
  font-size: 26px;
  color: #deb87c;
}
.fsimg-text1 p {
  font-size: 18px;
  color: #f8f8f8;
}
.fsimg-text1 {
  position: absolute;
  top: 21%;
  left: 51%;
}
.fsimg-button {
  background: #deb87c;
  color: #fff;
  width: 273px;
  border-radius: 8px;
  padding: 8px 0;
  margin-top: 26px;
}
.fsimg-button a p {
  color: #fff !important;
  font-size: 18px !important;
  text-align: center;
}
.fsimg-mb {
  display: none;
}
@media screen and (max-width: 768px) {
  .fsimg-mb {
    display: block;
  }
  .fsimg-pc {
    display: none;
  }
  .fsimg-text1 {
    top: 7.5%;
    left: 50px;
    width: 75%;
    text-align: center;
  }
  .fsimg-text1 p:first-of-type {
    font-size: 14px !important;
  }
  .fsimg-text1 p {
    font-size: 12px;
  }
  .fsimg-button {
    width: 120px;
    margin: 15px auto;
  }
  fsimg-button a p {
    font-size: 12px !important;
  }
}
