.mblog-item.swiper-slide {
    background: #F6F7FA;
    padding: 20px;
}
.mblog-item.swiper-slide img {
  margin: auto;
}
.mblog-item.swiper-slide .mblog-text p {
      font-size: 14px;
    color: #585757;
}
.section-mrecoby-h2 {
  font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 29px;
}
section-mrecoby .swiper-pagination {
  position: inherit;
  margin-top: 50px;
    margin-bottom: 50px;
}