.baozhang {
  display: grid;
  gap: 33px;
    grid-template-columns: repeat(5, 1fr);
}
.baozhangitem {
    background: #F9F9F9;
    padding: 40px 25px;
}
.baozhang-text p:last-child {
  font-size: 14px;
    color: #666666;
  margin-top: 12px;
  text-align: left;
}
.baozhang-text p:first-child {
  font-size: 20px;
  margin-top: 28px;
}
.baozhang-text strong {
  color: #E64A4B;
}
.baozhang-text {
    text-align: center;
    min-height: 145px;
}
.baozhangitem img {
  margin: auto;
      height: 51px;
}
.baozhang-url {
      display: block;
    margin-top: 15px;
    color: #0093FF;
    font-size: 14px;
  text-align: center;
}
h2.section-baozhang-h2 {
    margin-bottom: 66px;
    text-align: center;
}
.section-template--17129755213993__section_pop_appli_LeCQGc .page-layout-content {
    max-width: 100%;
}
@media screen and (max-width: 768px) {
  .baozhang-text {
    min-height: 133px;
  }
  .h2.section-hpc-swiper-h2 {
    font-size: 18px;
  }
  .baozhang-text p:last-child {
    font-size: 12px;
  }
  .baozhang-text p:first-child {
  font-size: 14px;
}
  .baozhang {
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}
  .baozhangitem {
    padding: 15px;
}
  .baozhangitem:first-child {
    grid-column-end: span 2;
  }
  h2.section-baozhang-h2 {
    margin-bottom: 66px;
    text-align: center;
    font-size: 18px;
}
}