.content {width: 1300px;margin: auto;}
section img {width: 100%;}
.tdsmode {
    display: flex;
    gap: 16px;
}
.tdsmode:nth-of-type(1) {
    margin-bottom: 16px;
}
.tdsmode-left {
    flex: 2;
    background: #F8F8F8;
    padding: 60px 60px 45px 60px;
    box-sizing: border-box;
    position: relative;
}
.tdsmode-right {
    flex: 1;
    background: #F8F8F8;
}
.tdsm {
    display: flex;
    gap: 80px;
    margin-bottom: 20px;
}
.tdsmitem {
    display: flex;
    gap: 10px;
    align-items: center;
}
.ptitle h2 {
    color: #666;
    font-size: 36px;
    margin-bottom: 10px;
}
.ptitle p {
    font-size: 16px;
    color: #666;
}
.plm {
    display: flex;
    gap: 20px;
    padding-bottom: 35px;
}
.stitle h2 {
    font-size: 44px;
    color: #000;
    margin-bottom: 60px;
}
.tdsdes {
    width: 250px;
}
.tdsdes p {
    font-size: 14px;
}
.pbutton {
    padding-top: 30px;
    display: flex;
    align-items: center;
}
.pbutton a{
    text-decoration: none;
    background: #fff;
    padding: 16px;
    color: #000;
}
.pbutton a:last-of-type{
    background: #E6E6E6;
}
.pbutton img {
    width: 28px;
}
.pbutton:last-child a{
    background: #fff;
}
.pimg img {
    width: 264px;
    height: 332px;
}
.pimg {
    text-align: center;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.ptitle1 h2 {
    font-size: 24px;
    text-align: center;
    color: #666666;
}
.pbuttonmode {
    display: flex;
    gap: 40px;
}
.tdsimg {
    height: 33px;
}
.htag {
    width: 190px;
    height: 72px;
    background: #E74A4A;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
    right: 10px;
}
.tabs {
    display: flex;
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 58px;
}

.tab {
    padding: 10px 20px;
    color: #BABABA;
    font-size: 28px;
}

.tab.active {
    color: #E74A4A;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
.pslider {
    padding: 65px;
    background: #F8F8F8;
    text-align: center;
    box-sizing: border-box;
}
.custom-swiper-button-next {
    width: 36px !important;
    height: 36px !important;
    background-image: url(https://cdn.shopify.com/s/files/1/0538/9533/2027/files/mobile_icon_news_left.png);
    background-size: contain;
}
.custom-swiper-button-prev {
    width: 36px !important;
    height: 36px !important;
    background-image: url(https://cdn.shopify.com/s/files/1/0538/9533/2027/files/mobile_icon_news_right.png);
    background-size: contain;

}
.swiper-button-next, .swiper-button-prev {
    color: #00000000 !important;
}
.plink {
    margin-top: 34px;
    display: flex;
    gap: 40px;
}
.plink a {
    flex: 1;
}
.pslidertitle p {
    height: 44px;
}
.pslidertitle h2 {
    height: 66px;
}
.dwritem {
    display: flex;
    background: #fff;
    padding: 30px;
    margin-bottom: 14px;
    align-items: center;
}
.dwr-left {
    background: #F2F2F2;
    flex: 1;
    padding: 30px;
}
.dwr-right {
    background-image: url(https://cdn.shopify.com/s/files/1/0538/9533/2027/files/image-applications-3dprinting_430x.jpg);
    background-size: cover;
    background-position: center;
    width: 592px;
    height: 590px;
}
.dwrmode {
    display: flex;
}
.dwritem p {
    font-size: 24px;
}
.dwritem img {
    width: 30px;
}
.dwritem a {
    flex: 1;
    text-align: right;
}
.modelmode {
    display: flex;
    gap: 36px;
    padding-bottom: 80px;
}

.model h2 {
    color: #fff;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 30px;
}
.model p {
    color: #fff;
    text-align: center;
    font-size: 28px;
    margin-bottom: 80px;
}
.modelitem {
    flex: 1;
}
.er h2 {
    margin-bottom: 30px;
}
.er p {
    margin-bottom: 30px;
}
.tech {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}
.tech-left {
    flex: 2;
}
.tech-right {
    background: #F7F7F7;
    padding: 30px;
    flex: 1;
}
.tech-right h2 {
    font-size: 44px;
}
.tech-right p:first-of-type {
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 30px;
}
tech-right p:last-of-type {
    font-size: 20px;
    color: #666666;
}
.er2mode {
    display: flex;
    gap: 16px;
}
.er2item {
    flex: 1;
    background: #F7F7F7;
}
.er2title {
    padding: 15px;
}
.soical-media {
    display: flex;
    gap: 16px;
}
.smtitle {
    text-align: center;
}
.wesmode {
    display: flex;
    gap: 16px;
    margin-top: 60px;
}
.wesslider {
    flex: 2;
}
.wesright {
    width: 326px;
}
.smitem {
    flex: 1;
}
.blogmode {
    display: flex;
    gap: 16px;
}
.blogitem {
    flex: 1;
    background: #F6F6F6;
}
.blogtitle,.blogurl {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}
.blogurl {
    display: flex;
    margin-bottom: 20px;
}
.blogurl p {
    flex: 1;
}
.blogurl a {
    text-align: right;
    flex: 1;
}
.bloga {
    display: flex;
    align-items: center;
}
.bloga h2,.bloga a {
    flex: 1;
}
.bloga a {
    color: #448EF8;
    text-align: right;
    font-size: 24px;
}
.backf {
    display: flex;
    gap: 96px;
    background: #F5F5F5;
    padding: 40px;
    margin-bottom: 16px;
}
.backfitem {
    flex: 1;
    text-align: center;
}
.backfimg img {
    width: 55px;
    margin-bottom: 25px;
}
.supp {
    display: flex;
    gap: 16px;
}
.sf {
    display: flex;
    gap: 30px;
    background: #F9F9F9;
    padding: 40px;
    align-items: center;
}
.sf:first-of-type {
    margin-bottom: 16px;
}
.supp-left {
    background: #F9F9F9;
    text-align: center;
    padding: 40px;
    flex: 1;
}
.sftitle p {
    padding-bottom: 53px;
    font-size: 20px;
    width: 350px;
}
.sftitle a, .suppstore a {
    color: #448EF8;
    font-size: 24px;
}
.suppstore h2 ,.sf h2{
    font-size: 36px;
    color: #666666;
}
.suppstore img {
    padding-bottom: 40px;
    padding-top: 40px;
}
.supp-right {
    flex: 2;
}
.sfimg {
    text-align: right;
    flex: 1;
}
.sfimg img {
    width: 208px;
}
.tabsliderm {
    display: none;
}
.wtesm {
    display: none;
}
#tab2 .plink {
    margin-top: 50px;
}
.htag h2 {
    font-size: 26px;
    line-height: 70px;
}
@media (min-width: 200px) and (max-width: 768px) {

    .content {
        width: 100%;
    }
    .tdsmode {
        display: block;
    }
    .tdsm {
        display: block;
    }
    .ptitle h2 {
        font-size: 18px;
    }
    .stitle h2 {
        font-size: 20px;
        text-align: center;
    }
    .ptitle p {
        font-size: 14px;
    }
    .plm {
        display: block;
        line-height: 36px;
    }
    .pbutton a {
        padding: 10px;
    }
    .dwrmode {
        display: block;
    }
    .pimg {
        margin-top: 0;
    }
    .tdsmode-right {
        padding-bottom: 30px;
    }
    .tdsmode:last-of-type .pimg {
        padding-top: 30px;
    }
    .htag {
        width: 150px;
        height: 50px;
        font-size: 12px;
        display: none;
    }
    .tabslider {
        display: none;
    }
    .tabsliderm {
        display: block;
    }
    .tabsliderm .tab {
        font-size: 16px;
    }
    .model p {
        font-size: 16px;
    }
    .modelmode {
        display: block;
    }
    .modelitem {
        text-align: center;
        margin-bottom: 10px;
    }
    .tech {
        display: block;
    }
    .tech-right h2 {
        font-size: 20px;
    }
    .tech-right p:first-of-type {
        font-size: 16px;
    }
    .er2mode {
        display: block;
        margin-top: 10px;
    }
    .wtesm {
        display: block;
    }
    .wtes {
        display: none;
    }
    .blogmode {
        display: block;
    }
    .blogtitle h2 {
        font-size: 18px;
    }
    .blogitem {
        padding-bottom: 15px;
    }
    .backf {
        gap: 10px;
        padding: 20px;
        font-size: 14px;
    }
    .supp {
        display: block;
    }
    .sf {
        display: block;
        margin-top: 15px;
    }
    .sfimg {
        text-align: center;
        margin-top: 15px;
    }
   .dwr-right {
     width: 100%;
     display: none;
   }
  iframe {
    width: 100%;
  }
  #shopify-section-template--16738816229611__12b6079d-89fa-4556-b452-fe3bc4e1ac09 {padding-top: 20px;}
  .sftitle p {width: 100%;}
  .tdsmode-left {padding: 30px;}
}
