.section-hpc-swiper .swiper-pagination-bullet-active {
  background: #333333;
}
.section-hpc-swiper .swiper-pagination-bullet {
    width: 32px;
    height: 5px;
    border-radius: 0;
}

.section-hpc-swiper .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
.section-hpc-swiper .swiper-pagination {
  position: relative;
  margin-top: 50px;
}
.section-hpc-swiper .swiper-slide {
    max-width: 820px;
    width: 100%;
    overflow: hidden;
}
h2.section-hpc-swiper-h2 {
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 43px;
}
.section-hpc-swiper .swiper-slide, .swiper-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: 2px;
}
.swdes {
      padding: 17px;
    background: #F6F7F9;
}
.swdes h3 {
      font-size: 22px;
    font-weight: 600;
}
.swdes p {
  font-size: 14px;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 34px;
    height: 45px;
}
.swdes a {
  font-size: 14px;
  color: #0093FF;
}
.h2 {
    font-size: 14px !important;
    color: #000 !important;
    font-weight: 600;
    height: 34px;
}
h2.h2 {
    font-size: 36px;
}
.blog-post-card__info p {
  font-size: 12px;
  color: #666666;
}
.blog-post-card__info {
  padding: 14px;
  background: #F6F7F9;
}
.blog-post-card {
  gap: 0;
}
.blog-post-card__meta .text-sm {
  font-size: 10px;
}
.section-template--16797261889736__section_pop_appli_LeCQGc .page-layout-content {
  max-width: 1920px !important;
}
.section-template--16797261889736__section_pop_appli_LeCQGc {
    padding: 0px 20px;
}
.section-hpc-swiper .swiper-slide:last-child .swdes a {
  visibility: hidden;
}
.section-template--16400159965353__section_pop_appli_LeCQGc .page-layout-content {
    max-width: 100% !important;
}
@media screen and (max-width: 2560px) {
  
}
@media screen and (max-width: 768px) {
  .blog-post-card img {
    height: auto !important;
}
  h3.section-hpc-swiper-h2 {
    font-size: 20px;
  }
  .section-hpc-swiper-h2 {
    font-size: 18px !important;
  }
  .section-hpc-swiper .swiper-slide {
    width: 100% !important;
}
  .swdes p {
    height: auto;
  }
  .blog-post-card__info p:last-child {
    display: none;
  }
  .section-pop-appli-h2 p {
    font-size: 20px !important;
}
  .section-pop-appli-h2 p {
    font-size: 20px;
    margin-bottom: 29px;
    font-weight: 600;
  }
}