.huodong {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 16px;
}
.huodongitem:nth-child(1) {
  grid-column: span 2;
}
.hdtitle {
  color: #FFEDD6;
  text-align: center;
  font-size: 54px;
  margin-bottom: 58px;
}