.huodongass {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 16px;
}

.hdtitle {
  color: #fff;
  text-align: center;
  font-size: 54px;
  margin-bottom: 58px;
}
.hdtext {
  font-size: 36px;
  color: #7E4600;
  text-align: center;
  margin-top: -50px;
}
.aslmbblock {
  margin-bottom: 50px;
}
.aslmb {
    color: #fff;
    font-size: 18px;
    text-align: right;
    display: block;
}
.aslmb:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .huodongass {
  grid-template-columns: repeat(2,1fr);
}
  .hdtitle {
    font-size: 22px;
  }
  .hdtext {
    font-size: 16px;
  }
  .aslmb {
    font-size: 14px;
  }
}