* {
  padding: 0;
  margin: 0;
}
.mobile_inspire_banner img {width: 100%;}

.contain {
  display: block;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
}
.hotimg img {
  width: 100%;
}
.rjright img {
  width: 100%;
}
section {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}
.full-width {
  width: 100vw;
}
.submenu {
  display: flex;
  height: 105px;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}
.subname {
  width: 40%;
  font-size: 21px;
}
.subm {
  display: flex;
  gap: 30px;
  width: 40%;
}
.subm a {
  color: #737373;
  font-size: 22px;
}
.buybutton {
  padding: 8px 45px;
  border-radius: 30px;
  background: #e84a49;
}
.buybutton a {
  color: #fff;
  font-size: 22px;
}
.supbgtitle {
  margin-top: 120px;
  margin-bottom: 60px;
}
.suptltle {
  background: #f4f2f2;
  opacity: 1;
  text-align: center;
}
.suptltle h2 {
  font-size: 36px;
  padding: 23px 451px;
}
.ov {
  display: flex;
  align-items: center;
}
.ovp {
  flex: 1;
}
.ovp:first-of-type {
  text-align: center;
}
.ovp h2 {
  font-size: 36px;
  color: #494949;
}
.ovp p {
  font-size: 18px;
  color: #000;
  line-height: 27px;
}
.hotimg {
  display: flex;
  gap: 16px;
}
.imgl {
  flex: 1;
}
.imgr {
  flex: 1;
}
.imgd {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.imgr img:last-of-type {
  margin-top: 16px;
}
.binmode {
  display: flex;
  gap: 16px;
}
.binitem {
  flex: 1;
}
.binitem h2 {
  margin-bottom: 60px;
  line-height: 48px;
  font-size: 32px;
  color: #494949;
}
.features {
  display: flex;
  gap: 16px;
  margin-bottom: 60px;
}
.features img {
  flex: 1;
}
.blackp {
  color: #000;
}
.ftitle {
  width: 700px;
}
.ftitle h2 {
  color: #494949;
  font-size: 36px;
  margin-bottom: 20px;
}
.ftitle p {
  font-size: 24px;
  color: #86868a;
}
.tab-menu {
  display: flex;
  position: relative;
  border-bottom: solid 2px #bababa;
  padding-bottom: 15px;
  padding-top: 14px;
}
.tab-item {
  flex: 1;
  cursor: pointer;
  text-align: center;
  color: #bababa;
  font-size: 20px;
}
.tab-item.active {
  color: #fff;
  font-weight: 600;
}
.tab-line {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  background-color: #ccc;
  width: 33.33%;
  transition: all 0.3s ease;
}
.tab-line.active {
  background-color: #49a7ec;
}
.tab-content {
  border-radius: 0 0 5px 5px;
  padding-top: 30px;
}
.tab-panel {
  display: none;
}
.tab-panel.active {
  display: block;
}
.mediaitem {
  height: 508px;
  display: flex;
  gap: 16px;
}
.mediaright {
  width: 440px;
}
.medialeft {
  width: 744px;
  background: #242525;
}
.mediaright h2,
.mediaright p,
.mediaright span {
  color: #000;
}
.mediaright p:first-of-type {
  line-height: 26px;
  color: #2f2f2f;
}
.mediaright h2 {
  margin-bottom: 16px;
}
.mediaright img {
  height: 508px;
}
.f1title {
  display: flex;
}
.f1title h2 {
  font-size: 36px;
  color: #494949;
  flex: 1;
}
.f1title p {
  font-size: 24px;
  color: #86868a;
  flex: 1;
}
.subf {
  text-align: center;
  font-size: 32px;
  color: #494949;
  box-shadow: 0 3px 6px #00000029;
}
.subf h2 {
}
.f2title {
  display: flex;
}
.f2h2 {
  flex: 1;
}
.f2p {
  flex: 1;
}
.bl h2:first-of-type {
  font-size: 36px;
  color: #494949;
}
.bl h2:last-of-type {
  font-size: 48px;
  color: #494949;
}
.bl p {
  font-size: 25px;
  color: #86868a;
}
.blc {
  color: #ffbc29;
}
.rjmode {
  display: flex;
  gap: 16px;
}
.rjleft {
  text-align: center;
  background: #f6f6f6;
  padding: 40px;
  flex: 1;
}
.rjleft img {
  width: 175px;
  display: inline;
}
.rjright {
  flex: 3;
}
.rjleft h2 {
  font-size: 32px;
  color: #494949;
  margin-top: 16px;
  margin-bottom: 20px;
}
.rjleft p {
  color: #666;
  line-height: 25px;
  margin-bottom: 30px;
}
.rjleft a {
  color: #448ef8;
  font-size: 20px;
  margin-top: 30px;
}
.rjleft a:hover {
  border-bottom: solid 1px #448ef8;
}
.buzz {
  margin-bottom: 60px !important;
}
.mySwiper {
  width: 896px;
  height: 430px;
}
.mySwiper1 {
  width: 1200px;
  height: 162px;
}
.slmode {
  display: flex;
  gap: 16px;
}
.swiper-right {
  flex: 1;
}
section .swiper-slide img {
  height: 430px;
}
.swiper-button-next {
  color: #fff !important;
}
.swiper-button-prev {
  color: #fff !important;
}
.swiper-pagination-bullet-active {
  background: #fff !important;
}
.models {
  background: #000;
}
.models h2 {
  font-size: 48px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 60px;
}
.models p {
  font-size: 24px;
  color: #fff;
  text-align: center;
}
.modelsmode {
  display: flex;
  gap: 16px;
  margin-top: 60px;
  padding-bottom: 120px;
}
.modelsitem {
  flex: 1;
}
.applmode {
  display: flex;
  gap: 16px;
}
.applitem {
  flex: 1;
}
.appitemp h2 {
  font-size: 20px;
  color: #494949;
  margin-bottom: 10px;
}
.appitemp p {
  font-size: 12px;
  color: #666;
}
.appitemp {
  padding: 20px;
  background: #f8f8f8;
  height: 160px;
}
.youtu {
  padding-bottom: 120px;
}
.youtu h2 {
  font-size: 48px;
  text-align: left;
  margin-bottom: 60px;
}
.accessitem {
  display: flex;
  gap: 16px;
  margin-top: 30px;
}
.accessimg img {
  flex: 1;
  box-shadow: 0 3px 6px #00000029;
  width: 295px;
}
.accesstitle {
  flex: 1;
  padding: 40px 40px 40px 76px;
  box-shadow: 0 3px 6px #00000029;
}
.accesstitle img {
  width: 166px;
}
.accesstitle h2 {
  font-size: 32px;
  color: #000;
}
.accesstitle p {
  font-size: 18px;
  line-height: 27px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 24px;
}
.ass {
  font-size: 52px;
  color: #494949;
}
.sup {
  display: flex;
  gap: 16px;
}
.supitem {
  display: flex;
  gap: 50px;
  padding: 45px;
  background: #f9f9f9;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 9px;
}
.supitem:last-of-type {
  margin-top: 16px;
}
.sup-left {
  padding: 80px;
  background: #f9f9f9;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 9px;
}
.sup-left img {
  width: 180px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.sup-left h2 {
  font-size: 32px;
  color: #494949;
}
.sup-left a {
  font-size: 20px;
  color: #448ef8;
  line-height: 50px;
}
.sup-left a:hover {
  border-bottom: solid 1px #448ef8;
}
.supitem-l h2 {
  font-size: 32px;
  color: #666;
}
.supitem-l p {
  font-size: 16px;
  color: #000;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 55px;
}
.supitem-l a {
  font-size: 20px;
  color: #448ef8;
}
.supitem-l a:hover {
  border-bottom: solid 1px #448ef8;
}
.supitem-l {
  width: 465px;
}
.mobile_inspire_banner {
  display: none;
}
.mcd {
  display: none;
}
.mfea {
  display: none;
}
.mcvi {
  display: none;
}
.blm {
  display: none;
}
.mrs5 {
  display: none;
}
.buzzm {
  display: none;
}
.mguide {
  display: none;
}
.mssm {
  display: none;
}
.inspire_banner {
  position: relative;
  margin-top: 105px;
  background: #000;
}
.bannertitle {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
}
.bannertitle h2 {
  font-size: 58px;
  color: #fff;
}
.bannertitle p {
  font-size: 24px;
  margin-top: 24px;
  color: #fff;
}
.bannerbutton {
  padding-top: 80px;
}
.bannerbutton a:first-of-type {
  padding: 6px 20px 6px 19px;
  background: #fff;
  color: #e74a4a;
  border-radius: 30px;
  border: 1px solid #e74a4a;
  font-size: 16px;
}
.bannerbutton a:last-of-type {
  padding: 6px 20px 6px 19px;
  background: #e74a4a;
  color: #fff;
  border-radius: 30px;
  border: 1px solid #e74a4a;
  font-size: 16px;
  margin-left: 20px;
}
.mvideo {
  display: none;
}
.submenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e9e9e9;
  z-index: 1000;
}
.sticky {
  position: fixed;
  top: 0;
  animation: fadeInDown 0.3s;
}
.mspectable {
  display: none;
}
@media (min-width: 200px) and (max-width: 768px) {
  a {
    font-size: 12px !important;
  }
  section {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .content {
    max-width: 100%;
    padding: 20px;
  }
  .full-width {
    width: 100%;
  }
  .suptltle h2 {
    padding: 0;
    font-size: 24px;
    height: 59px;
    line-height: 59px;
  }
  .submenu {
    display: none;
  }
  .mobile_inspire_banner {
    display: block;
  }
  .inspire_banner {
    display: none;
  }
  .ov {
    display: none;
  }
  .hotimg {
    display: block;
  }
  .imgd {
    margin-top: 1px;
    margin-bottom: 6px;
    gap: 6px;
  }
  .imgd img {
    width: 49%;
  }
  .imgr img:last-of-type {
    margin-top: 1px;
  }
  .cd {
    display: none;
  }
  .mcd {
    display: block;
  }
  .binmode {
    display: block;
  }
  .binitem h2 {
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .binitem:last-of-type {
    margin-top: 20px;
  }
  .ftitle {
    width: 100% !important;
    text-align: center;
  }
  .ftitle h2 {
    font-size: 20px;
  }
  .ftitle p {
    font-size: 14px;
  }
  .mediaitem {
    height: auto;
    display: block;
  }
  .medialeft {
    width: 100%;
  }
  .mediaright {
    width: 100%;
  }
  .mediamode {
    display: none;
  }
  .mfea {
    display: block;
  }
  .fea {
    display: none;
  }
  .mfea .ftitle {
    margin-bottom: 20px;
  }
  .f1title {
    display: block;
    text-align: center;
  }
  .f1title h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .f1title p {
    font-size: 14px;
  }
  .features {
    display: block;
  }
  .subf {
    display: none;
  }
  .f2title {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  .mcvi {
    display: block;
  }
  .cvi {
    display: none;
  }
  .blpc {
    display: none;
  }
  .blm {
    display: block;
  }
  .bl h2:last-of-type {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .bl p {
    font-size: 14px;
  }
  .rs5 {
    display: none;
  }
  .mrs5 {
    display: block;
  }
  .buzzpc {
    display: none;
  }
  .buzzm {
    display: block;
  }
  .buzz {
    margin-bottom: 20px !important;
    margin-top: 40px;
  }
  .slmode {
    display: block;
  }
  .swiper-right {
    display: none;
  }
  .mySwiper {
    width: 100%;
    height: auto;
  }
  .modelsmode {
    display: block;
    padding-bottom: 40px;
  }
  iframe {
    width: 100%;
    height: 342px;
  }
  .applmode {
    display: block;
  }
  .ass h2 {
    font-size: 32px;
    text-align: center;
  }
  .accessitem {
    display: block;
    box-shadow: 0 3px 6px #00000029;
  }
  .sup {
    display: block;
  }
  .mySwiper1 {
    display: none;
  }
  .accesstitle {
    height: auto;
    padding: 20px;
    text-align: center;
    box-shadow: inherit;
  }
  .youtu h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  .models p {
    font-size: 14px;
  }
  .models h2 {
    font-size: 20px;
  }
  .modelsitem.sec {
    display: none;
  }
  .modelsitem:last-of-type {
    display: none;
  }
  .sup-left {
    padding: 0;
    background: inherit;
    box-shadow: inherit;
  }
  .sup-left h2 {
    font-size: 20px;
    margin-top: 40px;
  }
  .mguide {
    display: block;
  }
  .guide {
    display: none;
  }
  .supitem {
    padding: 20px;
    gap: 8px;
  }
  .supitem-l {
    width: auto;
  }
  .supitem-l h2 {
    font-size: 20px;
  }
  .supitem-l p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .sup-left p {
    color: #666;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .swiper-slide img {
    height: auto;
  }
  .accesstitle p {
    color: #666;
    font-size: 16px;
  }
  .mssm {
    display: block;
  }
  .accessimg img {
    width: 100%;
    box-shadow: inherit;
  }
  .mvideo {
    display: block;
  }
  .youtu {
    padding-bottom: 20px;
  }
  .applitem {
    padding-bottom: 30px;
  }
  .accessimg {
    margin-bottom: -17px;
  }
  .supbgtitle {
    margin-top: 70px;
  }
  .spectable {
    display: none;
  }
  .mspectable {
    display: block;
  }
}
