.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 15px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item img {
  max-width: 100%;
  height: auto;
}
.ovtext p:first-of-type {
    font-size: 36px;
    font-weight: 600;
}
.ovtext {
  position: absolute;
  color: #fff;
  text-align: center;
  bottom: 80px;
}
.item1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.item2 {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
  position: relative;
}

.item3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.item4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.item5 {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.item6 {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
}
.inspiretitle {
  font-size: 36px;
  font-weight: 600;
  padding: 23px 451px;
  background: #f4f2f2;
  opacity: 1;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .section-specifications-h2 {
    height: auto !important;
    line-height: 60px !important;
  }
  .inspiretitle {
  font-size: 22px;
  font-weight: 600;
  padding: 10px;
 }
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
}
  .item3,
  .item4 {
    grid-column: span 2;
    grid-row: inherit;
}
  .item1,
  .item2,
  .item5,
  .item6 {
    grid-row: inherit;
    grid-column: span 4;
  }
}