.product-comparison-header {
    height: 120px;
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 145px;
}

.product-comparison-header .h1 {
    font: normal normal bold 36px/55px Poppins;
    letter-spacing: 0px;
    color: #494949;
}

.product-comparison-container,
.product-comparison-row {
    /* display: grid;
    width: 100%; */
}
.product-comparison-container {
    margin-top: 60px;
    /* flex-direction: column; */
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.product-comparison-row {
    background-color: #fff;
    border-bottom: 1px solid rgb(202, 202, 202);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.product-comparison-row-1 {
    border: none;
}
.product-comparison-row-1.product-comparison-sticky {
    position: sticky;
    top: 65px;
    z-index: 1;
}
.product-comparison-col {
    /* flex: 1 0 0; */
    /* border-bottom: 1px #979797 solid; */
    display: flex;
    justify-content: center;
    width: 100%;
}
.product-comparison-item,
.product-comparison-info {
    max-width: 180px;
    width: 100%;
}
.product-comparison-item{
    padding: 40px 0;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    font-family: Poppins;
    font-style: normal;
    font-weight: medium;
    letter-spacing: 0px;
    color: #494949;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 180px;
    height: 100%;
}
.product-comparison-price{
    text-align: center;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    color: #494949;
    margin-top: 15px;
}
.product-comparison-type {
    text-align: left;
    font: normal normal 600 20px/30px Poppins;
    letter-spacing: 0px;
    color: #000000;
    max-width: 95%;
    justify-content: flex-start;
    width: 100%;
}
.product-comparison-img {
    margin-top: 40px;
    box-shadow: 0px 1px 3px #49494952;
}

.product-comparison-link {
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    font-family: Cabin;
    letter-spacing: 0px;
    color: #e74a4a;
    display: block;
    margin-top: 15px;
    text-align: center;
}
.product-comparison-tab-text {
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-size: 24px;
    font-family: Poppins;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
    background-color: #f7f7f7;
    column-gap: 20px;
    width: 100%;
}
.product-comparison-tab-text:hover {
    opacity: 0.9;
    cursor: pointer;
}
.product-comparison-tab-text .icon {
    transition: transform 0.3s;
}
.product-comparison-tab-text.active .icon {
    transform: rotate(180deg);
}

.hide {
    display: none;
}

.product-comparison-tab {
    position: relative;
}
.product-comparison-tab-down {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    top: 52px;
    left: 0;
    display: none;
    /* height: 0;
    opacity: 0;
    z-index: -99;
    transition: height 0.3s; */
}
.product-comparison-tab-down.active {
    height: auto;
    opacity: 1;
    z-index: 2;
}

.product-comparison-tab-item {
    font: normal normal normal 20px/30px Poppins;
    letter-spacing: 0px;
    color: #000000;
    padding: 10px 20px;
    /* cursor: pointer; */
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    margin: 2px 0;
}
.product-comparison-tab-item:disabled {
    background-color: #ededed;
}
.product-comparison-tab-item.active {
    background-color: #ededed;
    font-weight: 600;
}
.product-comparison-tab-item:hover {
    background-color: #ededed;
}
.product-comparison-tab-item .icon {
    opacity: 0;
    transition: opacity 0.3s;
}
.product-comparison-tab-item.active .icon {
    opacity: 1;
}

.comparison_checkbox-label {
    font: normal normal 600 24px/35px Poppins;
    letter-spacing: 0px;
    color: #000000;
}
.comparison_checkbox-wrad {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    column-gap: 20px;
}
.comparison_checkbox-wrad input {
    height: 20px;
    width: 20px;
}

.product-comparison-footer {
    margin-top: 60px;
    text-align: left;
    font: normal normal normal 16px/32px Poppins;
    letter-spacing: 0px;
    color: #000000;
}

.product-comparison-footer strong {
    font: normal normal normal 20px/32px Poppins;
}

.visibility-hidden{
    visibility: hidden;
}
@media screen and (max-width: 768px) {
    /* .product-comparison-price {
        margin-top: 15px;
    } */
    .product-comparison-container {
        margin-top: 30px;
    }
    .product-comparison-row .product-comparison-col:last-child {
        display: none;
    }
    .product-comparison-row {
        grid-template-columns: repeat(4, 1fr);
    }
    .product-comparison-item {
        font-size: 14px;
    }
    .product-comparison-item.product-comparison-type {
        font-size: 18px;
    }

    .product-comparison-row-n .product-comparison-col:first-child {
        grid-area: 1 / 1 / span 1 / span 4;
        margin-bottom: 10px;
        justify-content: flex-start;
    }
    .product-comparison-row-n .product-comparison-col:nth-child(2) {
        grid-area: 2 / 1 / span 1 / span 2;
    }

    .product-comparison-row-n .product-comparison-col:nth-child(3) {
        grid-area: 2 / 3 / span 3 / span 2;
    }
    .product-comparison-item {
        padding: 0;
        align-items: flex-start;
    }
    .product-comparison-row-n {
        padding: 15px 0;
    }
    .product-comparison-header {
        height: 60px;
        background-color: #eee;
        margin-top: 0;
    }
    .product-comparison-header .h1 {
        font: normal normal bold 20px/30px Poppins;
    }

    .product-comparison-row-1 .product-comparison-col:nth-child(1) {
        grid-area: 2 / 1 / span 2 / span 4;
    }
    .product-comparison-row-1 .product-comparison-col:nth-child(2) {
        grid-area: 1 / 1 / span 1 / span 2;
        margin-right: 5px;
    }
    .product-comparison-row-1 .product-comparison-col:nth-child(3) {
        grid-area: 1 / 3 / span 1 / span 2;
        margin-left: 5px;
    }
    .product-comparison-img {
        /* margin-top: 10px;
        box-shadow: none;
        border-radius: 4px;
        border: 1px solid rgba(246, 246, 246, 1); */
        display: none;
    }
    .comparison_checkbox-wrad {
        flex-direction: row-reverse;
        justify-content: center;
        margin: 20px 0;
    }
    .comparison_checkbox-label {
        font-size: 20px;
    }
    .product-comparison-link {
        font-size: 20px;
        line-height: 1;
        margin-top: 15px;
    }
    .product-comparison-footer,
    .product-comparison-footer strong {
        font: normal normal normal 14px/24px Poppins;
        letter-spacing: 0px;
        color: rgba(73, 73, 73, 1);
    }
    .product-comparison-footer {
        margin-top: 20px;
    }
    .product-comparison-tab-text {
        font: normal normal 600 18px/27px Poppins;
        height: 45px;
        border-radius: 4px;
    }
    .product-comparison-tab-item {
        font-size: 16px;
        line-height: 1;
        padding: 5px 20px;
    }
    .product-comparison-tab-down {
        padding-top: 0;
        top: 45px;
    }
    .product-comparison-tab-item .icon {
        height: 25px;
    }
    .product-comparison-footer p {
        margin-bottom: 10px;
    }
    /* .product-comparison-container .product-comparison-row:nth-child(2){
        display: none;
    } */
}
