.recoby {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.recoby-item {
  position: relative;
}

.redefault {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #F6F7F9;
  padding: 50px 35px;
}

.redefault img {
  width: 100%;
  height: auto;
}

.recoby-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease, width 0.3s ease;
  padding: 18px 25px;
  background: #F6F7F9;
  z-index: 1;
}

.recoby-overlay img {
  width: 120px;
  height: auto;
}

.recoby-overlay h2,
.recoby-overlay p {
  color: white;
}

.recoby-item:hover .recoby-overlay {
  opacity: 1;
  max-width: 800px;
  height: 350px;
  z-index: 2; 
}
.recoby-item .redefault,
.recoby-item .recoby-overlay {
  transition: width 0.8s ease, opacity 0.8s ease, margin 0.8s ease; 
}

.recoby-item:hover .redefault {
  opacity: 0;
  margin-right: 240px;
}

.recoby-item:hover .redefault {
  opacity: 0;
}

.recoby-overlay h2 {
  color: #000;
  font-size: 16px;
  margin-top: 15px;
  font-weight: 600;
}

.recoby-overlay p {
  color: #585757;
  font-size: 12px;
}

.section-pop-appli-h2 p {
  font-size: 36px;
}

.section-pop-appli-container {
  margin-top: 0;
}
 .section-pop-appli-item {
    background: #f0f0f0;
    border-radius: 0 0 15px 15px;
}
.section-pop-appli-ward {
  background: inherit;
  border-radius: 35px;
}
.section-pop-appli-container .swiper-button-next, 
.section-pop-appli-container .swiper-button-prev {
  display: none;
}
.recoby-overlay .swiper-button-next, .recoby-overlay .swiper-button-prev {
  top: 93%;
  background: #707070;
  width: 29px;
  height: 30px;
}
.recoby-overlay .swiper-button-prev {
    left: 230px;
}
.recoby-overlay .swiper-button-next {
    right: 15px;
}
@media screen and (max-wid: 1800px) {
  .recoby-item:hover .recoby-overlay {
    width: 450px;
  }
}
