.section-applications-h2{
    font-size: 52px;
    font-family: Poppins;
    font-weight: bold;
    color: #494949;
    text-align: center;
}
.section-applications-container{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px 15px;
}
.section-applications-item {
    background-color: #F8F8F8;
}
.section-applications-item img{
    display: block;
    width: 100%;
    height: auto;
}
.section-applications-ward{
    padding: 1.0417vw;
}

.section-applications-title{
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
    color: #494949;
}
.section-applications-text{
    font-size: 12px;
    font-family: Poppins;
    font-weight: 500;
    color: #666666;
    margin-top: 10px;
}

@media screen and (min-width: 1921px) {
    .section-applications-ward{
        padding: 20px;
    }
}
@media screen and (max-width: 768px) {
    .section-applications-h2{
        font-size: 24px;
    }
    .section-applications-container{
        margin-top: 44px;
        grid-template-columns: repeat(1,1fr);
    }
    .section-applications-ward{
        padding: 22px 13px 15px;
    }
    .section-applications-title{
        font-size: 24px;
    }
    .section-applications-text{
        font-size: 12px;
    }

}