.section-trusted-h2{
    font: normal normal 600 44px/65px Poppins;
    letter-spacing: 0px;
    color: #494949;
}
.section-trusted-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 50px;
}
.section-trusted-item img{
    display: block;
    height: 80px;
    width: auto;
    margin: 0 auto;
}
.section-trusted-item-text{
    text-align: center;
    margin-top: 20px;
    font: normal normal normal 20px/30px Poppins;
    letter-spacing: 0px;
    color: #86868A;
}

@media screen and (max-width: 768px) {
    .section-trusted-h2{
        font: normal normal 600 28px/25px Poppins;
        text-align: center;
    }
    .section-trusted-item-text{
        font: normal normal normal 12px/18px Poppins;
        margin-top: 10px;
        color: #090405;
    }
    .section-trusted-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px 8px;
    }
    .section-trusted-item{
        width: calc(33.333% - 8px);
    }
    .section-trusted-item img{
        height: 48px;
    }

}