/* .section-range-banner {
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 700px;
} */

.section-range-banner-h1 {
    font-size: 55px;
    font-family: Poppins;
    font-weight: 600;
    color: #fff;
}
.section-range-banner-text {
    font-size: 28px;
    font-family: Poppins;
    font-weight: 500;
    color: #fff;
    margin-top: 14px;
}
.section-range-banner-link,
.section-range-banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 400;
    color: #ffffff;
    width: 221px;
    background-color: #d61518;
    border-radius: 100px;
}
.section-range-banner-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 74px;
}
.section-range-banner-btn {
    background-color: transparent;
    border: 1px solid #fff;
    margin-right: 50px;
}
.section-range-banner-btn svg {
    display: block;
    margin-left: 10px;
}
.section-range-banner-link:hover,
.section-range-banner-btn:hover {
    opacity: 0.8;
}

.section-range-banner-container {
    position: relative;
    height: 900px;
}
.section-range-banner-video {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
}
.section-range-banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 223px;
}
.section-range-banner-icon {
    margin: auto;
    margin-bottom: 67px;
    max-width: 249px;
    display: block;
}
.section-range-banner-modal{
    position: fixed;
    z-index: -10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: none;
}
.section-range-banner-modal.open{
    z-index: 99999;
    display: block;
}
.section-range-banner-modal-content{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
}
.section-range-banner-video-modal{
    display: block;
    max-width: 1200px;
    height: auto;
}
.section-range-banner-modal-close{
    position: absolute;
    right: 30px;
    top: 30px;
    color: #fff;
    background-color:#545454;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-range-banner-icon svg{
    color: red;
}
@media screen and (min-width: 1921px) {
    .section-range-banner-container {
        height: 46.875vw;
    }
    .section-range-banner-content {
        padding-top: 11.6146vw;
    }
    /* .section-range-banner {
        height: 36.4583vw;
        background-size:  auto 36.4583vw;
    } */
}

@media screen and (max-width: 768px) {
    .section-range-banner-container {
        height: 565px;
    }
    .section-range-banner .page-layout-content {
        height: 100%;
    }
   
    .section-range-banner-btn svg{
        width: 10px;
        margin-left: 3px;
    }
    .section-range-banner {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .section-range-banner-content {
        justify-content: flex-end;
        text-align: center;
        height: 100%;
        padding-top: 0;
        background-color: transparent;
    }
    .section-range-banner-h1 {
        font-size: 26px;
        color: #0A0A0A;
    }
    .section-range-banner-text {
        font-size: 14px;
        margin-top: 8px;
        color: #0A0A0A;
    }
    .section-range-banner-link,.section-range-banner-btn {
        height: 30px;
        padding: 0 5px;
        font-size: 14px;
    
        align-self: center;
        max-width: 130px;
    }
    .section-range-banner-btn{
        margin-right: 30px;
        border-color: #0A0A0A;
        color: #0A0A0A;
    }
    .section-range-banner-btn path{
        fill: #0A0A0A;
    }
    .section-range-banner-btns{
        margin-top: 28px;
    }
    .section-range-banner-icon{
        margin: 36px 0 17px;
        max-width: 142px;
    }
    .section-range-banner-video{
        display: none;
    }
}
