.section-made-h2{
    font-size: 48px;
    font-family: Poppins;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

.section-made-text{
    margin-top:19px;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}
.section-made-container{
    margin-top: 60px;
}

.section-made-container .section-made-slide{
    height: 389px;
    position: relative;
}
.section-made-slide iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.section-swiper-button{
    display: none;
}
@media screen and (min-width: 1921px){
    .section-made-slide{
        height: 389px;
    }
    
}

@media screen and (max-width: 768px) {
    .section-made-container .section-made-slide{
        height: 342px;
    }
    .section-made-h2{
        font-size: 20px;
    }
    .section-made-text{
        font-size: 14px;
        margin-top: 9px;
    }
    .section-made-container{
        margin-top: 21px;
    }
    .section-swiper-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 23px;
    }
    .swiper-button-prev-cu img {
        transform: rotate(180deg);
    }
    .section-made-container .swiper-pagination{
        width: fit-content !important;
        margin: 0 auto;
        right: 0;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 4px 14px;
        border-radius: 100px;
    }
    .section-made-container .swiper-pagination-bullet{
        background-color:rgb(186, 186, 186);
        opacity: 1;
    }
    .section-made-container .swiper-pagination-bullet-active{
        background-color: rgb(83, 83, 83);
        width: 20px;
        border-radius: 100px;
    }
}