.backf {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4,1fr);
  background: #f9f9f9;
  padding: 40px;
  margin-bottom: 16px;
}
.sup {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3,1fr);
}
.supitem {
  background: #F6F7F9;
  padding: 30px;
}
.supitem:nth-child(1) {
    grid-row: span 2;
    text-align: center;
    align-items: center;
    display: grid;
}
.supitem:nth-child(1) p {
  `margin-top: 30px;
  margin-bottom: 30px;
}
.supitem:nth-child(2),
.supitem:nth-child(3) {
  grid-column: span 2;
  display: flex;
  text-align: left;
  align-items: center;
  gap: 30px;
}

.supitem:nth-child(2) .suptitle,
.supitem:nth-child(3) .suptitle {
  flex: 2;
}
.supitem:nth-child(3) .supimg,
.supitem:nth-child(2) .supimg {
  flex: 1;
}
.supa a {
    color: #448ef8;
    font-size: 20px;
    margin-top: 30px;
    display: block;
}
.supitem .suptitle h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
.supitem h2 {
  font-size: 20px;
}
.supa a:hover {
  text-decoration: underline;
}
h2 {
  font-size: 36px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .backf {
    padding: 10px 0;
    grid-template-columns: repeat(2,1fr);
  }
  .sup {
    grid-template-columns: repeat(1,1fr);
    gap: 0;
  }
  .supitem {
    margin-bottom: 16px;
  }
  .supitem .suptitle h2 {
    font-size: 18px;
 }
  .supitem .suptitle p {
    font-size: 14px;
 }
  .supa a {
    font-size: 16px;
  }
}