.section-abre-h2 p {
  font-size: 48px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 45px;
  display: block;
}
.section-abre-text1,.section-abre-text2 p {
  font-size: 18px;
  text-align: center;
  display: block;
  padding: 0 50px;
}
.section-abre-text2 {
  margin-top: 30px;
}
p {
  font-family: Poppins
}
#section-template--16621047873736__section_pop_appli_FycNgp
  .section-pop-appli-ward {
  display: none;
}
#shopify-section-template--16621047873736__section_pop_appli_FycNgp {
  padding-bottom: 80px;
}
.page-layout.section-template--16621047873736__section_pop_appli_FycNgp {
    background: #F5F5F5;
}
@media screen and (max-width: 768px) {
  .section-abre-h2 p {
    font-size: 20px;
  }
  .section-abre-text1, .section-abre-text2 p {
    font-size: 14px;
    padding: 0 12px;
}
}