:root{
    --swiper-theme-color: #727272 !important;
    --swiper-navigation-size: 36px !important;
}
.section-buzz-container{
    margin-top: 60px;
    width: 100%;
}
.section-buzz-content{
    margin-top: 60px;
    display: flex;
    column-gap: 16px;
    width: 100%;
    max-width: 1200px;
}
.section-buzz-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
   
}
.section-buzz-item img{
    display: block;
    max-width: 237px;
    margin: 0 auto;
}
.section-buzz-item-text{
    font-size: 24px;
    font-family: Poppins;
    font-weight: 400;
    color: #000000;
    margin-top: 20px;
    text-align: center;
    max-width: 600px;
}
.section-buzz-line{
    display: none;
}

.section-buzz-right{
    max-width: 288px;
}
.section-buzz-left{
    background-color: #f7f7f7;
}
.section-buzz-left .swiper-pagination-bullet-active{
    width: 37px;
    border-radius: 100px;
}
.section-buzz-left .swiper-pagination{
    bottom: 25px;
}
.section-buzz-left .swiper-button-next{
    right: 50px;
}

.section-buzz-left  .swiper-button-prev{
    left: 50px;
}

.section-buzz-h2{
    font-size: 48px;
    font-family: Poppins;
    font-weight: bold;
    color: #494949;
}
@media screen and (max-width: 768px) {
    .section-buzz-left .swiper-pagination{
        position: relative;
        bottom: 30px;
    }
    .section-buzz-h2 {
        font-size: 20px;
        text-align: center;
    }
    .section-buzz-item-text{
        font-size: 14px;
        margin-top: 0;
    }
    .section-buzz-container{
        margin-top: 20px;
    }
    .section-buzz-line{
        display: block;
        max-width: 224px;
        width: 100%;
        margin: 20px auto;
        height: 1px;
        background-color: #D8D8D8;
    }
    .section-buzz-content{
        margin-top: 0;
    }
    .section-buzz-content .swiper-button-next,.section-buzz-content .swiper-button-prev{
        display: none;
    }
    .section-buzz-item{
        flex-direction: column-reverse;
        padding: 0;
        padding-bottom: 40px;
        justify-content: space-between;
        
    }
    .section-buzz-item img{
        max-height: 42px;
        width: auto;
    }
    .section-buzz-right{
        display: none;
    }
    .section-buzz-left{
        background-color: transparent;
    }
   
    :root{
        --swiper-theme-color: #000 !important;
        --swiper-navigation-size: 26px !important;
    }
}