h2,
p {
  font-family: Poppins, Poppins;
}
h2 {
  font-weight: 600;
}
.section-video-title-h2 {
  font-size: 48px;
  font-family: Poppins;
  font-weight: bold;
  color: #000;
  text-align: center;
}
.section-video-title-text {
  font-size: 21px;
  font-family: Poppins, Poppins;
  color: #000;
  text-align: center;
  margin: 20px auto 0;
  max-width: 1200px;
}
.section-video-title-text strong {
  font-weight: 600;
  color: #de6a10;
}
.section-video-title {
  margin-top: 60px;
}
.section-video-title img,
.section-video-title video {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.section-video-title-container {
  display: flex;
  margin-top: 20px;
  column-gap: 20px;
}
.section-video-title-item {
  flex: 1 0 0;
  background-color: #f7f7f7;
  padding: 53px;
  display: flex;
  column-gap: 46px;
  align-items: center;
}
.section-video-title-item img {
  max-height: 154px;
  display: block;
  width: auto;
}
.video-title-item-text {
  font-size: 26px;
  font-family: Poppins, Poppins;
  font-weight: 400;
  color: #000000;
}
.video-title-item-text strong {
  font-size: 52px;
  font-weight: bold;
  background: linear-gradient(269deg, #f4a45f 0%, #da6002 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  line-height: 60px;
}
.morelink {
  font-size: 18px;
  color: #2680ea;
  display: block;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 34px;
}
@media screen and (max-width: 768px) {
  .section-video-title-h2 {
    font-size: 20px;
  }
  .section-video-title-text {
    font-size: 14px;
    margin-top: 12px;
    max-width: 342px;
  }
  .section-video-title {
    margin-top: 20px;
  }
  .section-video-title-container {
    margin-top: 7px;
    column-gap: 6px;
  }
  .section-video-title-item img {
    max-height: 55px;
  }
  .section-video-title-item {
    padding: 10px;
    padding-right: 0;
    column-gap: 10px;
  }
  .video-title-item-text {
    font-size: 12px;
    line-height: normal;
  }
  .video-title-item-text strong {
    font-size: 18px;
    line-height: 1;
  }
}
