.section-pop-acc-h2 {
  font: normal normal bold 52px/78px Poppins;
  letter-spacing: 0px;
  color: #494949;
}

.section-pop-acc-container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
}
.section-pop-acc-img {
  width: 100%;
}
.section-pop-acc-img img {
  max-width: 180px;
  margin: 0 auto;
  display: block;
}
.section-pop-acc-item {
  padding-top: 24px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-pop-acc-text {
  font: normal normal 600 21px/31px Poppins;
  letter-spacing: 0px;
  color: #666666;
  text-align: center;
}
.section-pop-acc-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 82px;
  background-color: #f8f8f8;
  font: normal normal 400 24px/35px Poppins;
  letter-spacing: 0px;
  color: #e74a4a;
  margin-top: 60px;
}

.section-pop-acc-ward {
}
@media screen and (max-width: 768px) {
  .section-pop-acc-h2 {
    font: normal normal bold 24px/35px Poppins;
    text-align: center;
  }
  .section-pop-acc-item {
    background-color: #fff;
    padding-bottom: 18px;
    padding-top: 0;
  }
  .section-pop-acc-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    margin-top: 40px;
  }
  .section-pop-acc-text {
    min-height: 48px;
    max-width: 120px;
    text-align: left;
    margin-top: 13px;
    font: normal normal 400 16px/25px Poppins;
    padding-left: 25px;
  }
  .section-pop-acc-btn {
    margin: 23px 0 0;
    height: auto;
    padding-left: 25px;
    background-color: #fff;
    font: normal normal normal 14px/22px Poppins;
    justify-content: flex-start;
  }
  .section-pop-acc-img img {
    max-width: 168px;
  }
}
