.section-powerful-h2 {
  font: normal normal 600 48px/72px Poppins;
  letter-spacing: 0px;
  color: #000000;
}
.section-powerful-text {
  font: normal normal 400 24px/35px Poppins;
  letter-spacing: 0px;
  color: #86868a;
  margin-top: 40px;
}

.section-powerful-text strong {
  font-weight: 500;
  color: #000;
}
.section-powerful-content {
  margin-top: 40px;
  position: relative;
}
.section-powerful-content img {
  display: block;
  width: 100%;
}
.section-powerful-ward {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  padding-left: 136px;
  padding-top: 337px;
}
.section-powerful-tip {
  font: normal normal 600 24px/35px Poppins;
  letter-spacing: 0px;
  color: #000000;
  border-top: 3px solid #000;
  padding-top: 25px;
  max-width: 462px;
  width: 100%;
}
.section-powerful-tip em {
  display: inline-block;
  margin-right: 10px;
}

.section-connects-h2 {
  font: normal normal bold 36px/55px Poppins;
  letter-spacing: 0px;
  color: #000000;
}

/* ********* */
.section-connects-h2 {
  font: normal normal bold 36px/55px Poppins;
  letter-spacing: 0px;
  color: #000000;
}
.section-connects-container {
  margin-top: 40px;
}
.section-connects-content {
  display: flex;
  column-gap: 60px;
}

.section-connects-text1 {
  font: normal normal normal 24px/35px Poppins;
  letter-spacing: 0px;
  color: #000000;
  text-align: left;
}

.section-connects-text2 {
  font: normal normal normal 24px/35px Poppins;
  letter-spacing: 0px;
  color: #86868a;
  text-align: right;
}
.section-connects-text2 strong {
  font-weight: 600;
  font: normal normal normal 36px/35px Poppins;
  color: #20b2ff;
}

.section-connects-link {
  margin: 120px auto 0;
  border-radius: 13px;
  border: 1px solid #00a1ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal normal normal 20px/1 Poppins;
  height: 60px;
  width: 288px;
  color: #00a1ff;
}
@media screen and (max-width: 768px) {
  .section-powerful-h2,
  .section-connects-h2 {
    font: normal normal 600 24px/35px Poppins;
    text-align: center;
  }
  .section-powerful-text,
  .section-connects-text1 {
    font: normal normal 400 15px/23px Poppins;
    margin-top: 15px;
    text-align: center;
  }
  .section-connects-text2 {
    margin-top: 30px;
    text-align: center;
    font: normal normal normal 15px/23px Poppins;
    padding: 0 20px;
  }
  .section-connects-text2 strong {
    color: #00a1ff;
    font-weight: 400;
  }
  .section-powerful-content {
    margin-top: 20px;
  }
  .section-powerful-ward {
    padding-left: 20px;
    padding-top: 96px;
  }
  .section-powerful-tip {
    font: normal normal 400 15px/23px Poppins;
    font: 400 15px/23px Poppins;
    padding-top: 10px;
    max-width: 175px;
    border-top: 1px solid #000;
  }
  .section-powerful-tip strong {
    font: normal normal 600 20px/23px Poppins;
  }
  .section-powerful-tip em strong {
    font: 400 15px/23px Poppins;
  }
}
