/* .section-about-banner {
height: 700px;
background-repeat: no-repeat;
background-position: center;
background-size: auto 700px;
} */

.section-about-banner-h1 {
  font-size: 60px;
  font-family: Poppins;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.section-about-banner-text {
  font-size: 24px;
  font-family: Poppins;
  font-weight: 500;
  color: #fff;
  margin-top: 14px;
  text-align: center;
}
.section-about-banner-link,
.section-about-banner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 400;
  color: #ffffff;
  width: 221px;
  background-color: #d61518;
  border-radius: 100px;
}
.section-about-banner-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 74px;
}
.section-about-banner-btn {
  background-color: transparent;
  border: 1px solid #fff;
  gap: 15px;
}
.section-about-banner-btn svg {
  display: block;
}
.section-about-banner-link:hover,
.section-about-banner-btn:hover {
  opacity: 0.8;
}

.section-about-banner-container {
  position: relative;
  height: 900px;
}
.section-about-banner-video {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
}
.section-about-banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 110px;
}
.section-about-banner-icon {
  margin: auto;
  margin-bottom: 67px;
  max-width: 249px;
  display: block;
}
.section-about-banner-modal {
  position: fixed;
  z-index: -10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: none;
}
.section-about-banner-modal.open {
  z-index: 99999;
  display: block;
}
.section-about-banner-modal-content {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.section-about-banner-video-modal {
  display: block;
  max-width: 1200px;
  height: auto;
}
.section-about-banner-modal-close {
  position: absolute;
  right: 30px;
  top: 30px;
  color: #fff;
  background-color: #545454;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-about-banner-icon svg {
  color: red;
}
@media screen and (min-width: 1921px) {
  .section-about-banner-container {
    height: 46.875vw;
  }
  .section-about-banner-content {
    padding-top: 11.6146vw;
  }
  /* .section-about-banner {
height: 36.4583vw;
background-size:  auto 36.4583vw;
} */
}
.section-about-banner-btn { 
}
@media screen and (max-width: 768px) {
  .section-about-banner-text p {
    color: #fff;
  }
  .section-about-banner-h1 p {
    color: #fff;
  }
  .section-about-banner-container {
    height: 565px;
  }
  .section-about-banner .page-layout-content {
    height: 100%;
  }

  .section-about-banner-btn svg {
    width: 10px;
    margin-left: 3px;
  }
  .section-about-banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .section-about-banner-content {
    justify-content: flex-end;
    text-align: center;
    height: 100%;
    padding-top: 0;
    background-color: transparent;
  }
  .section-about-banner-h1 {
    font-size: 26px;
    color: #0a0a0a;
  }
  .section-about-banner-text {
    font-size: 14px;
    margin-top: 8px;
    color: #0a0a0a;
  }
  .section-about-banner-link,
  .section-about-banner-btn {
    height: 30px;
    padding: 0 5px;
    font-size: 14px;

    align-self: center;
    max-width: 130px;
  }
  .section-about-banner-btn {
    margin-right: 30px;
    border-color: #0a0a0a;
    color: #0a0a0a;
  }
  .section-about-banner-btn path {
    fill: #0a0a0a;
  }
  .section-about-banner-btns {
    margin-top: 28px;
  }
  .section-about-banner-icon {
    margin: 36px 0 17px;
    max-width: 142px;
  }
  .section-about-banner-video {
    display: none;
  }
}
