.section-pop-with-h2 {
  font: normal normal 600 48px/72px Poppins;
  letter-spacing: 0px;
  color: #fff;
  text-align: center;
}
.section-pop-with-text {
  font: normal normal 400 24px/35px Poppins;
  letter-spacing: 0px;
  color: #fff;
  margin-top: 20px;
  text-align: center;
}
.section-pop-with-container {
  margin-top: 60px;
}

.section-pop-with-right {
  flex: 2 0 0;
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 6px;
  padding-bottom: 40px;
}
.section-pop-with-tip {
  font: italic normal 400 24px/36px Poppins;
  letter-spacing: 0px;
  color: #1d1d1d;
  max-width: 576px;
  margin: 0 auto;
  text-align: center;
}
.section-pop-with-icon {
  background-position: 0px 7px;
  background-size: contain;
  min-height: 124px;
  font: italic 600 34px/46px Poppins;
  letter-spacing: 0px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  min-width: 362px;
}

.section-pop-with-item {
  display: flex;
  column-gap: 16px;
}
.section-pop-with-item iframe {
  flex: 1 0 0;
}
.section-pop-with-model {
  position: relative;
  flex: 1 0 0;
}
.section-pop-with-model iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.section-pop-with-content,
.section-swiper-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .section-pop-with-h2 {
    font: normal normal bold 24px/35px Poppins;
  }
  .section-pop-with-text {
    font-size: 14px;
    margin-top: 9px;
  }

  .section-pop-with-content {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .section-pop-with-tip {
    margin-top: 20px;
    font: normal normal 400 15px/23px Poppins;
    padding: 0 20px;
  }
  .section-pop-with-right {
    display: none;
  }
  .section-pop-with-icon {
    min-height: 75px;
    min-width: 216px;
    background-position: center 4px;
    font: italic normal 600 19px/26px Poppins;
  }
  .section-pop-with-ward {
    margin-top: 15px;
  }
  .section-pop-with-item iframe {
    height: 342px;
  }
  .section-pop-with-container {
    margin-top: 30px;
  }

  .section-swiper-button {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding: 0 20px;
  }
  .swiper-button-prev-cu {
    transform: rotate(180deg);
  }
}
