.joinus-model {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.section-joinus-h2 p {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}
.section-joinus-h2 {
  margin-bottom: 30px;
}
.joinus-text p {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}
.joinus-text {
  position: absolute;
  top: 77px;
  left: 70px;
}
.jsocial {
  display: none;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 30px;
}
.jsocial img {
  width: 28px;
}
@media screen and (max-width: 768px) {
  .joinus-model {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .section-joinus-h2 p {
    font-size: 20px;
  }
  .h2 {
    font-size: 20px;
  }
}
