.section-marker-container {
}
.section-marker-content {
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.section-marker-ward {
  max-width: 540px;
}
.section-marker-icon {
  max-width: 440px;
  width: 100%;
  position: relative;
}
.section-marker-tip-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;
  font: normal normal normal 24px/35px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
}
.section-marker-icon img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-marker-h2 {
  font: normal normal bold 36px/55px Poppins;
  letter-spacing: 0px;
  color: #000000;
}

.section-marker-text {
  margin-top: 20px;
  font: normal normal normal 24px/35px Poppins;
  letter-spacing: 0px;
  color: #000000;
}
.section-marker-list {
  display: flex;
  column-gap: 100px;
  justify-content: space-between;
}
.section-marker-item-img {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-marker-item-img img {
  width: 125px;
  height: auto;
}
.section-marker-item-text {
  margin-top: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  font-family: Poppins;
  color: #25b8ff;
}

@media screen and (max-width: 768px) {
  .section-marker-icon {
    display: none;
  }
  .section-marker-h2 {
    font: normal normal 600 20px/30px Poppins;
    text-align: center;
  }
  .section-marker-content {
    margin-top: 20px;
    padding-bottom: 40px;
    position: relative;
    flex-direction: column;
  }
  .section-marker-content::after {
    content: "";
    position: absolute;
    max-width: 246px;
    width: 100%;
    margin: 0 auto;
    height: 1px;
    bottom: 0;
    background-color: #b9b9b9;
    right: 0;
    left: 0;
  }
  .section-marker-text {
    font: normal normal normal 15px/23px Poppins;
    margin-top: 10px;
    text-align: center;
  }
  .section-marker-item-img {
    height: 45px;
  }
  .section-marker-item-text {
    font-size: 16px;
    margin-top: 6px;
  }
  .section-marker-list {
    justify-content: space-evenly;
    margin-top: 30px;
  }
  .section-marker-item-img img {
    width: 60px;
  }
}
