.section-mini-view-h2 {
    font-size: 52px;
    font-family: Poppins;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}
.section-mini-view-content {
    display: grid;
    margin-top: 120px;
    gap: 16px;
    grid:
        "item1 item1 item1 item1 item1 item2 item2 item2 item2 item3 item3 item3"
        "item1 item1 item1 item1 item1 item2 item2 item2 item2 item4 item4 item4"
        "item5 item5 item5 item6 item6 item6 item6 item7 item7 item7 item7 item7"
        "item5 item5 item5 item6 item6 item6 item6 item7 item7 item7 item7 item7"
        "item5 item5 item5 item6 item6 item6 item6 item9 item9 item9 item9 item9"
        "item8 item8 item8 item6 item6 item6 item6 item9 item9 item9 item9 item9";
}
.section-mini-view-content img{
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 768px) {
    .section-mini-view-h2 {
        font-size: 24px;
        line-height: 1;
    }
    .mini-view-item.item1{
        display: none;
    }
    .section-mini-view-content {
        margin-top: 30px;
        gap: 6px;
        grid:
        "item2 item6"
        "item7 item9"
        "item5 item8"
        "item3 item4"
    }
}