.suptltle h2 {
    font-size: 36px;
    padding: 23px 451px;
}
.suptltle {
    background: #FCFCFC;
    opacity: 1;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.software {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  align-items: center;
}
.softwareitem {
    background: #FAFAFA;
    text-align: center;
    padding: 60px;
}
.softwareitem img {
  display: block;
  margin: auto;
}
.softwareitem img {
  width: 46px;
  height: 46px;
}
.twotitile p {
    color: #666;
    font-size: 12px;
}
.dl {
  display: flex;
}
.dl a {
  flex: 1;
  color: #448ef9;
  font-size: 14px;
}
.twotitile {
  margin-top: 30px;
}
.dlvm a {
    color: #448ef9;
    font-size: 20px;
}
.dlvm {
    line-height: 32px;
    text-align: center;
    margin-top: 28px;
}
@media screen and (max-width: 768px) {
  .software {
  grid-template-columns: repeat(1, 1fr);
}
  .dlvm a {
    font-size: 14px;
}
  .dl {
    margin-top: 15px;
  }
}