.revoscan {
    display: flex;
    gap: 8px;
}
.rs-left {
    width: 440px;
    text-align: center;
    background: #F6F6F6;
}
.rstitle h2 {
  font-size: 32px;
  margin-bottom: 10px;
}
.rs-right p {
    color: #666;
    font-size: 16px;
}
.md {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  border-bottom: solid 1px #D8D8D8;
  padding-bottom: 20px;
}
.mditem {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.rs-right {
    flex: 1;
    background: #F6F6F6;
    padding: 60px 76px 40px;
}
.mditem img {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}
.downloadmode {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding-top: 30px;
    flex: 1;
}
.downloadmode img {
  grid-row: span 2;
}
.dl a {
  color: #448ef9;
}
.dl a:hover {
  text-decoration: underline;
}
.downloaditem {
  display: flex;
  gap: 50px;
}

@media screen and (max-width: 768px) {
  .revoscan {
    flex-direction: column;
  }
  .downloadmode {
    grid-template-columns: repeat(1,1fr);
  }
  .downloaditem {
    display:block;
  }
  .rs-left {
    width: 100%;
  }
  .rs-right {
    padding: 20px;
  }
  .rstitle h2 {
    font-size: 22px;
  }
  .rstitle p {
    font-size: 14px;
  }
  .md {
    grid-template-columns: repeat(1,1fr);
  }
}