.contact1 {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}
.contact1item {
  text-align: center;
  background: #FAFAFA;
  padding: 50px 0;
}
.contact1item img {
  display: block;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .contact1 {
  grid-template-columns: repeat(1, 1fr);
}
}