
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ 'support.css' | asset_url | stylesheet_tag }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .nav_btn_border {border-left: inherit !important;}
        .nav_btn {padding-left: 0 !important;}
        .mdtitle {margin-top: 13px;}
        .rsdownload {padding-top: 35px;gap: 31px;}
        .videoitem {flex: inherit;}
        @media (min-width: 200px) and (max-width: 768px) {
            html {
                overflow-x: hidden;
            }
            body {
                margin: 0;
            }

            .revoscan {
                display: block;

            }

            main {
                width: 100%;
            }

            .rs-left {
                width: 100%;
            }

            .rs-left img {
                width: 100%;
            }

            .rs-right {
                padding: 20px;
            }

            .rs-right .rstitle p:first-of-type {
                width: 100%;
            }
            .md {
                display: block;
            }
            .rsdownload {
                display: block;
            }
            .rsdownload p {
                font-size: 14px !important;
            }
            .dl a {
                display: block;
            }
            .dl {
                margin-left: 0px !important;
                flex: 1;
            }
            .suptltle h2 {
                font-size: 32px;
                padding: 20px;
            }
            .suptltle {
                background: inherit;
            }
            .software {
                display: block;

            }
            .softwareitem {
                width: 100%;
                display: flex;
                height: auto;
                margin-bottom: 15px;
                align-items: center;
                gap: 20px;
            }
            .softwareitem img {
                margin-top: 0;
                margin-right: 15px;
                padding-left: 15px;
            }
            .twotitle {
                flex: 1;
                text-align: left;
            }

            .twotitile h3 {
                font-size: 14px;
                margin-top: 10px;
            }
            .dlvm a {
                font-size: 14px;
            }
            .video {
                display: block;
            }
            .videodec {
                width: 100%;
                height: auto;
            }
            .videoitem img {
                width: 100%;
            }
            .videoitem {
                padding: 20px;
                flex: inherit;
            }
            .supbgtitle {
                margin-top: 40px;
                margin-bottom: 40px;
            }
            .contact {
                display: block;
                padding: 20px;
            }
            .live-left {
                padding: 30px;
            }
            .contact1 {
                display: block;
                padding: 20px;
            }
            .contact1item {
                width: inherit;
                height: auto;
                margin-bottom: 20px;
            }
            .nav_box {
                display: block;
            }
            .contacttitle {
                position: inherit !important;
                padding: 20px;
                padding-top: 22px !important;
            }
            .contacttitle h2 {
                font-size: 24px !important;
            }
            .contact1item .twotitile {
                text-align: center;
            }
            .live-right img {
                width: 100%;
            }
            .edp {
                padding: 20px !important;
                margin-top: -10px !important;
            }
            .contacttitle p {
                width: 100% !important;
            }
            .videoitem iframe {
                width: 100%;
                height: 200px;
            }


            .w1400 {
                width: 100%;
            }

            .title_big {
                text-align: center;
            }

            .title_small {
                text-align: center;
            }

            .link_box {
                justify-content: center
            }

            .banner_bg {
                width: 100%;
                margin-top: 0px;
            }

            .video_box {
                width: 100%;
                text-align: center;
                justify-content: center;
            }

            .banner_main {
                display: flex;
                justify-content: space-between;
                flex-flow: column;
            }

            .block_one {
                margin: 0;
            }

            .main_text {
                width: 92%;
                padding: 0 15px 0 !important;
            }

            .block_two {
                width: 100%;
            }

            .nav_box {
                width: 100%;
                display: block;
                justify-content: flex-start
            }

            .nav_left_box {
                width: 100%;
                padding: 0;
                margin: 0;
            }

            .nav_left {
                display: flex;
                justify-content: space-evenly;
                padding: 0 !important;
                margin: 0 !important;
            }

            .nav_right_box {
                width: 100%;
            }

            .nav_left li span {
                font-size: 15px;
                word-wrap: break-word;

            }

            .nav_title_big {
                font-size: 15px !important;
            }

            .nav_title_small {
                font-size: 14px !important;
            }

            .requirements_img {
                width: 100%;
                height: 100%;
            }

            .container {
                display: none;
            }

            .li_item {

                margin: 0;
                padding: 0;
                width: 100%;
            }

            .num-box {
                width: 100%;
                height: 300px;
                background-color: #f8f8f8;
            }

            .num-box .num-ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 0;
            }

            .num-box .num-ul li {
                flex: 1;
                cursor: pointer;
                margin-bottom: 10px;
            }

            .num-ul li img {
                width: 100%;
            }

            .big_next {
                word-wrap: normal;
            }

            .nav_icon {
                /* float: right; */
                width: 20px;
            }

            .nav_left {
                padding: 0;
            }

            .w1400 .title_two {
                margin: 0;
                padding: 0;
                height: 120px;
            }

            .w1400 {
                height: auto !important;
            ;
            }

            .block_two {
                height: auto !important;
            }

            .nav_left_box,
            .nav_right_box,
            .main_text {
                height: auto !important;

            }

            .title_three {
                margin: 0;
                padding: 0;
                height: 200px;
                line-height: 200px;
            }

            .title_big {
                padding-top: 60px !important;
                height: 100px !important;
            }

            .link_box {
                height: 90px !important;
            }

            .mobile_last {
                display: none !important;
            }
            .nav_btn {
                padding-left: 15px;
            }
        }
    </style>


</head>
<body>
<main class="maincontent">

    <div class="content">

        <section>
            <div class="revoscan">
                <div class="rs-left">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/pop3.png">

                </div>

                <div class="rs-right">

                    <div class="rstitle" style="padding-bottom: 0;border-bottom: inherit;">
                        <h2 style="font-size: 32px;">POP 3 3Dスキャナー</h2>
                        <p>中型オブジェクト向け、鮮明な色を再現可能</p>
                    </div>

                    <div class="md">
                        <div class="mditem">
                            <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/sfp.svg">
                            <div class="mdtitle">
                                <p>シングルフレーム精度</p>
                                <p>最大0.05 mm</p>
                            </div>
                        </div>
                        <div class="mditem">
                            <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/wd.svg">
                            <div class="mdtitle">
                                <p>動作距離</p>
                                <p>150～400 mm</p>
                            </div>
                        </div>
                    </div>

                    <div class="md" style="border-bottom: solid 1px #D8D8D8;padding-bottom: 20px;">
                        <div class="mditem">
                            <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/ss.svg">
                            <div class="mdtitle">
                                <p>スキャン速度</p>
                                <p>12～18 fps</p>
                            </div>
                        </div>
                        <div class="mditem">
                            <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/scr.svg">
                            <div class="mdtitle">
                                <p>シングルスキャン範囲</p>
                                <p>225×125 mm</p>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex">
                        <div class="downloadmode">
                            <div class="rsdownload">
                                <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/pdf.svg" style="">
                                <p style="font-size: 20px;">クイックスタートガイド</p>
                            </div>
                            <div class="dl" style="margin-left: 74px;">
                                <a href="https://download.revopoint3d.com/support/download/pop3/pop3-quickstartguide-jp-v2.0-2024.3.1.pdf"">日本語 &gt;</a>
                                <!--<a href="https://download.revopoint3d.com/supportsucai/download/pop3/POP 3 Multilingual-20240423.pdf.zip">多言語対応 &gt;</a>-->
                            </div>
                        </div>

                        <div class="downloadmode">
                            <div class="rsdownload" style="display: none;">
                                <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/pdf.svg" style="">
                                <p style="font-size: 20px;">Tutorial and Tips</p>
                            </div>
                            <div class="dl" style="margin-left: 74px;" style="display: none;">
                              <!--
                                <a href="https://download.revopoint3d.com/supportsucai/download/pop3/POP3-3D-Scanner-Tutorials-and-Tips.pdf.zip">日本語 &gt;</a>
                                <a href="https://download.revopoint3d.com/supportsucai/download/pop3/POP3扫描教程与技巧.pdf.zip">中国語 &gt;</a>
                              -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="supbgtitle">

                <div class="suptltle">
                    <h2>ソフトウェア</h2>
                </div>
                <h2 style="font-size: 28px;margin-top: 35px;">Revo Scan 5</h2>
                <p>3Dスキャン、後処理、複数モデルの合成を一体化した無料ソフトウェア。</p>
            </div>

            <div class="software">

                <div class="softwareitem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/win.svg">
              <div class="twotitile">
                <h3>Windows V5.4.7</h3>
                <p>更新日付 2024-04-26</p>
              </div>
              <div class="dl">
                <a href="https://download.revopoint3d.com/soft/RevoScan5-5.4.7.822-windows-x86_64.exe" target="_blank">ダウンロード</a>
                <a href="https://drive.google.com/file/d/1mi6dhBTl16ejSLTDbid_E7ndZxmNIeO-/view?usp=sharing">Google Drive</a>
              </div>
            </div>
            <div class="softwareitem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/mac.svg">
              <div class="twotitile">
                <h3>Mac V5.4.7</h3>
                <p>更新日付 2024-04-26</p>
              </div>
              <div class="dl">
                <a href="https://download.revopoint3d.com/soft/RevoScan5-5.4.7.1163-mac-x86_64.pkg" target="_blank">ダウンロード</a>
                <a href="https://drive.google.com/file/d/1cKh9IdzVKjJhWB3lmde7i4sSjIQLSZoB/view?usp=sharing">Google Drive</a>
              </div>
            </div>
            <div class="softwareitem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/ios.svg">
              <div class="twotitile">
                <h3>iOS V5.3.5</h3>
                <p>更新日付 2024-05-08</p>
              </div>
              <div class="dl">
                <a href="https://apps.apple.com/us/app/3d-scanner-app/id1611278474">App Store</a>
              </div>
            </div>
            <div class="softwareitem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/anzhuo.svg">
              <div class="twotitile">
                <h3>Android V5.3.4</h3>
                <p>更新日付 2024-05-08</p>
              </div>
              <div class="dl">
                <a href="https://download.revopoint3d.com/soft/RevoScan_V5.3.4.apk">ダウンロード</a>
                <a href="https://play.google.com/store/apps/details?id=com.revopoint3d.revoscan">Google Play</a>
              </div>
            </div>
            </div>

        </section>

        <section>
            <div class="dlvm" style="display: none;">
                <a href="">View More &gt;</a>
            </div>
        </section>


        <div class="supbgtitle">

            <div class="suptltle">
                <h2>ビデオ</h2>
            </div>
        </div>

        <section>
            <div class="video">

                <div class="videoitem">
                    <iframe width="288px" height="162px" src="https://www.youtube.com/embed/GD8m9OgSv1M?si=gK1LQ-OvRFcH88qR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="videodec" style="display: none;">
                        <p>POP 3: Advanced Edition First Use Tutorial</p>
                    </div>
                </div>
                <div class="videoitem">
                    <iframe width="288px" height="162px" src="https://www.youtube.com/embed/x7t2v-2lS2U?si=-Ypsl8j2d_LU4XW1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="videodec" style="display: none;">
                        <p>POP 3: Standard Edition First Use Tutorial</p>
                    </div>
                </div>

            </div>



        </section>


        <div class="supbgtitle">

            <div class="suptltle">
                <h2>よくある質問</h2>
            </div>
        </div>

        <section>
            <div class="">
                <div class="w1400">

                    <div class="nav_box">
                        <div class="nav_left_box">
                            <ul class="nav_left" style="list-style:none ;">
                                <li><span data-index="0" class="nav_btn nav_btn_border" href="#" style="border-bottom: 2px solid rgb(0, 0, 0);">ハードウェア</span></li>
                                <li><span data-index="1" class="nav_btn" href="#">ソフトウェア</span></li>
                                <li><span data-index="2" class="nav_btn" href="#">アクセサリー</span></li>
                                <li><span data-index="3" class="nav_btn" href="#">スキャンのコツ</span></li>
                            </ul>
                        </div>
                        <div class="nav_right_box">
                            <div class="main_text">
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">POP 2とPOP 3の違いは何ですか？
                                        </div> <!--  1 -->
                                        <div data-index="0" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        POP 3には、RGBカメラの開口サイズが30％拡大したうえに、2つのLED補助照明を搭載しているため、カラースキャンを向上させることができます。また、4つの赤外線補助照明はマーカースキャンの効率を高めることに役に立ちます。9軸IMUが内蔵され、よりスムーズなスキャンを実現することができます。POP 3は最大18 fpsの高速スキャンが可能で、より安定した接続を提供しています。                                    </div>
                                </div>
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">POP 3のIMUには何か特別な点がありますか？
                                        </div> <!-- 2 -->
                                        <div data-index="1" class="nav_icon">+</div>
                                    </div>

                                    <div class="nav_title_small">
                                        POP 3に搭載したIMUは、ジャイロスコープ、加速度計と磁力計を備えた9軸IMUで、スキャナーの動きを測り、より滑らかなトラッキングを実現し、高速移動や揺れによる点群のズレ、トラッキングミスなどを軽減します。                                    </div>
                                </div>
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">What is Magic Mat?
                                        </div> <!--  3 -->
                                        <div data-index="2" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        Magic Mat is a 50cm x 50cm black mat with highly reflective marker points across its surface that is designed to make scanning featureless objects much easier by removing the need to place marker points on the item.

                                    </div>
                                </div>
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">How do I recalibrate the INSPIRE’s IMU?
                                        </div> <!--  4 -->
                                        <div data-index="3" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        In Revo Scan 5’s Home Screen, click on the settings icon next to INSPIRE’s name. Then click on the “Start Calibration” button to start the process. Follow the on-screen instructions to recalibrate your INSPIRE.

                                    </div>
                                </div>
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Do you need a powerful computer to use the INSPIRE?
                                        </div> <!--  5 -->
                                        <div data-index="4" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">No, the INSPIRE’s algorithms and internal chip do most of the processing.<br>

                                        Minimum specs: Intel i5, 8GB RAM.<br>

                                        Recommended specs: Intel i7, 16GB RAM.<br>

                                        No discrete GPU like an Nvidia or AMD graphics card is needed to use INSPIRE.
                                    </div>
                                </div>
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">What technology does the INSPIRE use?
                                        </div> <!--  6 -->
                                        <div data-index="5" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">INSPIRE uses class 1 infrared structured light, dual depth cameras, and advanced algorithms to output detailed 3D models.
                                    </div>
                                </div>
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Can INSPIRE safely scan humans and animals?
                                        </div> <!--  7 -->
                                        <div data-index="6" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Yes, the INSPIRE is entirely eye and skin-safe as it uses class 1 infrared light.
                                    </div>
                                </div>
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">What kind of computer is recommended for POP 2 to work smoothly?</div> <!--  8 -->
                                        <div data-index="7" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Recommended computer: Windows10, 64bit,16G and above, I7.</div>
                                </div>
                            </div>
                        </div>




                        <div class="nav_right_box block_hide">
                            <div class="main_text">
                                <!-- 1 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">POP 3と互換性のあるデバイスは何ですか？
                                        </div>
                                        <div data-index="0" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        Windows 10以上（64-bit）：USB・Wi-Fi接続可能<br>
                                        Android 9.0以上（RAM容量6 GB以上）：USB・Wi-Fi接続可能<br>
                                        macOS（Intel×86チップ搭載/10.5以降、Apple M1チップ搭載/11.0以降）：USB・Wi-Fi接続可能<br>
                                        iOS 13.0以上（iPhone 8 Plus以降）：Wi-Fi接続可能

                                    </div>
                                </div>
                                <!-- 2 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">POP 3には専用ソフトウェアがありますか？
                                        </div>
                                        <div data-index="1" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">はい、POP 3にはRevo Scanという無料ソフトウェアが付属しています。Revo Scanでは、Windows、macOS、iOS、Androidデバイスに対応しており、3Dスキャンとモデルの後処理を行うことができます。

                                    </div>
                                </div>
                                <!-- 3 -->
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Can objects scanned with INSPIRE be 3D printed?
                                        </div>
                                        <div data-index="2" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Yes, the scanned models can be output in STL format, which is compatible with most slicer software.
                                    </div>
                                </div>
                                <!-- 4 -->
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Is third-party scanning software available for INSPIRE?
                                        </div>
                                        <div data-index="3" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">No, INSPIRE is only compatible with the Revo Scan software, which you can download from our website or your device's app store. However, the models generated by the scan are compatible with nearly all third-party 3D modeling software.

                                    </div>
                                </div>
                                <!-- 5 -->
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Does INSPIRE need internet access to work?
                                        </div>
                                        <div data-index="4" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">No, INSPIRE does not need to be connected to an internet-capable network to work.
                                    </div>
                                </div>
                                <!-- 6 -->
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">How do I export scanned models on my phone?</div>
                                        <div data-index="5" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        You can send the projects on your phone to a PC. Ensure your phone and PC are connected to the same Wi-Fi network. Don’t minimize the app or turn off your phone's screen during the file transfer, or the transfer will fail.<br>

                                        ● Import from Phone via Verification Code<br>

                                        1. Click the Import From Phone button.<br>
                                        2. Open Revo Scan V5.0 or above on your phone, and find the project you want to share.<br>
                                        3. Tap the Share icon.<br>
                                        4. Enter the code shown on your PC to your smartphone.<br>
                                        5. Start file transferring.<br>

                                        ● Import from Phone via Scanning QR Code<br>

                                        1. Click the Import From Phone button.<br>
                                        2. Click the QR Code icon.<br>
                                        3. Open Revo Scan V5.0 or above on your phone, and find the project you want to share.<br>
                                        4. Tap the Share icon.<br>
                                        5. Scan the QR code on your PC.<br>
                                        6. Start file transferring.
                                    </div>
                                </div>
                                <!-- 7 -->
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">How do I export scanned models on my phone?
                                        </div>
                                        <div data-index="6" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Ensure your phone and PC are connected to the same Wi-Fi network. Don’t minimize the app or turn off your phone's screen during the file transfer, or the transfer will fail.<br>

                                        ● Import from Phone via Verification Code<br>

                                        1. Click the Import From Phone button.<br>
                                        2. Open Revo Scan V5.0 or above on your phone and find the project you want to share.<br>
                                        3. Tap the Share icon.<br>
                                        4. Enter the code shown on your PC to your smartphone.<br>
                                        5. Start file transferring.<br>

                                        ● Import from Phone via Scanning QR Code<br>

                                        1. Click the Import From Phone button.<br>
                                        2. Click the QR Code icon.<br>
                                        3. Open Revo Scan V5.0 or above on your phone, and find the project you want to share.<br>
                                        4. Tap the Share icon.<br>
                                        5. Scan the QR code on your PC.<br>
                                        6. Start file transferring.
                                    </div>
                                </div>
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Can MINI work with Revo Scan without internet access?</div> <!--  8 -->
                                        <div data-index="7" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Yes, Revo Scan does not need to be connected to the internet to work.</div>
                                </div>
                            </div>

                        </div>





                        <div class="nav_right_box block_hide">
                            <div class="main_text">
                                <!-- 1 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">2軸ターンテーブルの仕様を教えてください。</div>
                                        <div data-index="0" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        基本仕様<br>
                                        寸法：高さ82×奥行200 mm<br>
                                        速度：18～90秒/1回転<br>
                                        最大荷重：5 kg<br>
                                        本体重量：771 g<br>
                                        制御方法：Revo Scan/アプリ<br>
                                        回転制御：方向、速度、開始/停止<br>
                                        接続方式：Bluetooth
                                    </div>
                                </div>
                                <!-- 2 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">パッケージ内容を教えてください?</div>
                                        <div data-index="1" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                  1. 二軸ターンテーブル<br>
                                  2. モバイルバッテリー<br>
                                  3. マルチリージョンアダプター（US/EU/AU/GBプラグタイプ対応）<br>
                                  4. 再利用可能な粘着パッド<br>
                                  5. マーカー付きテーブル"

                                    </div>
                                </div>
                                <!-- 3 -->
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">What does the S1 Handheld Stabilizer do?</div>
                                        <div data-index="2" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">The S1 Handheld Stabilizer is equipped with a built-in high-precision gyroscope and stabilization device, and it can effectively eliminate the problem of poor point cloud precision and track loss. This allows for smooth scanning without stalling.</div>
                                </div>
                                <!-- 4 -->
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">What are marker points used for?</div>
                                        <div data-index="3" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Marker points are stuck to objects without geometric features so the MINI can track what it is scanning. When using Marker points, place them in irregular patterns with around 3-5cms between the markers across the object you’re scanning, and make sure that there are at least 5 marker points always in frame when scanning.</div>
                                </div>
                                <!-- 5 -->
                                <div class="nav_text_item" style="display:none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Charge the LED lamp or replace the battery?</div>
                                        <div data-index="4" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Rechargeable batteries.</div>
                                </div>
                                <!-- 6 -->
                                <div class="nav_text_item" style="display:none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">What are marker points used for?</div>
                                        <div data-index="5" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Marker points are stuck to objects without geometric features so the MINI can track what it is scanning. When using Marker points, place them in irregular patterns with around 3-5cms between the markers across the object you’re scanning, and make sure that there are at least 5 marker points always in frame when scanning.</div>
                                </div>
                                <!-- 7 -->
                                <div class="nav_text_item" style="display:none ;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">POP的精度是多少?</div>
                                        <div data-index="6" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">输出模型精度能达0.3mm。</div>
                                </div>
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">What kind of computer is recommended for POP 2 to work smoothly?</div> <!--  8 -->
                                        <div data-index="7" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Recommended computer: Windows10, 64bit,16G and above, I7.</div>
                                </div>
                            </div>
                        </div>




                        <div class="nav_right_box block_hide">
                            <div class="main_text">
                                <!-- 1 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">フレーム数が多いほど、スキャン精度は高くなりますか？
                                        </div>
                                        <div data-index="0" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">いいえ、複数回スキャンすると、誤差が積み重ねていくので、1つの角度につき一周のみスキャンするようにしてください。
                                    </div>
                                </div>
                                <!-- 2 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">3Dスキャンが難しいオブジェクトはありますか？
                                        </div>
                                        <div data-index="1" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">透明や反射する対象物のスキャンには、スキャンスプレーを使用する必要があります。
                                    </div>
                                </div>
                                <!-- 3 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">POP 3は屋外でスキャンできますか？</div>
                                        <div data-index="2" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">はい、屋外でも使用できますが、直射日光を避けてください。
                                    </div>
                                </div>
                                <!-- 4 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">POP 3の最小スキャンサイズはどれくらいですか？
                                        </div>
                                        <div data-index="3" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">POP 3の最小スキャンサイズは、20×20×20 mmです。
                                    </div>
                                </div>
                                <!-- 5 -->
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Can INSPIRE scan objects smaller than 50 mm x 50 mm x 50 mm?
                                        </div>
                                        <div data-index="4" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Yes, but advanced scanning skills and post-processing are needed. Keep in mind that the smaller the object and its details, the less INSPIRE will be able to detect, as it’s optimized for medium-sized object scanning.
                                    </div>
                                </div>
                                <!-- 6 -->
                                <div class="nav_text_item" style="display:none ;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">POP的精度是多少?</div>
                                        <div data-index="5" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">输出模型精度能达0.3mm。</div>
                                </div>
                                <!-- 7 -->
                                <div class="nav_text_item" style="display:none ;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">POP的精度是多少?</div>
                                        <div data-index="6" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">输出模型精度能达0.3mm。</div>
                                </div>
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">What kind of computer is recommended for POP 2 to work smoothly?</div> <!--  8 -->
                                        <div data-index="7" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Recommended computer: Windows10, 64bit,16G and above, I7.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="supbgtitle">

            <div class="suptltle">
                <h2>お問い合わせ</h2>
            </div>
        </div>

        <section>
            <div class="contact">
                <div class="live-left">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/lc.png">
                    <div class="contacttitle">
                        <a href="" class="lc" style="display: none;">Live Chat &gt;</a>
                        <p>24時間対応</p>
                        <p style="margin-top: 23px;">メールでのお問い合わせ</p>
                        <a href="mailto:customer@revopoint3d.com" class="lc"><p>customer@revopoint3d.com</p></a>
                    </div>
                </div>

                <div class="live-right">
                    <div class="contacttitle" style="position: absolute;padding-left: 40px;padding-top: 90px;">
                        <h2 style="font-size: 32px;">ご相談窓口</h2>
                        <p style="width: 300px;">
                            当社製品に関してご質問、ご不明な点等がございましたら、お電話、チャット、またはメールで、Revopoint のサポートチームにお気軽にご相談ください。
                        </p>
                    </div>
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/hy.png">
                </div>
            </div>
            <div class="contact1" style="margin-top: 21px;">
                <div class="contact1item">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/om.png">
                    <div class="twotitile">
                        <h3>オンラインミーティング</h3>
                        <p>画面共有でのリモートサポート</p>
                    </div>
                    <div class="dl">
                        <a href="https://meetings.hubspot.com/revopoint-support">ミーティングを予約する &gt;</a>
                    </div>
                </div>
                <div class="contact1item">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/hs.png">
                    <div class="twotitile">
                        <h3>ホットラインサービス</h3>
                        <p>電話でのお問い合わせ</p>
                    </div>
                    <div class="dl">
                        <a href="tel:+1 (888) 807-3339">+1 (888) 807-3339</a><br>
                        <a href="tel:+86 18124196779">+86 18124196779</a>
                    </div>
                </div>
                <div class="contact1item" style="display: none;">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/f.png">
                    <div class="twotitile">
                        <h3>Forum</h3>
                        <p>Share Your Scanning Experiences</p>
                    </div>
                    <div class="dl">
                        <a href="https://forum.revopoint3d.com">Join the Revopoint Community &gt;</a>
                    </div>
                </div>
                <div class="contact1item" style="display: none;">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/g.png">
                    <div class="twotitile">
                        <h3>Group</h3>
                        <p>Updates, Giveaways, 3D Model Showcases</p>
                    </div>
                    <div class="dl">
                        <a href="https://revo.ink/3PFwq2S">Join Our Group &gt;</a>
                    </div>
                </div>
            </div>
            <p class="edp" style="font-size: 16px;color: #666666;margin-top: 24px;display: none;">
                You can contact us by <a href="" class="lk">Email</a>. For urgent situations, we recommend you contact
                <a href="" class="lk">Online Customer Service</a> for immediate support.
            </p>
        </section>

    </div>

</main>



</body>
<script type="text/javascript">
    // FAQ文案操作
    let menuIndex = 0
    let navHideDoms, arr, navIconDoms, navRightboxs
    let navBtn = document.getElementsByClassName("nav_btn") // 左侧menu

    // nav展开icon绑定事件
    for (let index = 0; index < navBtn.length; index++) {
        navBtn[index].addEventListener("click", navBtnClick)
    }

    function init() {
        navHideDoms = document.getElementsByClassName("nav_title_small") // 右侧隐藏文案
        arr = Array(navHideDoms.length).fill(false)
        navIconDoms = document.getElementsByClassName("nav_icon") // 右侧“+”“-”
        navRightboxs = document.getElementsByClassName("nav_right_box") // 右侧文案
        // nav展开icon绑定事件
        for (let index = 0; index < navIconDoms.length; index++) {
            navIconDoms[index].addEventListener("click", navIconClick)
        }
    }
    init()

    function navBtnClick(e) {
        init()
        menuIndex = Number(e.target.dataset.index)
        navRightboxs[menuIndex].style.display = 'block'
        for (let index = 0; index < navBtn.length; index++) {
            if (+index === +menuIndex) {
                continue
            }
            navRightboxs[index].style.display = 'none'
            navBtn[index].style.borderBottom = 'none'
        }
        navBtn[menuIndex].style.borderBottomWidth = '2px'
        navBtn[menuIndex].style.borderBottomColor = '#000000'
        navBtn[menuIndex].style.borderBottomStyle = 'solid'
    }

    // "+" "-" 点击事件
    function navIconClick(e) {
        let navNum = navBtn.length
        let iconNum = navIconDoms.length
        let currentNum = iconNum / navNum
        let navIndex = Number(e.target.dataset.index)
        let correctNum = currentNum * menuIndex + navIndex
        if (!!arr[correctNum]) {
            navHideDoms[correctNum].style.display = 'none'
            navIconDoms[correctNum].innerHTML = '+'
        } else {
            navHideDoms[correctNum].style.display = 'block'
            navIconDoms[correctNum].innerHTML = '-'
            for (let index = 0; index < navIconDoms.length; index++) {
                if (+index === +correctNum) {
                    continue
                }
                navHideDoms[index].style.display = 'none'
                navIconDoms[index].innerHTML = '+'
            }
        }
        arr[correctNum] = !arr[correctNum]
        for (let j = 0; j < navIconDoms.length; j++) {
            if (+j === +correctNum) {
                continue
            }
            arr[j] = false
        }
    }

</script>

</html>

