<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {{ 'support.css' | asset_url | stylesheet_tag }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .nav_btn_border {border-left: inherit !important;}
    .nav_btn {padding-left: 0 !important;}
    .mdtitle {margin-top: 13px;}
    .rsdownload {padding-top: 35px;gap: 31px;}
    main {padding-top: 50px;}
    @media (min-width: 200px) and (max-width: 768px) {
      html {
        overflow-x: hidden;
      }
      main {padding-top: 0;}
      body {
        margin: 0;
      }

      .revoscan {
        display: block;
        padding: 16px;
      }

      main {
        width: 100%;
      }

      .rs-left {
        width: 100%;
      }

      .rs-left img {
        width: 100%;
      }

      .rs-right {
        padding: 20px;
      }

      .rs-right .rstitle p:first-of-type {
        width: 100%;
      }
      .md {
        display: block;
      }
      .rsdownload {
        display: block;
      }
      .rsdownload p {
        font-size: 14px !important;
      }
      .dl a {
        display: block;
      }
      .dl {
        margin-left: 0px !important;
        flex: 1;
      }
      .suptltle h2 {
        font-size: 32px;
        padding: 20px;
      }
      .suptltle {
        background: inherit;
      }
      .software {
        display: block;
        padding: 16px;
      }
      .softwareitem {
        width: 100%;
        display: flex;
        height: auto;
        margin-bottom: 15px;
        align-items: center;
        gap: 20px;
      }
      .softwareitem img {
        margin-top: 0;
        margin-right: 15px;
        padding-left: 15px;
      }
      .twotitle {
        flex: 1;
        text-align: left;
      }
      .twotitile {
        flex: 1;
        text-align: left;
      }
      .twotitile h3 {
        font-size: 14px;
      }
      .dlvm a {
        font-size: 14px;
      }
      .video {
        display: block;
      }
      .videodec {
        width: 100%;
        height: auto;
      }
      .videoitem img {
        width: 100%;
      }
      .videoitem {
        padding: 20px;
      }
      .supbgtitle {
        margin-top: 40px;
        margin-bottom: 40px;
      }
      .contact {
        display: block;
        padding: 20px;
      }
      .live-left {
        padding: 30px;
      }
      .contact1 {
        display: block;
        padding: 20px;
      }
      .contact1item {
        width: inherit;
        height: auto;
        margin-bottom: 20px;
      }
      .nav_box {
        display: block;
      }
      .contacttitle {
        position: inherit !important;
        padding: 20px;
        padding-top: 22px !important;
      }
      .contacttitle h2 {
        font-size: 24px !important;
      }
      .contact1item .twotitile {
        text-align: center;
      }
      .live-right img {
        width: 100%;
      }
      .edp {
        padding: 20px !important;
        margin-top: -10px !important;
      }
      .contacttitle p {
        width: 100% !important;
      }
      .videoitem iframe {
        width: 100%;
        height: 200px;
      }


      .w1400 {
        width: 100%;
      }

      .title_big {
        text-align: center;
      }

      .title_small {
        text-align: center;
      }

      .link_box {
        justify-content: center
      }

      .banner_bg {
        width: 100%;
        margin-top: 0px;
      }

      .video_box {
        width: 100%;
        text-align: center;
        justify-content: center;
      }

      .banner_main {
        display: flex;
        justify-content: space-between;
        flex-flow: column;
      }

      .block_one {
        margin: 0;
      }

      .main_text {
        width: 92%;
        padding: 0 15px 0 !important;
      }

      .block_two {
        width: 100%;
      }

      .nav_box {
        width: 100%;
        display: block;
        justify-content: flex-start
      }

      .nav_left_box {
        width: 100%;
        padding: 0;
        margin: 0;
      }

      .nav_left {
        display: flex;
        justify-content: space-evenly;
        padding: 0 !important;
        margin: 0 !important;
      }

      .nav_right_box {
        width: 100%;
      }

      .nav_left li span {
        font-size: 15px;
        word-wrap: break-word;

      }

      .nav_title_big {
        font-size: 15px !important;
      }

      .nav_title_small {
        font-size: 14px !important;
      }

      .requirements_img {
        width: 100%;
        height: 100%;
      }

      .container {
        display: none;
      }

      .li_item {

        margin: 0;
        padding: 0;
        width: 100%;
      }

      .num-box {
        width: 100%;
        height: 300px;
        background-color: #f8f8f8;
      }

      .num-box .num-ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
      }

      .num-box .num-ul li {
        flex: 1;
        cursor: pointer;
        margin-bottom: 10px;
      }

      .num-ul li img {
        width: 100%;
      }

      .big_next {
        word-wrap: normal;
      }

      .nav_icon {
        /* float: right; */
        width: 20px;
      }

      .nav_left {
        padding: 0;
      }

      .w1400 .title_two {
        margin: 0;
        padding: 0;
        height: 120px;
      }

      .w1400 {
        height: auto !important;
      ;
      }

      .block_two {
        height: auto !important;
      }

      .nav_left_box,
      .nav_right_box,
      .main_text {
        height: auto !important;

      }

      .title_three {
        margin: 0;
        padding: 0;
        height: 200px;
        line-height: 200px;
      }

      .title_big {
        padding-top: 60px !important;
        height: 100px !important;
      }

      .link_box {
        height: 90px !important;
      }

      .mobile_last {
        display: none !important;
      }
      .nav_btn {
        padding-left: 15px;
      }
    }
  </style>


</head>
<body>
<main class="maincontent">

  <div class="content">

    <section>
      <div class="revoscan">
        <div class="rs-left">
          <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/17364_2x_15078c29-30c6-49fd-8db6-28320e70c67b.png">

        </div>

        <div class="rs-right">

          <div class="rstitle" style="padding-bottom: 0;border-bottom: inherit;">
            <h2 style="font-size: 32px;">MIRACO 3Dスキャナー</h2>
            <p>あらゆるサイズに対応可能なオールインワンスキャン</p>
          </div>

          <div class="md">
            <div class="mditem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/ega.svg">
              <div class="mdtitle">
                <p>シングルフレーム精度</p>
                <p>最大0.02 mm</p>
              </div>
            </div>
            <div class="mditem">
              <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/10183_2x_681e1fe9-3dce-441e-bef1-c03b4d72550d.png">
              <div class="mdtitle">
                <p>二つのスキャンモード</p>
                <p>写真測量&連続スキャン</p>
              </div>
            </div>
          </div>

          <div class="md" style="border-bottom: solid 1px #D8D8D8;padding-bottom: 20px;">
            <div class="mditem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/fs.svg">
              <div class="mdtitle">
                <p>スキャンスピード</p>
                <p>最大15 fps</p>
              </div>
            </div>
            <div class="mditem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/ccs.svg">
              <div class="mdtitle">
                <p>驚異的な色再現性</p>
                <p>4800万画素RGBカメラ</p>
              </div>
            </div>
          </div>
          <div style="display: flex">
            <div class="downloadmode">
              <div class="rsdownload">
                <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/pdf.svg" style="">
                <p style="font-size: 20px;">クイックスタートガイド</p>
              </div>
              <div class="dl" style="margin-left: 74px;">
                <a href="https://download.revopoint3d.com/support/download/miraco/miraco-quickstartguide-jp-v1.0-2024.2.1.pdf" target="_blank">日本語 &gt;</a>
                <a href="https://download.revopoint3d.com/pdf/MIRACO Multilingual-20240423.pdf.zip" target="_blank">多言語 &gt;</a>
              </div>
            </div>
            

            <div class="downloadmode" style="display: none;">
              <div class="rsdownload">
                <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/pdf.svg">
                <p style="font-size: 20px;">Tutorial and Tips</p>
              </div>
              <div class="dl" style="margin-left: 74px;">
                <a href="https://download.revopoint3d.com/supportsucai/download/INSPIRE-en.pdf" target="_blank">English &gt;</a>
                <a href="https://download.revopoint3d.com/supportsucai/download/INSPIRE-cn.pdf" target="_blank">Chinese &gt;</a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="supbgtitle">

        <div class="suptltle">
          <h2>ソフトウェア</h2>
        </div>
      </div>

      <div class="software">
            <div class="softwareitem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/win.svg">
              <div class="twotitile">
                <h3>Windows V5.4.7</h3>
                <p>更新日時 2024/04/26</p>
              </div>
              <div class="dl">
                <a href="https://download.revopoint3d.com/soft/RevoScan5-5.4.7.822-windows-x86_64.exe" target="_blank">ダウンロード</a>
                <a href="https://drive.google.com/file/d/1mi6dhBTl16ejSLTDbid_E7ndZxmNIeO-/view?usp=sharing">Google Drive</a>
              </div>
            </div>
            <div class="softwareitem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/mac.svg">
              <div class="twotitile">
                <h3>Mac V5.4.7</h3>
                <p>更新日時 2024/04/26</p>
              </div>
              <div class="dl">
                <a href="https://download.revopoint3d.com/soft/RevoScan5-5.4.7.1163-mac-x86_64.pkg" target="_blank">ダウンロード</a>
                <a href="https://drive.google.com/file/d/1cKh9IdzVKjJhWB3lmde7i4sSjIQLSZoB/view?usp=sharing">Google Drive</a>
              </div>
            </div>
            <div class="softwareitem" style="visibility: hidden;">
             
            </div>
            <div class="softwareitem" style="visibility: hidden;">
             
            </div>
          </div>

    </section>

    <section>
          <div class="dlvm">
            <a href="/pages/support-download">もっと見る &gt;</a>
          </div>
        </section>


    <div class="supbgtitle">

      <div class="suptltle">
        <h2>ビデオ</h2>
      </div>
    </div>

    <section>
      <div class="video">

        <div class="videoitem">
          <iframe width="288px" height="162px" src="https://www.youtube.com/embed/XoMVJX7OQdQ?si=NhseMwHoV7YkKJo9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="videodec" style="display: none;">
            <p>INSPIRE 3D Scanner: Standard Package First Use Tutorial</p>
          </div>
        </div>
        <div class="videoitem" >
          <iframe width="288px" height="162px" src="https://www.youtube.com/embed/SI37sQmaW4k?si=fq8H_xOK0s2TIXjS"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="videodec" style="display: none;">
            <p>INSPIRE 3D Scanner: Standard Package First Use Tutorial</p>
          </div>
        </div>
        <div class="videoitem" >
          <iframe width="288px" height="162px" src="https://www.youtube.com/embed/xLXWHJ0rkkw?si=VrD-WmwyioSKgu-9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="videodec" style="display: none;">
            <p>INSPIRE 3D Scanner: Standard Package First Use Tutorial</p>
          </div>
        </div>
        <div class="videoitem" >
          <iframe width="288px" height="162px" src="https://www.youtube.com/embed/-CILfoYfrIY?si=tbmysWxcFz90JUSL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="videodec" style="display: none;">
            <p>INSPIRE 3D Scanner: Standard Package First Use Tutorial</p>
          </div>
        </div>


      </div>
    </section>


    <div class="supbgtitle">

      <div class="suptltle">
        <h2>FAQ</h2>
      </div>
    </div>

    <section>
      <div class="">
        <div class="w1400">

          <div class="nav_box">
            <div class="nav_left_box">
              <ul class="nav_left" style="list-style:none ;">
                <li><span data-index="0" class="nav_btn nav_btn_border" href="#" style="border-bottom: 2px solid rgb(0, 0, 0);">ハードウェア</span></li>
                <li><span data-index="1" class="nav_btn" href="#">ソフトウェア</span></li>
                <li><span data-index="2" class="nav_btn" href="#">アクセサリー</span></li>
                <li><span data-index="3" class="nav_btn" href="#">スキャンのコツ</span></li>
              </ul>
            </div>
            <div class="nav_right_box">
              <div class="main_text">
                <div class="nav_text_item">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">MIRACOとMIRACO Proの違いは何ですか？
                    </div> <!--  1 -->
                    <div data-index="0" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">
                   メモリ容量は異なります。また、MIRACO Pro（32 GB）には、遠景・近景モード用キャリブレーションボード、
                    ブラックシートが付属していますが、MIRACO（16 GB）には、近景モード用キャリブレーションボードのみ付属しています。
                    車のような大きな対象物をスキャンしたい場合は、MIRACO Proをおすすめします。
                  </div>
                </div>
                <div class="nav_text_item">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">MIRACOとMIRACO Proは、それぞれ1回のスキャンで取得できるフレーム数を教えてください。
                    </div> <!-- 2 -->
                    <div data-index="1" class="nav_icon">+</div>
                  </div>

                  <div class="nav_title_small">
                     カラーなしスキャンの場合：<br>
                      MIRACO（16 GB）：標準精度で最大5,000フレーム取得可能<br>
                      MIRACO Pro（32 GB）：標準精度で最大10,000フレーム取得可能<br>
                      カラースキャンの場合：
                      MIRACO（16 GB）：標準精度で最大4,000フレーム取得可能
                      MIRACO Pro（32 GB）：標準精度で最大8,000フレーム取得可能
                  </div>
                </div>
                <div class="nav_text_item">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">MIRACOを使用するには高性能PCが必須ですか？
                    </div> <!--  3 -->
                    <div data-index="2" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">
                    MIRACOはスタンドアロンで利用できるので、PCは必要ありません。MIRACOで作成したモデルをPCのRevo Scanに転送して編集する場合でも、高性能PCは必須ではありません。<br>
                    最小要件：Intel i5、RAM容量8 G。<br><br>
                    推奨要件：Intel i7、RAM容量16 GB。<br>
                    MIRACOを使用するには、NVIDIAやAMDのようなディスクリートGPUは必要ではありません。

                  </div>
                </div>
                <div class="nav_text_item">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">MIRACOのクアッド深度カメラシステムはどういう仕組みですか？
                    </div> <!--  4 -->
                    <div data-index="3" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">
                    クアッド深度カメラは、2つの遠景カメラと2つの近景カメラで構成されています。スキャンの途中でも、必要に応じて遠景・近景モードを自由に切り替え、細かい部分または広範囲でスキャンすることができます。

                 </div>
                </div>
                <div class="nav_text_item">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">MIRACOのバッテリー寿命はどのくらいですか？
                    </div> <!--  5 -->
                    <div data-index="4" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">MIRACOはリチウムポリマーバッテリーを使用しているため、寿命は5年が目安となります。バッテリーの故障に対して2年間保証いたします。
                    保証期間外の場合は、バッテリーの交換を有償にて承ります。
                  </div>
                </div>
                <div class="nav_text_item" style="display: none;">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">How does MIRACO compare to your other 3D scanners?
                    </div> <!--  6 -->
                    <div data-index="5" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">MIRACO can do almost the same things as the MINI, POP Series, 
                    and RANGE 3D scanners. However, the MINI is slightly better at capturing fine details than MIRACO as its fused point distance is up to 0.02mm while MIRACO's is up to 0.05mm. 
                    And the RANGE and POP series are compact, lighter, cheaper, and still great 3D scanning solutions if you only need to scan one particular object size.
                  </div>
                </div>
                <div class="nav_text_item" style="display: none;">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">Can INSPIRE safely scan humans and animals?
                    </div> <!--  7 -->
                    <div data-index="6" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">Yes, the INSPIRE is entirely eye and skin-safe as it uses class 1 infrared light.
                  </div>
                </div>
                <div class="nav_text_item" style="display: none;">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">What kind of computer is recommended for POP 2 to work smoothly?</div> <!--  8 -->
                    <div data-index="7" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">Recommended computer: Windows10, 64bit,16G and above, I7.</div>
                </div>
              </div>
            </div>




            <div class="nav_right_box block_hide">
              <div class="main_text">
                <!-- 1 -->
                <div class="nav_text_item">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">MIRACOに他のAndroidアプリをロードできますか？
                    </div>
                    <div data-index="0" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">いいえ、他のアプリがバックグラウンドで動作していると、MIRACOの使用に影響を与える可能性があります。

                  </div>
                </div>
                <!-- 2 -->
                <div class="nav_text_item">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">What formats can MIRACO export?
                    </div>
                    <div data-index="1" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">MIRACOは、作成した3DモデルをPLY、OBJ、STL形式でエクスポートでき、ほとんどの3Dモデリング、スライサーソフトウェア、CADソフトウェアと互換性があります。

                  </div>
                </div>
                <!-- 3 -->
                <div class="nav_text_item">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">スキャンしたモデルを直接3Dプリントできますか?
                    </div>
                    <div data-index="2" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">はい、3Dプリンター用のスライサーソフトウェアは、STL形式の3Dモデルを直接読み込むことができます。
                  </div>
                </div>
                <!-- 4 -->
                <div class="nav_text_item">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">MIRACOはインターネットに接続する必要がありますか？
                    </div>
                    <div data-index="3" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">いいえ、MIRACOはインターネットに接続しなくても動作できます。ただし、ソフトウェアをアップデートする場合はインターネットに接続する必要があります。.

                  </div>
                </div>
                <!-- 5 -->
                <div class="nav_text_item">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">MIRACOで作成したモデルを転送する方法を教えてください。
                    </div>
                    <div data-index="4" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">MIRACOのデータをUSB・Wi-Fi経由で、PCに転送することができます。お使いのPCにRevo Scanがインストールされている場合、MIRACOをPCに接続してRevo Scanを起動すると、MIRACOのプロジェクト一覧が表示されます。
Revo Scanのダウンロードページ：https://www.revopoint3d.jp/pages/support-download
                  </div>
                </div>
                <!-- 6 -->
                <div class="nav_text_item">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">スキャン中に近景モードと遠景モードを切り替えることはできますか？</div>
                    <div data-index="5" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">
                    はい、スキャンを一時停止し、近/遠景モード切り替えボタンをクリックし、モードを切り替えてスキャンを続けます。
                    例えば、遠景モードで対象物の全体的な形状を素早く捉え、近景モードに切り替えて対象物の細部を捉えることができます。
                  </div>
                </div>
                <!-- 7 -->
                <div class="nav_text_item">
                <div class="nav_text_tBox">
                  <div class="nav_title_big">MIRACOは車やボートのような大きなものをスキャンできますか？
                  </div>
                  <div data-index="6" class="nav_icon">+</div>
                </div>
                <div class="nav_title_small">
                       はい、MIRACOは車やボートをスキャンすることができます。ベータテスターのショーケースをご覧ください。
 https://forum.revopoint3d.com/t/johnathan-beta-showcases-car-scanned-with-revopoint-miraco-3d-scanner/22187d-with-revopoint-miraco-3d-scanner/22187
                </div>
              </div>
                <div class="nav_text_item" style="display: none;">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">Can MINI work with Revo Scan without internet access?</div> <!--  8 -->
                    <div data-index="7" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">Yes, Revo Scan does not need to be connected to the internet to work.</div>
                </div>
              </div>

            </div>





            <div class="nav_right_box block_hide">
              <div class="main_text">
                <!-- 1 -->
                <div class="nav_text_item">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">マーカーポイントは何をするものですか？</div>
                    <div data-index="0" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">
                     マーカーポイントは、MIRACOが正しくトラッキングできるように、特徴のないオブジェクトの表面またはその周りに貼り付くものです。
                    スキャン画面に常に5つのマーカーが映られることを確認してください。
                    近景モードの場合は、マーカーを約3～5 cmの間隔でランダムに配置し、遠景モードの場合は5 cmの間隔で配置してください。 
                  </div>
                </div>
                <!-- 2 -->
                <div class="nav_text_item">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">ミニターンテーブルの使用方法を教えてください。</div>
                    <div data-index="1" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">ミニターンテーブルをPCのUSBポートや電源タップに接続し、スキャン対象物をその上に置いて、側面にあるつまみで回転速度と方向を制御します。
                  </div>
                </div>
                <!-- 3 -->
                <div class="nav_text_item">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">パワーバンクはどれくらいの電力を供給しますか？</div>
                    <div data-index="2" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">10,000 mAhのパワーバンクは、MIRACOに最大2.5時間の電力を供給することができます。</div>
                </div>
                <!-- 4 -->
                <div class="nav_text_item" style="display: none;">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">What are marker points used for?</div>
                    <div data-index="3" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">Marker points are stuck to objects without geometric features so the MINI can track what it is scanning. When using Marker points, place them in irregular patterns with around 3-5cms between the markers across the object you’re scanning, and make sure that there are at least 5 marker points always in frame when scanning.</div>
                </div>
                <!-- 5 -->
                <div class="nav_text_item" style="display:none;">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">Charge the LED lamp or replace the battery?</div>
                    <div data-index="4" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">Rechargeable batteries.</div>
                </div>
                <!-- 6 -->
                <div class="nav_text_item" style="display:none;">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">What are marker points used for?</div>
                    <div data-index="5" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">Marker points are stuck to objects without geometric features so the MINI can track what it is scanning. When using Marker points, place them in irregular patterns with around 3-5cms between the markers across the object you’re scanning, and make sure that there are at least 5 marker points always in frame when scanning.</div>
                </div>
                <!-- 7 -->
                <div class="nav_text_item" style="display:none ;">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">POP的精度是多少?</div>
                    <div data-index="6" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">输出模型精度能达0.3mm。</div>
                </div>
                <div class="nav_text_item" style="display: none;">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">What kind of computer is recommended for POP 2 to work smoothly?</div> <!--  8 -->
                    <div data-index="7" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">Recommended computer: Windows10, 64bit,16G and above, I7.</div>
                </div>
              </div>
            </div>




            <div class="nav_right_box block_hide">
              <div class="main_text">
                <!-- 1 -->
                <div class="nav_text_item">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">写真測量モードとはどのような機能ですか？
                    </div>
                    <div data-index="0" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">スキャンを始める前に、スキャンモードを「写真測量」に切り替え、「開始」ボタンをタップして1フレームずつ撮影します。複数フレームの位置合わせをうまく行うために、隣り合ったフレームが50％以上重なりあるように撮影する必要があります。
                  </div>
                </div>
                <!-- 2 -->
                <div class="nav_text_item">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">フレーム数が多いほど、スキャン精度は高くなりますか？
                    </div>
                    <div data-index="1" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">いいえ、複数回スキャンすると、誤差が積み重ねていくので、1つの角度につき一周のみスキャンするようにしてください。
                  </div>
                </div>
                <!-- 3 -->
                <div class="nav_text_item">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">MIRACOでスキャンできないオブジェクトはありますか？</div>
                    <div data-index="2" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">MIRACOは、10×10×10 mm以下の物体をスキャンすることが難しいです。また、多くの3Dスキャナーと同様、黒色、透明、反射する対象物をスキャンするには、事前にスキャンスプレーを使って表面処理をする必要があります。
                  </div>
                </div>
                <!-- 4 -->
                <div class="nav_text_item">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">MIRACOは屋外でスキャンできますか？
                    </div>
                    <div data-index="3" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">はい、屋外でスキャンできますが、直射日光を避けてください。MIRACOにはIP45の防水性能を備えていますが、直接水のかかる場所を避けてください。
                  </div>
                </div>
                <!-- 5 -->
                <div class="nav_text_item" style="display:none;">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">Can INSPIRE scan objects smaller than 50 mm x 50 mm x 50 mm?
                    </div>
                    <div data-index="4" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">Yes, but advanced scanning skills and post-processing are needed. Keep in mind that the smaller the object and its details, the less INSPIRE will be able to detect, as it’s optimized for medium-sized object scanning.
                  </div>
                </div>
                <!-- 6 -->
                <div class="nav_text_item" style="display:none;">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">POP的精度是多少?</div>
                    <div data-index="5" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">输出模型精度能达0.3mm。</div>
                </div>
                <!-- 7 -->
                <div class="nav_text_item" style="display:none;">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">POP的精度是多少?</div>
                    <div data-index="6" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">输出模型精度能达0.3mm。</div>
                </div>
                <div class="nav_text_item" style="display: none;">
                  <div class="nav_text_tBox">
                    <div class="nav_title_big">What kind of computer is recommended for POP 2 to work smoothly?</div> <!--  8 -->
                    <div data-index="7" class="nav_icon">+</div>
                  </div>
                  <div class="nav_title_small">Recommended computer: Windows10, 64bit,16G and above, I7.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="supbgtitle">

      <div class="suptltle">
        <h2>お問い合わせ</h2>
      </div>
    </div>

     <section>
          <div class="contact">
            <div class="live-left">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/lc.png">
              <div class="contacttitle">
                 <a href="" class="lc" style="display: none;">Live Chat &gt;</a>
                <p>24時間対応</p>
                <p style="margin-top: 23px;">メールでのお問い合わせ</p>
                 <a href="mailto:customer@revopoint3d.com" class="lc"><p>customer@revopoint3d.com</p></a>
              </div>
            </div>

            <div class="live-right">
              <div class="contacttitle" style="position: absolute;padding-left: 40px;padding-top: 90px;">
                <h2 style="font-size: 32px;">ご相談窓口</h2>
                <p style="width: 300px;">
                  当社製品に関してご質問、ご不明な点等がございましたら、お電話、チャット、またはメールで、Revopoint のサポートチームにお気軽にご相談ください。
                </p>
              </div>
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/hy.png">
            </div>
          </div>
          <div class="contact1" style="margin-top: 21px;">
            <div class="contact1item">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/om.png">
              <div class="twotitile">
                <h3>オンラインミーティング</h3>
                <p>画面共有でのリモートサポート</p>
              </div>
              <div class="dl">
                <a href="https://meetings.hubspot.com/revopoint-support">ミーティングを予約する &gt;</a>
              </div>
            </div>
            <div class="contact1item">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/hs.png">
              <div class="twotitile">
                <h3>ホットラインサービス</h3>
                <p>電話でのお問い合わせ</p>
              </div>
              <div class="dl">
                <a href="tel:+1 (888) 807-3339">+1 (888) 807-3339</a><br>
                <a href="tel:+86 18124196779">+86 18124196779</a>
              </div>
            </div>
            <div class="contact1item" style="display: none;">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/f.png">
              <div class="twotitile">
                <h3>フォーラム</h3>
                <p>スキャンの経験を共有しよう</p>
              </div>
              <div class="dl">
                <a href="https://forum.revopoint3d.com">コミュニティに参加する
 &gt;</a>
              </div>
            </div>
            <div class="contact1item" style="display: none;">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/g.png">
              <div class="twotitile">
                <h3>グループ</h3>
                <p>アップデート、プレゼント企画、3Dモデルのショーケース</p>
              </div>
              <div class="dl">
                <a href="https://revo.ink/3PFwq2S">グループに参加する
 &gt;</a>
              </div>
            </div>
          </div>
          <p class="edp" style="font-size: 16px;color: #666666;margin-top: 24px;display: none;">
            You can contact us by <a href="" class="lk">Email</a>. For urgent situations, we recommend you contact
            <a href="" class="lk">Online Customer Service</a> for immediate support.
          </p>
        </section>

  </div>

</main>



</body>
<script type="text/javascript">
  // FAQ文案操作
  let menuIndex = 0
  let navHideDoms, arr, navIconDoms, navRightboxs
  let navBtn = document.getElementsByClassName("nav_btn") // 左侧menu

  // nav展开icon绑定事件
  for (let index = 0; index < navBtn.length; index++) {
    navBtn[index].addEventListener("click", navBtnClick)
  }

  function init() {
    navHideDoms = document.getElementsByClassName("nav_title_small") // 右侧隐藏文案
    arr = Array(navHideDoms.length).fill(false)
    navIconDoms = document.getElementsByClassName("nav_icon") // 右侧“+”“-”
    navRightboxs = document.getElementsByClassName("nav_right_box") // 右侧文案
    // nav展开icon绑定事件
    for (let index = 0; index < navIconDoms.length; index++) {
      navIconDoms[index].addEventListener("click", navIconClick)
    }
  }
  init()

  function navBtnClick(e) {
    init()
    menuIndex = Number(e.target.dataset.index)
    navRightboxs[menuIndex].style.display = 'block'
    for (let index = 0; index < navBtn.length; index++) {
      if (+index === +menuIndex) {
        continue
      }
      navRightboxs[index].style.display = 'none'
      navBtn[index].style.borderBottom = 'none'
    }
    navBtn[menuIndex].style.borderBottomWidth = '2px'
    navBtn[menuIndex].style.borderBottomColor = '#000000'
    navBtn[menuIndex].style.borderBottomStyle = 'solid'
  }

  // "+" "-" 点击事件
  function navIconClick(e) {
    let navNum = navBtn.length
    let iconNum = navIconDoms.length
    let currentNum = iconNum / navNum
    let navIndex = Number(e.target.dataset.index)
    let correctNum = currentNum * menuIndex + navIndex
    if (!!arr[correctNum]) {
      navHideDoms[correctNum].style.display = 'none'
      navIconDoms[correctNum].innerHTML = '+'
    } else {
      navHideDoms[correctNum].style.display = 'block'
      navIconDoms[correctNum].innerHTML = '-'
      for (let index = 0; index < navIconDoms.length; index++) {
        if (+index === +correctNum) {
          continue
        }
        navHideDoms[index].style.display = 'none'
        navIconDoms[index].innerHTML = '+'
      }
    }
    arr[correctNum] = !arr[correctNum]
    for (let j = 0; j < navIconDoms.length; j++) {
      if (+j === +correctNum) {
        continue
      }
      arr[j] = false
    }
  }

</script>

</html>