
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Support</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    {{ 'support.css' | asset_url | stylesheet_tag }}
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <style>
     .vlog {height: 350px;overflow-y: scroll;}
     @media (min-width: 200px) and (max-width: 768px) {
            html {
                overflow-x: hidden;
            }
            body {
                margin: 0;
            }

            .revoscan {
                display: block;
                padding: 16px;
            }

            main {
                width: 100%;
            }

            .rs-left {
                width: 100%;
            }

            .rs-left img {
                width: auto;
            }

            .rs-right {
                padding: 20px;
            }

            .rs-right .rstitle p:first-of-type {
                width: 100%;
            }
            .md {
                display: block;
            }
            .rsdownload {
                display: block;
            }
            .rsdownload p {
                font-size: 14px !important;
            }
            .dl a {
                display: block;
            }
            .dl {
                margin-left: 0px !important;
                flex: 1;
            }
            .suptltle h2 {
                font-size: 32px;
                padding: 20px;
            }
            .suptltle {
                background: inherit;
            }
            .software {
                display: block;
                padding: 16px;
            }
            .softwareitem {
                width: 100%;
                display: flex;
                height: auto;
                margin-bottom: 15px;
                align-items: center;
                gap: 20px;
            }
            .softwareitem img {
                margin-top: 0;
                margin-right: 15px;
                padding-left: 15px;
            }
            .twotitle {
                flex: 1;
                text-align: left;
            }
            .twotitile {
                width: 130px;
                text-align: left;
            }
            .twotitile h3 {
                font-size: 14px;
                margin-top: 10px;
            }
            .dlvm a {
                font-size: 14px;
            }
            .video {
                display: block;
            }
            .videodec {
                width: 100%;
                height: auto;
            }
            .videoitem img {
                width: 100%;
            }
            .videoitem {
                padding: 20px;
            }
            .supbgtitle {
                margin-top: 40px;
                margin-bottom: 40px;
            }
            .contact {
                display: block;
                padding: 20px;
            }
            .live-left {
                padding: 30px;
            }
            .contact1 {
                display: block;
                padding: 20px;
            }
            .contact1item {
                width: inherit;
                height: auto;
                margin-bottom: 20px;
            }
            .nav_box {
                display: block;
            }
            .contacttitle {
                position: inherit !important;
                padding: 20px;
                padding-top: 22px !important;
            }
            .contacttitle h2 {
                font-size: 24px !important;
            }
            .contact1item .twotitile {
                text-align: center;
            }
            .live-right img {
                width: 100%;
            }
            .edp {
                padding: 20px !important;
                margin-top: -10px !important;
            }
            .contacttitle p {
                width: 100% !important;
            }
            .videoitem iframe {
                width: 100%;
                height: 200px;
            }


            .w1400 {
                width: 100%;
            }

            .title_big {
                text-align: center;
            }

            .title_small {
                text-align: center;
            }

            .link_box {
                justify-content: center
            }

            .banner_bg {
                width: 100%;
                margin-top: 0px;
            }

            .video_box {
                width: 100%;
                text-align: center;
                justify-content: center;
            }

            .banner_main {
                display: flex;
                justify-content: space-between;
                flex-flow: column;
            }

            .block_one {
                margin: 0;
            }

            .main_text {
                width: 92%;
                padding: 0 15px 0 !important;
            }

            .block_two {
                width: 100%;
            }

            .nav_box {
                width: 100%;
                display: block;
                justify-content: flex-start
            }

            .nav_left_box {
                width: 100%;
                padding: 0;
                margin: 0;
            }

            .nav_left {
                display: flex;
                justify-content: space-evenly;
                padding: 0 !important;
                margin: 0 !important;
            }

            .nav_right_box {
                width: 100%;
            }

            .nav_left li span {
                font-size: 15px;
                word-wrap: break-word;

            }

            .nav_title_big {
                font-size: 15px !important;
            }

            .nav_title_small {
                font-size: 14px !important;
            }

            .requirements_img {
                width: 100%;
                height: 100%;
            }

            .container {
                display: none;
            }

            .li_item {

                margin: 0;
                padding: 0;
                width: 100%;
            }

            .num-box {
                width: 100%;
                height: 300px;
                background-color: #f8f8f8;
            }

            .num-box .num-ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 0;
            }

            .num-box .num-ul li {
                flex: 1;
                cursor: pointer;
                margin-bottom: 10px;
            }

            .num-ul li img {
                width: 100%;
            }

            .big_next {
                word-wrap: normal;
            }

            .nav_icon {
                /* float: right; */
                width: 20px;
            }

            .nav_left {
                padding: 0;
            }

            .w1400 .title_two {
                margin: 0;
                padding: 0;
                height: 120px;
            }

            .w1400 {
                height: auto !important;
            ;
            }

            .block_two {
                height: auto !important;
            }

            .nav_left_box,
            .nav_right_box,
            .main_text {
                height: auto !important;

            }

            .title_three {
                margin: 0;
                padding: 0;
                height: 200px;
                line-height: 200px;
            }

            .title_big {
                padding-top: 60px !important;
                height: 100px !important;
            }

            .link_box {
                height: 90px !important;
            }

            .mobile_last {
                display: none !important;
            }
            .nav_btn {
                padding-left: 15px;
            }
            .prodducts {overflow-x: scroll;}
            .ls {display: block;}
            .ls-right {display: block;padding: 15px;}
            .ls-right-item {margin-top: 20px;}
            .lsmode h2 {font-size: 20px !important;text-align: center;}
            .ls-left p {text-align: center;}
            .revoscan5 {display: block;padding: 15px;}
            .revoscan5 .rs-left {padding: 0;}
            .suptltle h2 {padding: 0 !important;}
            .vlog p {padding: 15px;}
            .versionmode {padding: 15px;}
        }
        .rs5d h2{flex: 0;}
        .rs5d {display: block;}
        .revoscan5 .rs-left {box-sizing: border-box;}
  </style>
</head>
<body>
<main class="maincontent">

  <div class="content">

    <section>
      <div class="revoscan5">
        <div class="rs-left">
          <div class="rs5d">
            <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/rc.png" style="display: inline-block;">
            <h2>Revo Scan 5</h2>
          </div>
          <p>· ほぼすべてのデバイスに対応</p>
          <p style="border-bottom: solid 1px #D8D8D8;padding-bottom: 50px;">· 一クリック後処理</p>
          <div class="downloadmode">
            <div class="rsdownload" style="padding-top: 0;">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/pdf.svg" style="margin-right: 30px;">
              <p style="font-size: 20px;">クイックスタートガイド</p>
            </div>
            <div class="dl" style="">
              <a href="https://download.revopoint3d.com/support/download/soft/revoscan-pc-userguide-jp-v5.4.8-20240628.pdf" >日本語(PC) &gt;</a>
              <a href="https://download.revopoint3d.com/support/download/soft/20240702-Revo-Scan-User-Manual.pdf.zip" >多言語対応 &gt;</a>
            </div>
          </div>
        </div>

        <div class="rs-right" style="padding: 0;">
             <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/17378.png"  style="width: 100%;"/>
        </div>



      </div>
     <div class="software" style="margin-top: 16px;">

            <div class="softwareitem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/win.svg">
              <div class="twotitile">
                <h3>Windows V5.4.7</h3>
                <p>更新日時 2024-04-26</p>
              </div>
              <div class="dl">
                <a href="https://download.revopoint3d.com/soft/RevoScan5-5.4.7.822-windows-x86_64.exe" target="_blank">ダウンロード</a>
                <a href="https://drive.google.com/file/d/1mi6dhBTl16ejSLTDbid_E7ndZxmNIeO-/view?usp=sharing">Google Drive</a>
              </div>
            </div>
            <div class="softwareitem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/mac.svg">
              <div class="twotitile">
                <h3>Mac V5.4.7</h3>
                <p>更新日時 2024-04-26</p>
              </div>
              <div class="dl">
                <a href="https://download.revopoint3d.com/soft/RevoScan5-5.4.7.1163-mac-x86_64.pkg" target="_blank">ダウンロード</a>
                <a href="https://drive.google.com/file/d/1cKh9IdzVKjJhWB3lmde7i4sSjIQLSZoB/view?usp=sharing">Google Drive</a>
              </div>
            </div>
            <div class="softwareitem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/ios.svg">
              <div class="twotitile">
                <h3>iOS V5.3.5</h3>
                <p>更新日時 2024-05-08</p>
              </div>
              <div class="dl">
                <a href="https://apps.apple.com/us/app/3d-scanner-app/id1611278474">App Store</a>
              </div>
            </div>
            <div class="softwareitem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/anzhuo.svg">
              <div class="twotitile">
                <h3>Android V5.3.4</h3>
                <p>更新日時 2024-05-08</p>
              </div>
              <div class="dl">
                <a href="https://download.revopoint3d.com/soft/RevoScan_V5.3.4.apk">Download</a>
                <a href="https://play.google.com/store/apps/details?id=com.revopoint3d.revoscan">Google Play</a>
              </div>
            </div>
           
            </div>

    </section>

    <div class="supbgtitle">

      <div class="suptltle">
        <h2 style="padding: 23px 360px 23px 360px;">PC版更新履歴</h2>
      </div>
    </div>

    <section>
      <div class="versionmode">

        <div class="versiontitle">
          <p>Revo Scan 5.4.7</p>
          <p>更新日時 2024-04-26</p>
        </div>
        <p>更新：一部の内容を修正。</p>
        <h2>従来バッジョン</h2>

        <div class="vlog">
          <p>
            Revo Scan V5.4.7 更新内容<br>
            1. ホームページにアンケートのポップアップを追加しました。<br>
            2. 2軸ターンテーブルの回転開始/停止をスキャナーの開始/停止ボタンで制御する機能を追加しました。<br>
            3. スキャン距離の設定が保存され、プロジェクトに記憶されるようになりました。<br>
            4. MIRACOのスクリーンショットとスクリーン録画がRevo ScanでPCにインポートできるようになりました。<br>
            5. 新規プロジェクト作成時にプロジェクト名を入力するプロンプトを追加しました。設定でオフにできます。<br>
            6. Depthカメラの ROI自動露出を最適化しました。露出を調整するためにクリックする必要がなくなりました。<br>
            7. Depthカメラのデジタルズーム機能のツール説明を追加しました。<br>
            8. ホームページでプロジェクト名を変更すると、ハードディスクのフォルダ名も変更されます。<br>
            
            Revo Scan V5.4.3 更新内容： <br>
            1.MINI 2のサポートを追加。<br>
            2.いくつかの問題を修正。<br>
            3.UXの最適化。<br>
           
            Revo Scan V5.4.2 更新内容<br>
            1. RANGE 2 スキャンとキャリブレーションのサポートを追加。<br>
            2. モデルのマテリアル（ディフューズ、マット、シャイニー）と表示色をカスタマイズするオプションを追加。<br>
            3. メッシュモデルのワイヤーフレーム表示を追加。<br>
            4. ホームページのプロジェクトカバーを最適化。<br>
            5. デモモデルを追加。<br>
            6. 全体的なUXを最適化。<br>
            7. いくつかの問題を修正。<br>
          
            Revo Scan V5.4.1 更新内容<br>
            1. デプスカメラにズーム機能を追加しました。<br>
            2. スキャン設定の保存とインポートが可能になりました。<br>
            3. シングルショットモードを追加しました。<br>
            4. 学習セクションを更新しました。<br>
            5. 点群単純化時のダウンサンプリング方法の選択を追加しました。<br>
            6. 選択ツールを使用して穴を選択できるようになりました。<br>
            7. スクリーンショット機能を追加しました。<br>
            8. メッシュを表示するオプションを追加しました。<br>
            9. 露出エラーのプロンプトを追加。<br>
            10. スキャンパネルを折りたたむことができるようになりました。<br>
            11. エクスポート時、モデルの中心がデフォルトで座標原点に設定されます。<br>
            12. 選択機能に減算が追加されました。<br>
            13. Merge のマーカー整列モードに拡大機能を追加しました。。<br>
            14. ホーム画面を最大化できるようになりました。<br>
            15. ホール選択の UX を最適化しました。<br>
            
            Revo Scan V5.3.4 更新内容<br>
            1. いくつかの問題を修正しました。<br>
            2. 深度カメラの自動露出の初期設定をオンからオフに変更。<br>
           
          </p>
        </div>

      </div>
    </section>


  </div>

</main>



</body>
</html>