
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Revopoint INSPIRE is a cost-effective, user-friendly 3D scanner for 3D printing enthusiasts, makers, and designers.">
    <meta name="keywords" content="3d object scanner,revopoint inspire,inspire scanner,3d model scanner">
    <link href="{{ 'inspire.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}">
    <style>
        .sup-left h2 {font-size: 25px;}
        .swiper-button-prev, .swiper-container-rtl .swiper-button-next {background-image: inherit !important;}
        #main>.wf-wrap {padding: 0 !important;width: 100% !important;}
        #main {padding: 0 !important;}
        .inspire_banner {margin-top: 0 !important;}
        .masthead:not(.side-header):not(.mixed-header) .header-bar, .header-space {height: inherit !important;}
        .mega-menu-widgets section {margin-top: 0 !important;margin-bottom: 0 !important;}
        .mega-menu-img img {width: 300px !important;}
        .main_text {padding: 0 !important;}
    </style>
</head>
<body>
<div class="submenu" style="display: none;">
    <div class="subname">
        INSPIRE 3Dスキャナー
    </div>
    <div class="subm">
        <a href="#ov">Overview</a>
        <a href="#fe">Features</a>
        <a href="#ca">Cases</a>
        <a href="#app">Applications</a>
        <a href="#spec">Specs</a>
    </div>
    <div class="buybutton">
        <a href="">BUY</a>
    </div>
</div>

<div class="inspire_banner">
    <video width="100%" autoplay="" muted="muted" playsinline="" style="opacity: 0.4;position: relative;background: #000;">
        <source src="https://cdn.shopify.com/videos/c/vp/23a27d22a6d74424ae26d4d275b757cc/23a27d22a6d74424ae26d4d275b757cc.SD-480p-1.2Mbps-20750851.mp4#t=0.1" type="video/mp4">
    </video>
    <div class="bannertitle">
        <h2>INSPIRE 3Dスキャナー</h2>
        <p>ポケットに収納可能なデザイン、優れた性能</p>
        <div class="bannerbutton">
            <a href="" style="display: none;">Watch Video</a>
            <a href="/products/cost-effective-3d-scanner-inspire">今すぐ購入</a>
        </div>
    </div>
</div>
<div class="mobile_inspire_banner">
    <a href="/products/cost-effective-3d-scanner-inspire"><img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/inspire_5761ef2e-db48-4a24-bee6-73892c0a3203.png?v=1718774532"></a>
</div>

<div class="contain">

    <div class="supbgtitle content" id="ov">
        <div class="suptltle">
            <h2>ハイライト</h2>
        </div>
    </div>

    <section class="content" style="display: none;">
        <div class="ov" style="display: none;">
            <div class="ovp">
                <h2>「PRODUCT FEATURES」</h2>
            </div>
            <div class="ovp">
                <p style="margin-bottom: 25px;">For far too long, access to capable 3D scanners has been locked behind eye-watering price tags. That ends now with our most cost-effective 3D scanner yet, the Revopoint INSPIRE.</p>
                <p> Packed with technology, this compact handheld 3D scanner designed for scanning medium-sized objects brings high-quality 3D scanning within reach of everyone. Whether you’re an engineer, designer, artist, or 3D printing enthusiast, INSPIRE empowers you to create without barriers and bring your projects to life in stunning 3D detail.</p>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="hotimg">
            <div class="imgl">
                <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/10526_430x.png">
                <div class="imgd">
                    <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/10528_430x.png">
                    <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/10536_430x.png">
                </div>
                <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/10529_430x.png">
            </div>
            <div class="imgr">
                <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/10515_430x.png">
                <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/asd_430x.png">
            </div>
        </div>
    </section>

    <section class="full-width cd" style="display: none;">
        <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/cd.webp">
    </section>
    <section class="full-width mcd" style="display: none;">
        <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/mcd.webp">
    </section>

    <section class="content">
        <div class="binmode">
            <div class="binitem">
                <h2>テクノロジー<br>デュアルカメラ赤外線ライト</h2>
                <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/bin.webp">
            </div>
            <div class="binitem">
                <h2>シームレスな接続<br>Wi-Fi 6＆USB Type-C</h2>
                <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/sea.webp">
            </div>
        </div>
    </section>

    <div class="supbgtitle content" id="fe">
        <div class="suptltle">
            <h2>おすすめポイント</h2>
        </div>
    </div>

    <section class="content fea">
        <div class="features">
            <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/f1.webp">
            <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/1_21cb726a-add3-4042-b4b4-28e5a1b3e317_430x.png">
        </div>
        <div class="ftitle">
            <h2>正確な3Dモデル作成</h2>
            <p>Revopoint INSPIRE 3Dスキャナーは、最大0.2 mmのエンジニアリンググレードの精度、14～18 fpsの高速スキャンを誇り、すぐに使える3Dモデルを素早く作成することで、3Dモデリングの効率を向上させることができます。</p>
        </div>
    </section>
    <section class="content mfea">
        <div class="ftitle">
             <h2>正確な3Dモデル作成</h2>
            <p>Revopoint INSPIRE 3Dスキャナーは、最大0.2 mmのエンジニアリンググレードの精度、14～18 fpsの高速スキャンを誇り、すぐに使える3Dモデルを素早く作成することで、3Dモデリングの効率を向上させることができます。</p>
        </div>
        <div class="features">
            <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/1_21cb726a-add3-4042-b4b4-28e5a1b3e317_430x.png">
        </div>
    </section>

    <section class="mediamode content">
        <div class="mediaitem">
            <div class="medialeft">
                <div class="tab-menu">
                    <div class="tab-item" onclick="showTab(1)" id="tab1">柔軟なスキャン</div>
                    <div class="tab-item active" onclick="showTab(2)" id="tab2">手持ち</div>
                    <div class="tab-item" onclick="showTab(3)" id="tab3">ターンテーブル</div>
                    <div class="tab-line active" id="tabLine" style="left: 33.3333%;"></div>
                </div>
                <div class="tab-content">
                    <div class="tab-panel" id="panel1">
                        <img src="https://download.revopoint3d.com/inspire/maozi.gif">
                    </div>
                    <div class="tab-panel active" id="panel2">
                        <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/hh.webp">
                    </div>
                    <div class="tab-panel" id="panel3">
                        <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/tt.webp">
                    </div>
                </div>
            </div>
            <div class="mediaright">
                <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/f3.webp">
            </div>
        </div>
    </section>

    <section class="content">
        <div class="f1title">
            <h2>コンパクトで汎用性高い</h2>
            <p>本体重量わずか140 gのINSPIREは、ポケットサイズで持ち運びやすいです。手持ちとターンテーブル両方のスキャンに対応しており、AndroidやiOSスマートフォンと組み合わせて手軽にスキャンできます。</p>
        </div>
    </section>

    <section class="content cvi">
        <div class="features">
            <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/msd.gif">
            <div class="subf">
                <h2>メッシュモデル</h2>
                <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/meshmodel.webp">
            </div>
        </div>
        <div class="ftitle" style="width: auto;">
            <h2>優れたマーカートラッキング</h2>
            <p>マーカー付のマジックマット（50×50 cm）と2つの赤外線補助照明を利用することで、マーカーの可視性を高め、スマートなアルゴリズムによりフレームの位置合わせが容易になり、特徴のないオブジェクトを簡単にスキャンすることができます。</p>
        </div>
    </section>

    <section class="content mcvi">
        <div class="features">
            <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/mf1.webp">

        </div>
        <div class="ftitle" style="width: auto;">
            <h2>優れたマーカートラッキング</h2>
            <p>マーカー付のマジックマット（50×50 cm）と2つの赤外線補助照明を利用することで、マーカーの可視性を高め、スマートなアルゴリズムによりフレームの位置合わせが容易になり、特徴のないオブジェクトを簡単にスキャンすることができます。</p>
        </div>
    </section>

    <section class="content ssm">
        <div class="features">
            <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/single.webp">
        </div>
        <div class="ftitle" style="width: auto;">
            <h2>手ブレ補正抜群</h2>
            <p>内蔵した9 軸 IMU (慣性測定ユニット) とスマートなアルゴリズムにより、手ブレや移動によって発生するフレームのズレを自動的に削除し、より正確なスキャンを得ることができます。</p>
        </div>
    </section>

    <section class="content mssm">
        <div class="features">
            <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/imub.webp">
            <div class="subf">
                <h2>メッシュモデル</h2>
                <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/meshmodel.webp">
            </div>
        </div>

    </section>

    <section class="content blpc">
        <div class="bl">
            <div class="features">
                <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/bl.gif">
            </div>
            <div class="f2title">
                <div class="f2h2" style="width: auto;">
                    <h2>鮮明な色を再現</h2>
                </div>
                <div class="f2p">
                    <p>INSPIREのRGBカメラにLED補助照明を搭載しており、オブジェクトを照らして影をなくし、色を正確に取り込むことで、より鮮明なカラースキャンを作成することができます。</p>
                </div>
            </div>
        </div>
    </section>

    <section class="content blm">
        <div class="bl">
            <div class="f2title">
                <div class="f2h2" style="width: auto;">

                    <h2>鮮明な色を再現</h2>
                </div>
                <div class="f2p">
                    <p>INSPIREのRGBカメラにLED補助照明を搭載しており、オブジェクトを照らして影をなくし、色を正確に取り込むことで、より鮮明なカラースキャンを作成することができます。</p>
                </div>
            </div>
        </div>
        <div class="features">
            <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/bl.gif">
        </div>
    </section>

    <section class="content rs5">
        <div class="rjmode">
            <div class="rjleft">
                <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/rj.webp">
                <h2>Revo Scan 5</h2>
                <p>3Dスキャン、後処理、複数モデルの合成を一体化した無料ソフトウェア。</p>
                <a href="/pages/support-inpaire/">もっと見る ></a>
            </div>
            <div class="rjright">
                <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/2_b16e29db-0531-47ba-88f9-43846bd8aa7f_430x.png">
            </div>
        </div>
        <div class="ftitle" style="width: auto;margin-top: 60px">
            <h2>高性能ソフトウェア</h2>
            <p> Revo Scan 5は、強力な3Dスキャンと編集機能を備えた直感的に使えるソフトウェアです。幅広い互換性を持ち、iOS、Android、Windows、macOSデバイスに対応しています。STL、PLY、またはOBJ形式でのデータ出力が可能で、ほとんどのCAD、3Dモデリングおよびスライサーソフトウェアと互換性があります。</p>
        </div>

    </section>

    <section class="content mrs5">
        <div class="ftitle" >
            <h2>高性能ソフトウェア</h2>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/mrs5.webp">
        <div style="text-align: center;margin-top: 20px;">
            <a href="/pages/support-inspire/">もっと見る&gt;</a>
        </div>
    </section>

    <section class="content buzzpc">
        <div class="ftitle" style="width: auto;">
            <h2 class="buzz">評価・口コミ</h2>
            <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/buzz.webp">
        </div>

    </section>

    <section class="content buzzm">
        <div class="ftitle" style="width: auto;">
            <h2 class="buzz">評価・口コミ</h2>
            <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/mbuzz.webp">
        </div>

    </section>

    <section class="content">
        <div class="slmode">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/buzz3.webp">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/buzz1.webp">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/buzz2.webp">
                    </div>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-right">
                <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/swiperimg.webp">
            </div>
        </div>
    </section>

    <section class="full-width models" id="ca">
        <div class="content">
            <h2>INSPIREで作成した3Dモデル</h2>
            <div class="modelsmode">
                <div class="modelsitem">
                    <div class="sketchfab-embed-wrapper">
                        <iframe title="Whale Statue - Revopoint INSPIRE 3D Scanner" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="389" height="389" src="https://sketchfab.com/models/91a1ecbaa60c491489f324150355ceaf/embed"> </iframe>
                    </div>
                </div>
                <div class="modelsitem sec">
                    <div class="sketchfab-embed-wrapper">
                        <iframe title="Arabic Teapot - Revopoint INSPIRE 3D Scanner" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="389" height="389" src="https://sketchfab.com/models/55254dc02a834b4483bbcfd43fd15bfa/embed"> </iframe>
                    </div>
                </div>
                <div class="modelsitem">
                    <div class="sketchfab-embed-wrapper">
                        <iframe title="Whale Statue - Revopoint INSPIRE 3D Scanner" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="389" height="389" src="https://sketchfab.com/models/3ff4eb11ae8d43e9817c4f0944c6590c/embed"> </iframe>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="supbgtitle content" id="app">
        <div class="suptltle">
            <h2>用途</h2>
        </div>
    </div>

    <section class="content">
        <div class="applmode">
            <div class="applitem">
                <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/a1.jpg">
                <div class="appitemp">
                    <h2>3Dプリント</h2>
                    <p>INSPIREで3Dモデルを作成したら、そのまま3Dプリントすることができるので、製作時間を大幅に削減することができます。</p>
                </div>
            </div>
            <div class="applitem">
                <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/a2.webp">
                <div class="appitemp">
                    <h2>文化財のデジタル化</h2>
                    <p>歴史的遺物や骨董品を正確にスキャンしてデジタル化することで、修復、保存、または教育に役立ちます。</p>
                </div>
            </div>
            <div class="applitem">
                <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/a3.webp">
                <div class="appitemp">
                    <h2>ゲーム改造</h2>
                    <p>自分の顔やペット、洋服などをスキャンしてゲームエンジンにインポートすると、お気に入りのビデオゲームにユニックな雰囲気を加えることができます。</p>
                </div>
            </div>
            <div class="applitem">
                <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/a4.jpg">
                <div class="appitemp">
                    <h2>デジタルデザイン</h2>
                    <p>INSPIREで3Dデータを取得し、それを3Dモデリングソフトウェアにて自由に変えて新しいものを作り出し、創造の可能性を切り開きます。</p>
                </div>
            </div>
        </div>
    </section>

    <div class="supbgtitle content" id="spec">
        <div class="suptltle">
            <h2>仕様</h2>
        </div>
    </div>

    <section class="content spectable">
        <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/spec.webp" style="background: #f6f6f6;margin-bottom: 40px;">
        <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/18889.png">
    </section>
    <section class="content mspectable">
        <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/spec.webp" style="background: #f6f6f6;margin-bottom: 40px;">
        <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/18889.png">
    </section>

    <section class="full-width models">
        <div class="content youtu">
            <h2>INSPIREレビュー動画</h2>
            <div class="mvideo">
                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/-UypBnm-_Co?si=HAZfOfwkeoUznJzw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="swiper mySwiper1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/-UypBnm-_Co?si=dNZbwlTjhQXBBHdb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="swiper-slide">
                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/7oTrVlLkJ60?si=XwnY4Zl17gisWDSI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="swiper-slide">
                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/D_E9cGsOGfs?si=JXfRTtDHh_Umfmd1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="swiper-slide">
                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/bR0E7cHrxzw?si=-4FPgVs7W_azXBEY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="swiper-slide">
                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/tLkU-w7rJOM?si=col1OloXNSHqVAf_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

        </div>
    </section>

    <section class="content ass">
        <h2>人気アクセサリー</h2>
        <div class="access">
            <div class="accessitem">
                <div class="accessimg">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/zt.webp">
                </div>
                <div class="accesstitle">
                    <h2>2軸ターンテーブル</h2>
                    <p>調整可能な回転速度と±30°の傾斜角度により、3Dスキャンが簡単に。</p>
                    <a href="https://www.revopoint3d.jp/products/revopoint-dual-axis-turntable?oseid=ojGrau3DZj6ckLaNSFu2yfw3">
                        <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/10509_430x.png">
                    </a>
                </div>
            </div>
            <div class="accessitem">
                <div class="accessimg">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/mki.jpg">
                </div>
                <div class="accesstitle">
                    <h2>モバイルキット</h2>
                    <p>スマホでスキャンする際に便利なアイテム。</p>
                    <a href="https://www.revopoint3d.jp/products/mobile-kit-inspire?oseid=ojGrau3DZj6ckLaNSFu2yfw3">
                        <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/10509_430x.png">
                    </a>
                </div>
            </div>
            <div class="accessitem" style="display: none;">
                <div class="accessimg">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/ph.webp">
                </div>
                <div class="accesstitle">
                    <h2>Mobile Phone Holder</h2>
                    <p>Attach the Mobile Phone Holder to your tripod for easy mobile scanning. The Phone Holder’s expandable grip fits phones from 55.2 mm to 119 mm wide. The grip’s rubber pads prevent scratching while holding the phone securely.</p>
                    <a href="">
                        <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/10509_430x.png">
                    </a>
                </div>
            </div>

        </div>
    </section>

    <section class="content guide">
        <div class="sup">
            <div class="sup-left">
                <h2>INSPIRE取扱説明書</h2>
                <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/pdf.webp">
                <div>
                    <a href="https://download.revopoint3d.com/inspireweb/INSPIRE-zy-en.pdf" target="_blank">Webで閲覧 ></a>
                </div>
                <div>
                    <a href="https://download.revopoint3d.com/inspireweb/INSPIRE-zy-en.pdf.zip">ダウンロード ></a>
                </div>
            </div>
            <div class="sup-right">
                <div class="supitem">
                    <div class="supitem-l">
                        <h2>ソフトウェアのダウンロード</h2>
                        <p>ユーザーフレンドリーなスキャン、編集、合成のプロセス。</p>
                        <a href="/pages/support-download/">もっと見る ></a>
                    </div>
                    <div class="supitem-r">
                        <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/rj.webp">
                    </div>
                </div>
                <div class="supitem">
                    <div class="supitem-l">
                        <h2>24時間対応（英語）</h2>
                        <p>当社製品に関してご質問、ご不明な点等がございましたら、お電話、チャット、またはメールで、Revopoint のサポートチームにお気軽にご相談ください。</p>
                                                  <a href="" style="display: none;">Learn More ></a>
                    </div>
                    <div class="supitem-r">
                        <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/24.webp">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content mguide">
        <div class="sup">
            <div class="sup-left" style="margin-bottom: 40px;">
               <h2>INSPIRE取扱説明書</h2>
                <p>ユーザーフレンドリーなスキャン、編集、合成のプロセス。</p>
                <div style="margin-bottom: -20px;">
                    <a href="https://download.revopoint3d.com/pdf/MIRACO%20%E6%8A%98%E9%A1%B5-%E6%97%A5%E6%96%87-V4.0.pdf">Webで閲覧 ></a>
                </div>
                <div>
                    <a href="https://download.revopoint3d.com/pdf/MIRACO%20%E6%8A%98%E9%A1%B5-%E6%97%A5%E6%96%87-V4.0.pdf">ダウンロード ></a>
                </div>
            </div>
            <div class="sup-right">
                <div class="supitem">
                    <div class="supitem-l">
                        <h2>ソフトウェアのダウンロード</h2>
                        <p>ユーザーフレンドリーなスキャン、編集、合成のプロセス。</p>
                        <a href="/pages/support-download/">もっと見る ></a>
                    </div>
                    <div class="supitem-r">
                        <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/rj.webp">
                    </div>
                </div>
                <div class="supitem">
                    <div class="supitem-l">
                        <h2>24時間対応（英語）</h2>
                        <p>当社製品に関してご質問、ご不明な点等がございましたら、お電話、チャット、またはメールで、Revopoint のサポートチームにお気軽にご相談ください。</p>
                        <a href="" style="display: none;">もっと見る ></a>
                    </div>
                    <div class="supitem-r">
                        <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/24.webp">
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<style>
    .arrow {
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        transform: rotate(270deg);
    }
    .arrow span {
        display: block;
        width: 18px;
        height: 18px;
        border-bottom: 5px solid white;
        border-right: 5px solid white;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    .arrow span:nth-child(2) {
        animation-delay: -0.2s;
    }

    .arrow span:nth-child(3) {
        animation-delay: -0.4s;
    }

    @keyframes animate {
        0% {
            opacity: 0;
            transform: rotate(45deg) translate(-20px, -20px);
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: rotate(45deg) translate(20px, 20px);
        }
    }

</style>

<div class="popupitem" style="width: 170px;background: #E62828;padding: 2px;position: fixed;top: 75%;right: 0px;">


    <a href="https://www.revopoint3d.jp/products/cost-effective-3d-scanner-inspire?oseid=ojGrau3DZj6ckLaNSFu2yfw3">
        <button style="background: #fff;color: #E62828;width: 170px;text-align: center;height: 40px;line-height: 10px;cursor: pointer;padding-left: 20px;">今すぐ購入 &gt;</button></a>
    
</div>
</body>

<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"> </script>
<script>
    var swiper = new Swiper(".mySwiper", {
        pagination: {
            el: ".swiper-pagination",
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        loop: true, // 循环模式选项
    });
</script>
<script>

    var swiper = new Swiper(".mySwiper1", {
        slidesPerView: 4,
        spaceBetween: 16,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        loop: true, // 循环模式选项
    });

</script>
<script>
    // 切换选项卡
    function showTab(tabNumber) {
        // 隐藏所有选项卡内容和菜单下方线条
        const tabPanels = document.querySelectorAll('.tab-panel');
        const tabItems = document.querySelectorAll('.tab-item');
        const tabLine = document.getElementById('tabLine');

        tabPanels.forEach(panel => {
            panel.classList.remove('active');
        });

        tabItems.forEach(item => {
            item.classList.remove('active');
        });

        // 显示选中的选项卡内容和菜单下方线条
        const selectedPanel = document.getElementById(`panel${tabNumber}`);
        const selectedTabItem = document.getElementById(`tab${tabNumber}`);


        selectedPanel.classList.add('active');
        selectedTabItem.classList.add('active');

        // 设置菜单下方线条位置
        const tabWidth = 100 / tabItems.length;
        tabLine.style.left = `${(tabNumber - 1) * tabWidth}%`;

        // 添加或移除 .active 类以改变菜单下方线条颜色
        tabLine.classList.remove('active');
        setTimeout(function() {
            tabLine.classList.add('active');
        }, 10);
    }

    // 默认显示第一个选项卡及对应的内容
    showTab(1);

</script>
<script>
    window.addEventListener("scroll", function() {
        var header = document.querySelector(".submenu");
        if (window.scrollY > 0) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    });

</script>
</html>