<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ 'support.css' | asset_url | stylesheet_tag }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .nav_btn_border {border-left: inherit !important;}
        .nav_btn {padding-left: 0 !important;}
        .mdtitle {margin-top: 13px;}
        .rsdownload {padding-top: 35px;gap: 31px;}

        @media (min-width: 200px) and (max-width: 768px) {
            html {
                overflow-x: hidden;
            }
            body {
                margin: 0;
            }

            .revoscan {
                display: block;
                padding: 16px;
            }

            main {
                width: 100%;
            }

            .rs-left {
                width: 100%;
            }

            .rs-left img {
                width: 100%;
            }

            .rs-right {
                padding: 20px;
            }

            .rs-right .rstitle p:first-of-type {
                width: 100%;
            }
            .md {
                display: block;
            }
            .rsdownload {
                display: block;
            }
            .rsdownload p {
                font-size: 14px !important;
            }
            .dl a {
                display: block;
            }
            .dl {
                margin-left: 0px !important;
                flex: 1;
            }
            .suptltle h2 {
                font-size: 32px;
                padding: 20px;
            }
            .suptltle {
                background: inherit;
            }
            .software {
                display: block;
                padding: 16px;
            }
            .softwareitem {
                width: 100%;
                display: flex;
                height: auto;
                margin-bottom: 15px;
                align-items: center;
                gap: 20px;
            }
            .softwareitem img {
                margin-top: 0;
                margin-right: 15px;
                padding-left: 15px;
            }
            .twotitle {
                flex: 1;
                text-align: left;
            }
            .twotitile {
                flex: 1;
                text-align: left;
            }
            .twotitile h3 {
                font-size: 14px;
            }
            .dlvm a {
                font-size: 14px;
            }
            .video {
                display: block;
            }
            .videodec {
                width: 100%;
                height: auto;
            }
            .videoitem img {
                width: 100%;
            }
            .videoitem {
                padding: 20px;
            }
            .supbgtitle {
                margin-top: 40px;
                margin-bottom: 40px;
            }
            .contact {
                display: block;
                padding: 20px;
            }
            .live-left {
                padding: 30px;
            }
            .contact1 {
                display: block;
                padding: 20px;
            }
            .contact1item {
                width: inherit;
                height: auto;
                margin-bottom: 20px;
            }
            .nav_box {
                display: block;
            }
            .contacttitle {
                position: inherit !important;
                padding: 20px;
                padding-top: 22px !important;
            }
            .contacttitle h2 {
                font-size: 24px !important;
            }
            .contact1item .twotitile {
                text-align: center;
            }
            .live-right img {
                width: 100%;
            }
            .edp {
                padding: 20px !important;
                margin-top: -10px !important;
            }
            .contacttitle p {
                width: 100% !important;
            }
            .videoitem iframe {
                width: 100%;
                height: 200px;
            }


            .w1400 {
                width: 100%;
            }

            .title_big {
                text-align: center;
            }

            .title_small {
                text-align: center;
            }

            .link_box {
                justify-content: center
            }

            .banner_bg {
                width: 100%;
                margin-top: 0px;
            }

            .video_box {
                width: 100%;
                text-align: center;
                justify-content: center;
            }

            .banner_main {
                display: flex;
                justify-content: space-between;
                flex-flow: column;
            }

            .block_one {
                margin: 0;
            }

            .main_text {
                width: 92%;
                padding: 0 15px 0 !important;
            }

            .block_two {
                width: 100%;
            }

            .nav_box {
                width: 100%;
                display: block;
                justify-content: flex-start
            }

            .nav_left_box {
                width: 100%;
                padding: 0;
                margin: 0;
            }

            .nav_left {
                display: flex;
                justify-content: space-evenly;
                padding: 0 !important;
                margin: 0 !important;
            }

            .nav_right_box {
                width: 100%;
            }

            .nav_left li span {
                font-size: 15px;
                word-wrap: break-word;

            }

            .nav_title_big {
                font-size: 15px !important;
            }

            .nav_title_small {
                font-size: 14px !important;
            }

            .requirements_img {
                width: 100%;
                height: 100%;
            }

            .container {
                display: none;
            }

            .li_item {

                margin: 0;
                padding: 0;
                width: 100%;
            }

            .num-box {
                width: 100%;
                height: 300px;
                background-color: #f8f8f8;
            }

            .num-box .num-ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 0;
            }

            .num-box .num-ul li {
                flex: 1;
                cursor: pointer;
                margin-bottom: 10px;
            }

            .num-ul li img {
                width: 100%;
            }

            .big_next {
                word-wrap: normal;
            }

            .nav_icon {
                /* float: right; */
                width: 20px;
            }

            .nav_left {
                padding: 0;
            }

            .w1400 .title_two {
                margin: 0;
                padding: 0;
                height: 120px;
            }

            .w1400 {
                height: auto !important;
            ;
            }

            .block_two {
                height: auto !important;
            }

            .nav_left_box,
            .nav_right_box,
            .main_text {
                height: auto !important;

            }

            .title_three {
                margin: 0;
                padding: 0;
                height: 200px;
                line-height: 200px;
            }

            .title_big {
                padding-top: 60px !important;
                height: 100px !important;
            }

            .link_box {
                height: 90px !important;
            }

            .mobile_last {
                display: none !important;
            }
            .nav_btn {
                padding-left: 15px;
            }
        }
    </style>


</head>
<body>
<main class="maincontent">

    <div class="content">

        <section>
            <div class="revoscan">
                <div class="rs-left">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/inspire.webp">

                </div>

                <div class="rs-right">

                    <div class="rstitle" style="padding-bottom: 0;border-bottom: inherit;">
                        <h2 style="font-size: 32px;">INSPIRE 3Dスキャナー</h2>
                        <p>ポケットに収納可能なデザイン、優れた性能</p>
                    </div>

                    <div class="md">
                        <div class="mditem">
                            <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/ega.svg">
                            <div class="mdtitle">
                                <p>エンジニアリンググレードの精度</p>
                                <p>最大0.2 mm</p>
                            </div>
                        </div>
                        <div class="mditem">
                            <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/emt.svg">
                            <div class="mdtitle">
                                <p>強化されたマーカートラッキング</p>
                                <p>デュアル赤外線補助照明＆マジックマット</p>
                            </div>
                        </div>
                    </div>

                    <div class="md" style="border-bottom: solid 1px #D8D8D8;padding-bottom: 20px;">
                        <div class="mditem">
                            <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/fs.svg">
                            <div class="mdtitle">
                                <p>高速スキャン</p>
                                <p>最大18 fps</p>
                            </div>
                        </div>
                        <div class="mditem">
                            <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/ccs.svg">
                            <div class="mdtitle">
                                <p>鮮明なカラースキャン</p>
                                <p>RGBカメラ&LED照明</p>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex">
                        <div class="downloadmode">
                            <div class="rsdownload">
                                <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/pdf.svg" style="">
                                <p style="font-size: 20px;">クイックスタートガイド</p>
                            </div>
                            <div class="dl" style="margin-left: 74px;">
                                <a href="https://download.revopoint3d.com/support/download/inspire/inspire-quickstartguide-jp-v1.0-2024.4.15.pdf" target="_blank">日本語 &gt;</a>
                                <a href="https://download.revopoint3d.com/wp-content/uploads/download/INSPIRE Multilingual-20240423.pdf.zip" target="_blank">多言語対応 &gt;</a>
                            </div>
                        </div>

                        <div class="downloadmode">
                            <div class="rsdownload">
                             <!--  
                                <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/pdf.svg" style="">
                                <p style="font-size: 20px;" style="display: none;">Tutorial and Tips</p>
                            </div>
                            <div class="dl" style="margin-left: 74px;" style="display: none;">
                                <a href="https://download.revopoint3d.com/supportsucai/download/INSPIRE-en.pdf" target="_blank">ユーザーマニュアル &gt;</a>
                                <a href="https://download.revopoint3d.com/supportsucai/download/INSPIRE-cn.pdf" target="_blank">多言語対応 &gt;</a>
                              -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="supbgtitle">

                <div class="suptltle">
                    <h2>ソフトウェア</h2>
                </div>
            </div>

            <div class="software">

                <div class="softwareitem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/win.svg">
              <div class="twotitile">
                <h3>Windows V5.4.7</h3>
                <p>更新日付 2024-04-26</p>
              </div>
              <div class="dl">
                <a href="https://download.revopoint3d.com/soft/RevoScan5-5.4.7.822-windows-x86_64.exe" target="_blank">ダウンロード</a>
                <a href="https://drive.google.com/file/d/1mi6dhBTl16ejSLTDbid_E7ndZxmNIeO-/view?usp=sharing">Google Drive</a>
              </div>
            </div>
            <div class="softwareitem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/mac.svg">
              <div class="twotitile">
                <h3>Mac V5.4.7</h3>
                <p>更新日付 2024-04-26</p>
              </div>
              <div class="dl">
                <a href="https://download.revopoint3d.com/soft/RevoScan5-5.4.7.1163-mac-x86_64.pkg" target="_blank">ダウンロード</a>
                <a href="https://drive.google.com/file/d/1cKh9IdzVKjJhWB3lmde7i4sSjIQLSZoB/view?usp=sharing">Google Drive</a>
              </div>
            </div>
            <div class="softwareitem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/ios.svg">
              <div class="twotitile">
                <h3>iOS V5.3.5</h3>
                <p>更新日付 2024-05-08</p>
              </div>
              <div class="dl">
                <a href="https://apps.apple.com/us/app/3d-scanner-app/id1611278474">App Store</a>
              </div>
            </div>
            <div class="softwareitem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/anzhuo.svg">
              <div class="twotitile">
                <h3>Android V5.3.4</h3>
                <p>更新日付 2024-05-08</p>
              </div>
              <div class="dl">
                <a href="https://download.revopoint3d.com/soft/RevoScan_V5.3.4.apk">ダウンロード</a>
                <a href="https://play.google.com/store/apps/details?id=com.revopoint3d.revoscan">Google Play</a>
              </div>
            </div>
            </div>

        </section>

        <section>
            <div class="dlvm" style="display: none;">
                <a href="">View More &gt;</a>
            </div>
        </section>


        <div class="supbgtitle">

            <div class="suptltle">
                <h2>ビデオ</h2>
            </div>
        </div>

        <section>
            <div class="video">

                <div class="videoitem">
                    <iframe width="288px" height="162px" src="https://www.youtube.com/embed/Mamx-m_lsJ8?si=ygekY6HIvB3fLO-R" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="videodec" style="display: none;">
                        <p>INSPIRE 3D Scanner: Standard Package First Use Tutorial</p>
                    </div>
                </div>
                <div class="videoitem" style="visibility: hidden;">
                    <iframe width="288px" height="162px" src="https://www.youtube.com/embed/XEvvkHdPVeo?si=yrpSFId__JwogxUx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="videodec" style="display: none;">
                        <p>INSPIRE 3D Scanner: Standard Package First Use Tutorial</p>
                    </div>
                </div>
                <div class="videoitem" style="visibility: hidden;">
                    <iframe width="288px" height="162px" src="https://www.youtube.com/embed/NErC5BWheJ0?si=FzSAH8Y3bbFv7lnL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="videodec" style="display: none;">
                        <p>INSPIRE 3D Scanner: Standard Package First Use Tutorial</p>
                    </div>
                </div>
                <div class="videoitem" style="visibility: hidden;">
                    <iframe width="288px" height="162px" src="https://www.youtube.com/embed/wzYMnTAT0x4?si=qCV_nZka8cn3HKLl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="videodec" style="display: none;">
                        <p>INSPIRE 3D Scanner: Standard Package First Use Tutorial</p>
                    </div>
                </div>


            </div>
        </section>


        <div class="supbgtitle">

            <div class="suptltle">
                <h2>よくある質問</h2>
            </div>
        </div>

        <section>
            <div class="">
                <div class="w1400">

                    <div class="nav_box">
                        <div class="nav_left_box">
                            <ul class="nav_left" style="list-style:none ;">
                                <li><span data-index="0" class="nav_btn nav_btn_border" href="#" style="border-bottom: 2px solid rgb(0, 0, 0);">ハードウェア</span></li>
                                <li><span data-index="1" class="nav_btn" href="#">ソフトウェア</span></li>
                                <li><span data-index="2" class="nav_btn" href="#">アクセサリー</span></li>
                                <li><span data-index="3" class="nav_btn" href="#">スキャンのコツ</span></li>
                            </ul>
                        </div>
                        <div class="nav_right_box">
                            <div class="main_text">
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">POP 3、MINI、RANGE、INSPIREの違いは何ですか?
                                        </div> <!--  1 -->
                                        <div data-index="0" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">・応用シーン<br>
                                        INSPIREは、中型オブジェクトのスキャンを求めるアマチュア、3Dプリント愛好家、メーカーの方に適しています。<br>
                                        RANGEとRANGE 2は、家具、人体、車といった大型オブジェクトをスキャンする専門家向けに設計されており、効率的かつ正確なスキャンを確保します。<br>
                                        MINIとMINI 2は、ジュエリー、ミニチュアフィギュア、ハードウェアの部品など、小型オブジェクトをスキャンする専門家向けに設計されており、豊かなディテールを取得できる正確なスキャンが可能。<br>
                                        POP 3は、エンジン部品や花瓶など、中型オブジェクトをスキャンする専門家向けに設計されています。<br>

                                        ・推奨スキャンサイズ：<br>
                                        MINI: 10×10×10 mm～500×500×500 mm<br>
                                        MINI 2: 10 x 10 x 10 mm ~ 500 x 500 x 500 mm.<br>
                                        POP 3: 20×20×20 mm～2000×2000×2000 mm<br>
                                        RANGE: 70×70×70 mm～4000×4000×4000 mm<br>
                                        RANGE 2: 50 x 50 x 50 mm ~ 4000 x 4000 x 4000 mm.<br>
                                        INSPIRE: 50×50×50 mm～1000×1000×1000 mm


                                    </div>
                                </div>
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">INSPIREのIMUは何が特別ですか?
                                        </div> <!-- 2 -->
                                        <div data-index="1" class="nav_icon">+</div>
                                    </div>

                                    <div class="nav_title_small">INSPIREに搭載したIMU（慣性計測装置）は、ジャイロスコープ、加速度計と磁力計を備えた9軸IMUです。それによってINSPIREが移動する際の位置を把握し、より滑らかなトラッキングを実現し、手ブレや高速移動による点群のズレを大幅に軽減します。

                                    </div>
                                </div>
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">マジックマットとは何ですか？
                                        </div> <!--  3 -->
                                        <div data-index="2" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        マジックマット（サイズ50×50 cm）とは、表面に反射マーカーが付いている黒いマットです。このマットを使用するとマーカーを配置する必要がなくなり、特徴のないオブジェクトをより簡単にスキャンすることができます。
                                    </div>
                                </div>
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">どうのようにINSPIREのIMUを再校正しますか？
                                        </div> <!--  4 -->
                                        <div data-index="3" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        Revo Scan 5のホームページで、デバイス名「INSPIRE」の横にある「設定」をクリックし、「校正開始」ボタンをクリックして処理を始めます。画面の指示に従ってINSPIREの再校正を行ってください。

                                    </div>
                                </div>
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">INSPIREを使用するには高性能デバイスが必須ですか？
                                        </div> <!--  5 -->
                                        <div data-index="4" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        いいえ、INSPIREは内蔵チップと強力なアルゴリズムにデータ処理を依存しています。<br>
                                        ・パソコンのスペック<br>
                                        最小要件：Intel i5-8400、RAM容量8 GB<br>
                                        推奨要件：Intel i7-11700以上、RAM容量16 GB<br>
                                        INSPIREを使用するには、NVIDIAやAMDのようなディスクリートGPUは必要ではありません。
                                    </div>
                                </div>
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">INSPIREに搭載しているテクノロジーは何ですか？
                                        </div> <!--  6 -->
                                        <div data-index="5" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">INSPIREは、クラス1赤外線構造光、デュアルＤepthカメラ、高度なアルゴリズムを搭載し、詳細な3Dモデルを出力します。
                                    </div>
                                </div>
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">INSPIREは人間や動物を安全にスキャンできますか？
                                        </div> <!--  7 -->
                                        <div data-index="6" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">はい、INSPIREはクラス1赤外線を使用しているため、目や皮膚に安全です。
                                    </div>
                                </div>
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">What kind of computer is recommended for POP 2 to work smoothly?</div> <!--  8 -->
                                        <div data-index="7" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Recommended computer: Windows10, 64bit,16G and above, I7.</div>
                                </div>
                            </div>
                        </div>




                        <div class="nav_right_box block_hide">
                            <div class="main_text">
                                <!-- 1 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">INSPIREには専用ソフトウェアはありますか?
                                        </div>
                                        <div data-index="0" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">はい、Revo Scanというスキャン・編集を一体化した無料ソフトウェアを提供しており、公式サイトからダウンロードできます。Revo Scanは、iOS、macOS、Android、Windowsデバイスと互換性があります。

                                    </div>
                                </div>
                                <!-- 2 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Revo Scanで出力できるファイル形式は何ですか？
                                        </div>
                                        <div data-index="1" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Revo Scanは、ほとんどの3Dモデリング、スライサー、CADソフトウェアと互換性があるように、PLY、OBJ、STLでモデルをエクスポートすることができます。

                                    </div>
                                </div>
                                <!-- 3 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">INSPIREでスキャンしたものは3Dプリントできますか？
                                        </div>
                                        <div data-index="2" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">はい、スキャンしたモデルは、STL形式でエクスポートでき、ほとんどのスライサーソフトウェアと互換性があります。
                                    </div>
                                </div>
                                <!-- 4 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">INSPIREに利用できるほかのスキャンソフトウェアはありますか？
                                        </div>
                                        <div data-index="3" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">"いいえ、INSPIREはRevo Scanとのみ互換性がありますが、INSPIREで作成した3Dモデルは、ほとんどの3Dモデリングソフトウェアと互換性があります。
                                        Revo Scanは、弊社の公式サイト、AppストアやGoogle Playからダウンロードできます。"

                                    </div>
                                </div>
                                <!-- 5 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">INSPIREを使うにはインターネットに接続し必要がありますか？
                                        </div>
                                        <div data-index="4" class="nav_icon">+</div>
                                    </div>
                                      <div class="nav_title_small">いいえ、INSPIREはネットワークに接続していなくても動作します。
                                    </div>
                                </div>
                                <!-- 6 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">スマホでスキャンしたモデルをエクスポートする方法を教えてください。</div>
                                        <div data-index="5" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        「シェア」機能を通じてモデルをスマホからパソコンに転送することができます。ファイルを転送するには、スマホはPCと同じネットワークに接続する必要があります。ファイルの転送中は、スマホの画面を切り替えたり、閉じたりしないでください。<br>

                                       ● 認証コード経由でスマホから転送<br>

                                        1. [スマホから転送]ボタンをクリックします。<br>
                                        2. スマホでRevo Scan（V5.0以降）を開き、共有したいプロジェクトを見つけます。<br>
                                        3. [シェア]ボタンをタップします。<br>
                                        4. PCに表示された認証コードをスマホで入力します。<br>
                                        5. ファイル転送を開始します。<br>

                                        ● QR コード経由でスマホから転送<br>

                                        1. [スマホから転送]ボタンをクリックします。<br>
                                        2. [QR コード]をクリックします。<br>
                                        3. スマホでRevo Scan（V5.0以降）を開き、共有したいプロジェクトを見つけます。<br>
                                        4. [シェア]ボタンをタップします。<br>
                                        5. PCに表示されたQR コードをスマホでスキャンします。<br>
                                       6. ファイル転送を開始します。
                                    </div>
                                </div>
                                <!-- 7 -->
                                <div class="nav_text_item" style="display: none;">
                                <div class="nav_text_tBox">
                                    <div class="nav_title_big">How do I export scanned models on my phone?
                                    </div>
                                    <div data-index="6" class="nav_icon">+</div>
                                </div>
                                <div class="nav_title_small">Ensure your phone and PC are connected to the same Wi-Fi network. Don’t minimize the app or turn off your phone's screen during the file transfer, or the transfer will fail.<br>

                                    ● Import from Phone via Verification Code<br>

                                    1. Click the Import From Phone button.<br>
                                    2. Open Revo Scan V5.0 or above on your phone and find the project you want to share.<br>
                                    3. Tap the Share icon.<br>
                                    4. Enter the code shown on your PC to your smartphone.<br>
                                    5. Start file transferring.<br>

                                    ● Import from Phone via Scanning QR Code<br>

                                    1. Click the Import From Phone button.<br>
                                    2. Click the QR Code icon.<br>
                                    3. Open Revo Scan V5.0 or above on your phone, and find the project you want to share.<br>
                                    4. Tap the Share icon.<br>
                                    5. Scan the QR code on your PC.<br>
                                    6. Start file transferring.
                                </div>
                            </div>
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Can MINI work with Revo Scan without internet access?</div> <!--  8 -->
                                        <div data-index="7" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Yes, Revo Scan does not need to be connected to the internet to work.</div>
                                </div>
                            </div>

                        </div>





                        <div class="nav_right_box block_hide">
                            <div class="main_text">
                                <!-- 1 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">マーカーポイントは何に使用されますか？</div>
                                        <div data-index="0" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        マーカーポイントは、INSPIREが正しくトラッキングできるように、特徴のないオブジェクトの表面またはその周りに貼り付くものです。マーカーを約3～5 cmの間隔でランダムに配置し、スキャン画面に常に5つのマーカーが映られることを確認してください。

                                    </div>
                                </div>
                                <!-- 2 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">ミニターンテーブルの使用方法を教えてください。</div>
                                        <div data-index="1" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">ミニターンテーブルをパソコンのUSBポートや電源タップに接続し、本体側面のボタンを調整してミニターンテーブルを制御します。

                                    </div>
                                </div>
                                <!-- 3 -->
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">What does the S1 Handheld Stabilizer do?</div>
                                        <div data-index="2" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">The S1 Handheld Stabilizer is equipped with a built-in high-precision gyroscope and stabilization device, and it can effectively eliminate the problem of poor point cloud precision and track loss. This allows for smooth scanning without stalling.</div>
                                </div>
                                <!-- 4 -->
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">What are marker points used for?</div>
                                        <div data-index="3" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Marker points are stuck to objects without geometric features so the MINI can track what it is scanning. When using Marker points, place them in irregular patterns with around 3-5cms between the markers across the object you’re scanning, and make sure that there are at least 5 marker points always in frame when scanning.</div>
                                </div>
                                <!-- 5 -->
                                <div class="nav_text_item" style="display:none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Charge the LED lamp or replace the battery?</div>
                                        <div data-index="4" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Rechargeable batteries.</div>
                                </div>
                                <!-- 6 -->
                                <div class="nav_text_item" style="display:none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">What are marker points used for?</div>
                                        <div data-index="5" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Marker points are stuck to objects without geometric features so the MINI can track what it is scanning. When using Marker points, place them in irregular patterns with around 3-5cms between the markers across the object you’re scanning, and make sure that there are at least 5 marker points always in frame when scanning.</div>
                                </div>
                                <!-- 7 -->
                                <div class="nav_text_item" style="display:none ;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">POP的精度是多少?</div>
                                        <div data-index="6" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">输出模型精度能达0.3mm。</div>
                                </div>
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">What kind of computer is recommended for POP 2 to work smoothly?</div> <!--  8 -->
                                        <div data-index="7" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Recommended computer: Windows10, 64bit,16G and above, I7.</div>
                                </div>
                            </div>
                        </div>




                        <div class="nav_right_box block_hide">
                            <div class="main_text">
                                <!-- 1 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">フレーム数が多いほど、スキャン精度は高くなりますか？
                                        </div>
                                        <div data-index="0" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">いいえ、複数回スキャンすると、誤差が積み重ねていくので、1つの角度につき一周のみスキャンするようにしてください。
                                    </div>
                                </div>
                                <!-- 2 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">INSPIREがスキャンできないオブジェクトはありますか？
                                        </div>
                                        <div data-index="1" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">多くの3Dスキャナーと同様、黒色、透明、反射する対象物をスキャンするには、事前にスキャンスプレーを使って表面処理をする必要があります。
                                    </div>
                                </div>
                                <!-- 3 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">INSPIREは屋外でも使えますか？</div>
                                        <div data-index="2" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">はい、屋外でも使用できますが、直射日光を避けてください。INSPIREは防水ではないので、雨の日の屋外スキャンは避けてください。
                                    </div>
                                </div>
                                <!-- 4 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">INSPIREでスキャンできる対象物の最小サイズは？
                                        </div>
                                        <div data-index="3" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">INSPIREの最小スキャンサイズは50×50×50 mmです。
                                    </div>
                                </div>
                                <!-- 5 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">INSPIRE は50 mm x 50 mm x 50 mmより小さい対象物もスキャンできますか？
                                        </div>
                                        <div data-index="4" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">はい。そういったものをスキャンするには、スキャンスキルと後処理の手間が必要です。INSPIREは中型対象物のスキャンに特化したため、対象物のサイズやディテールが小さいほど、スキャンできなくなる場合もあります。
                                    </div>
                                </div>
                                <!-- 6 -->
                                <div class="nav_text_item" style="display:none ;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">POP的精度是多少?</div>
                                        <div data-index="5" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">输出模型精度能达0.3mm。</div>
                                </div>
                                <!-- 7 -->
                                <div class="nav_text_item" style="display:none ;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">POP的精度是多少?</div>
                                        <div data-index="6" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">输出模型精度能达0.3mm。</div>
                                </div>
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">What kind of computer is recommended for POP 2 to work smoothly?</div> <!--  8 -->
                                        <div data-index="7" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Recommended computer: Windows10, 64bit,16G and above, I7.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="supbgtitle">

            <div class="suptltle">
                <h2>お問い合わせ</h2>
            </div>
        </div>

        <section>
            <div class="contact">
                <div class="live-left">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/lc.png">
                    <div class="contacttitle">
                        <a href="" class="lc" style="display: none;">Live Chat &gt;</a>
                        <p>24時間対応（英語）</p>
                        <p style="margin-top: 23px;">電子メールでお問い合わせ</p>
                        <a href="mailto:customer@revopoint3d.com" class="lc"><p>customer@revopoint3d.com</p></a>
                    </div>
                </div>

                <div class="live-right">
                    <div class="contacttitle" style="position: absolute;padding-left: 40px;padding-top: 90px;">
                        <h2 style="font-size: 32px;">ご相談窓口</h2>
                        <p style="width: 300px;">
                            当社製品に関してご質問、ご不明な点等がございましたら、お電話、チャット、またはメールで、Revopoint のサポートチームにお気軽にご相談ください。
                        </p>
                    </div>
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/hy.png">
                </div>
            </div>
            <div class="contact1" style="margin-top: 21px;">
                <div class="contact1item">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/om.png">
                    <div class="twotitile">
                        <h3>オンラインミーティング</h3>
                        <p>画面共有でのリモートサポート</p>
                    </div>
                    <div class="dl">
                        <a href="https://meetings.hubspot.com/revopoint-support">ミーティングを予約する &gt;</a>
                    </div>
                </div>
                <div class="contact1item">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/hs.png">
                    <div class="twotitile">
                        <h3>ホットラインサービス</h3>
                        <p>電話でのお問い合わせ</p>
                    </div>
                    <div class="dl">
                        <a href="tel:+1 (888) 807-3339">+1 (888) 807-3339</a><br>
                        <a href="tel:+86 18124196779">+86 18124196779</a>
                    </div>
                </div>
                <div class="contact1item" style="display: none;">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/f.png">
                    <div class="twotitile">
                        <h3>Forum</h3>
                        <p>Share Your Scanning Experiences</p>
                    </div>
                    <div class="dl">
                        <a href="https://forum.revopoint3d.com">Join the Revopoint Community &gt;</a>
                    </div>
                </div>
                <div class="contact1item" style="display: none;">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/g.png">
                    <div class="twotitile">
                        <h3>Group</h3>
                        <p>Updates, Giveaways, 3D Model Showcases</p>
                    </div>
                    <div class="dl">
                        <a href="https://revo.ink/3PFwq2S">Join Our Group &gt;</a>
                    </div>
                </div>
            </div>
            <p class="edp" style="font-size: 16px;color: #666666;margin-top: 24px;display: none;">
                You can contact us by <a href="" class="lk">Email</a>. For urgent situations, we recommend you contact
                <a href="" class="lk">Online Customer Service</a> for immediate support.
            </p>
        </section>

    </div>

</main>



</body>
<script type="text/javascript">
    // FAQ文案操作
    let menuIndex = 0
    let navHideDoms, arr, navIconDoms, navRightboxs
    let navBtn = document.getElementsByClassName("nav_btn") // 左侧menu

    // nav展开icon绑定事件
    for (let index = 0; index < navBtn.length; index++) {
        navBtn[index].addEventListener("click", navBtnClick)
    }

    function init() {
        navHideDoms = document.getElementsByClassName("nav_title_small") // 右侧隐藏文案
        arr = Array(navHideDoms.length).fill(false)
        navIconDoms = document.getElementsByClassName("nav_icon") // 右侧“+”“-”
        navRightboxs = document.getElementsByClassName("nav_right_box") // 右侧文案
        // nav展开icon绑定事件
        for (let index = 0; index < navIconDoms.length; index++) {
            navIconDoms[index].addEventListener("click", navIconClick)
        }
    }
    init()

    function navBtnClick(e) {
        init()
        menuIndex = Number(e.target.dataset.index)
        navRightboxs[menuIndex].style.display = 'block'
        for (let index = 0; index < navBtn.length; index++) {
            if (+index === +menuIndex) {
                continue
            }
            navRightboxs[index].style.display = 'none'
            navBtn[index].style.borderBottom = 'none'
        }
        navBtn[menuIndex].style.borderBottomWidth = '2px'
        navBtn[menuIndex].style.borderBottomColor = '#000000'
        navBtn[menuIndex].style.borderBottomStyle = 'solid'
    }

    // "+" "-" 点击事件
    function navIconClick(e) {
        let navNum = navBtn.length
        let iconNum = navIconDoms.length
        let currentNum = iconNum / navNum
        let navIndex = Number(e.target.dataset.index)
        let correctNum = currentNum * menuIndex + navIndex
        if (!!arr[correctNum]) {
            navHideDoms[correctNum].style.display = 'none'
            navIconDoms[correctNum].innerHTML = '+'
        } else {
            navHideDoms[correctNum].style.display = 'block'
            navIconDoms[correctNum].innerHTML = '-'
            for (let index = 0; index < navIconDoms.length; index++) {
                if (+index === +correctNum) {
                    continue
                }
                navHideDoms[index].style.display = 'none'
                navIconDoms[index].innerHTML = '+'
            }
        }
        arr[correctNum] = !arr[correctNum]
        for (let j = 0; j < navIconDoms.length; j++) {
            if (+j === +correctNum) {
                continue
            }
            arr[j] = false
        }
    }

</script>

</html>