<!-- /templates/page.liquid -->
<section class="page page-top">
  <div class="wrapper">
    <header class="content-util">
    
      <div class="faq-header-wrap">
     <!-- <div class="faq-search">
        <form action="/search" method="get" role="search">
          <div class="input-wrapper">
            <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="input-group-field" aria-label="{{ 'general.search.placeholder' | t }}">
          </div>
        </form>  
      </div> -->
     
      </div>
    </header>
  </div>
</section>
<style>
  .faq-header-wrap {
   display: flex;
    align-items: center;
    justify-content: center;
  }
  .faq-header-wrap .social-icons {
    flex: none;
    margin-left: auto;
  }
  .faq-search {
  	width: 70%; 
    margin: 0 20px;
  }
  .faq-search input.input-group-field {
    width: 100%;
  	border: 1px solid;
    padding: 5px 20px;
  }
  .faq-content {
  	margin-bottom: 50px;
  }
  .faq-content-tabs .page-header h1 {
  	border: none !important;
    margin-bottom: 20px;
  }
  .faq-content-tabs .page-header span {
  	display: inline-block;
    padding-bottom: 5px;
    border-bottom: 5px solid #596fa8;
  }
  .faq-content-tabs {
  	padding: 150px 15px 20px;
    margin-bottom: 60px;
    background-color: #f7f8fa;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 3px 22px -9px rgb(0 0 0 / 30%);
    text-align: center;
    position: relative;
  }
  .faq-content-tabs:before {
  	content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
  }
  @media only screen and (max-width: 767px) {
    .faq-content-tabs {
      padding-top: 122px;
    }
  }
  .faq-content-tabs div {
    position: relative;
    z-index: 1;
  }
  .faq-content-tabs ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media only screen and (max-width: 767px) {
    .faq-content-tabs ul {
      flex-wrap: wrap;
      margin: 0;
    }
  }
  .faq-content-tabs ul li {
    list-style: none;
    margin: 0 5px 10px;
    flex: 1;
  }
  @media only screen and (max-width: 767px) {
    .faq-content-tabs ul li {
      list-style: none;
      margin: 5px;
      flex: none;
      width: calc((100% / 2) - 20px);
    }
  }
  .faq-content-tabs ul li a {
    display: block;
    color: #000;
    text-decoration: none;
    border: 1px solid #aaa;
    padding: 8px 10px;
    background-color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    cursor: pointer;
  }
  @media only screen and (max-width: 767px) {
    .faq-content-tabs ul li a {
      font-size: 13px;
    }
  }
  .faq-content-heading {
  	font-weight: bold;
  }
  @media only screen and (max-width: 767px) {
    .faq-content .faq-content-heading {
      font-size: 24px !important;
    }
    .faq-item-subheading {
      font-size: 18px !important;
    }
  }
  .faq-content-heading,
  .faq-item-subheading {
  	font-weight: bold;
  }
  .faq-item-subheading {
  	text-transform: none;
  }
  .faq-item-content {
  	border-bottom: 1px solid #888888;
  }
  .faq-item-question {
  	padding: 10px 30px 10px 20px;
    position: relative;
    cursor: pointer;
  }
  .faq-item-question::before {
  	content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto 0;
    width: 10px;
    height: 10px;
    background-color: #596fa8;
    border-radius: 100%;
  }
  .faq-item-question::after {
  	content: "";
    position: absolute;
    right: 20px;
    top: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #596fa8;
    border-right: 2px solid #596fa8;
    transform: rotate(135deg);
    bottom: 0;
    margin: auto 0;
    transition: transform 300ms ease;
  }
  .faq-item-content.active .faq-item-question::after {
  	transform: rotate(-45deg);
  }
  .faq-item-wrap {
    margin-bottom: 20px;
  }
  .faq-item-answer {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 300ms ease;
  }
  .faq-item-answer-inner {
    padding: 10px 0;
  }
  
</style>
<section class="page">
  <div class="wrapper">
    <div class="content-container rte">
      
      <div class="faq-content-wrap">
        
        
        
        
        <div class="faq-content-tabs" style="background-image: url(https://cdn.shopify.com/s/files/1/0538/9533/2027/files/POP_2_3251560c-3eae-4118-8727-277b53ad18a3.jpg?v=1656668244)">
          <div>
            <header class="page-header">
              <h1><span>FAQ</span></h1>
            </header>
            <ul>
              
                <li>
                  <a class="js-scroll" href="#POP">POP</a>
              </li>
              
                <li>
                  <a class="js-scroll" href="#POP2">POP 2</a>
              </li>
              
                <li>
                  <a class="js-scroll" href="#MINI">MINI</a>
              </li>
              
            </ul>
          </div>
        </div>
        
        <div>
        	
          		<div class="faq-content">
                  <h2 class="faq-content-heading" id="POP">
                    POP
                  </h2>
                  <p>1.What’s the accuracy of the POP?
</p>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>POP 3D Scanner includes POP 3D scanner*1, Scanner holder*1, Micro USB*2, Sample sculpture*1, Markers, Blu Tack*1</p>

<p>POP 3D Scanner Starter KIT includes POP 3D scanner*1, scanner holder*1, Micro USB*2, Sample sculpture*1, Markers, Blu Tack*1, Turntable*1, Phone holder*1</p>

<p>Please click this link, scroll down to find the free software and the manual:
<br><a href="https://www.revopoint3d.com/download/">https://www.revopoint3d.com/download/</a></p>
</div></div>
<div class="faq-item-content">
<div class="faq-item-question">2.Does it work with Blender?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>It does work with Blender.</p>

<p>Actually, it works with almost 3D related software.&nbsp;</p>
</div></div></div>
<div class="faq-item-wrap">

<h3 class="faq-item-subheading">Device Requirements</h3>
<div class="faq-item-content">
<div class="faq-item-question">1.Is it compatible with IOS, MAC, Android or Windows?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>Our 3D scanners is compatible with Windows, Android, MAC, IOS&nbsp;</p>
</div></div></div></div>
<div class="faq-item-wrap">

<h3 class="faq-item-subheading">Interface</h3>
<div class="faq-item-content">
<div class="faq-item-question">1.What is the interface between 3d scanner &amp; PC?</div>
<div class="faq-item-answer" style="max-height: 0px;">
<div class="faq-item-answer-inner">

<p>You need to plug it to a USB3.0 interface to power up the 3D scanners and transfer the data.</p>
</div></div></div></div>
<div class="faq-item-wrap">

<h3 class="faq-item-subheading">Details about our 3D scanners</h3>
<div class="faq-item-content">
<div class="faq-item-question">1.What certificates do your 3D scanners have?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>The certificates our 3D scanners have been CE, ROHS, FCC.</p>
</div></div></div>
<div class="faq-item-content">
<div class="faq-item-question">2.What's the accuracy of POP?&nbsp;</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>POP is a consumer-oriented scanner with the competitive price but high accuracy up to 0.3mm, it has Multi Scanning Modes, easy to operate and convenient to carry, it works with PC/ PHONE/ PAD and directly exports STL/PLY/OBJ.</p>

<p>For more scanning results, please check these links out:
<br><a href="https://sketchfab.com/Revopoint3d/models" target="_blank">https://sketchfab.com/Revopoint3d/models</a>
<br><a href="https://forum.revopoint3d.com/t/tutorials-how-to-scan-objects-with-markers/3198" target="_blank">https://forum.revopoint3d.com/t/tutorials-how-to-scan-objects-with-markers/3198</a>
</p>
</div></div></div>
<div class="faq-item-content">
<div class="faq-item-question">3.What format does it support?&nbsp;</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>The output formats for our 3D scanner are STL, PLY, and OBJ.</p>
</div></div></div>
<div class="faq-item-content">
<div class="faq-item-question">4.What's the resolution of POP?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>POP is with a 2Mega RGB camera, 2 megapixels.&nbsp;</p>

<p>The depth camera resolution is 1280×800.</p>

<p>And it achieves 64000 points per frame.</p>

<p>Hope this information helps.</p>
</div></div></div>
<div class="faq-item-content">
<div class="faq-item-question">5.If I scan a big item, can I merge the parts together?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>Yes, you can merge them together with our software.</p>
</div></div></div>
<div class="faq-item-content">
<div class="faq-item-question">6.Which are the smallest dimension object Revopoint scanners can capture?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>The minimum scan volume of Revopoint POP is 30x30x30mm, which means that you can obtain a good result at the size of 30x30x30mm and above. For Revopoint POP 2, the minimum scan volume is 20×20×20 (mm).</p>





<p>Please refer to our small objects scanning at&nbsp;</p>

<p>https://www.youtube.com/watch?v=19ZM4C-JPUM</p>

<p>There is no limitation for the biggest size, but scanning a room takes much time.&nbsp;</p>

<p>There is a video for scanning a car on YouTube at https://youtu.be/2GPHCrbNdhE</p>

<p>Please take it as a reference.</p>

<p>&nbsp;</p>
</div></div></div></div>
<div class="faq-item-wrap">

<h3 class="faq-item-subheading">Warranty</h3>
<div class="faq-item-content">
<div class="faq-item-question">1.I wanted clarification regarding assistance in the event that the scanner has defects before and after the warranty, and if in the case the scanner has any defects at the time of the first start-up.&nbsp;</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>It is 1 year.</p>

<p>Please don't worry about the warranty.</p>

<p>We value our customers and would like to solve any problems with the products.</p>

<p>We tested the items before we ship them out, so the situation you concern about is not likely to happen.</p>

<p>But if there is a defect, we can resend a new one or pay for the repairing cost as you like.</p>

<p>Anything I can help, please don't hesitate to contact us.</p>
</div></div></div></div>
<div class="faq-item-wrap">

<h3 class="faq-item-subheading">Operation</h3>
<div class="faq-item-content">
<div class="faq-item-question">1.It cannot connect the POP over wireless to my Samsung Note 10.</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>The latest version of Revo scan has been released, it is the update software of Handy Scan.</p>

<p>Now you can download it on Google Play or our official forum.</p>

<p>Here is the link for you to download:
<br><a href="https://www.revopoint3d.com/download/pop-2/">https://www.revopoint3d.com/download</a>/</p>

<p>This version fixed the existent bugs, please try it out.</p>

<p>Anything I can help, please don't hesitate to contact me.</p>
</div></div></div>
<div class="faq-item-content">
<div class="faq-item-question">2.How do I set up wifi mode?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>For IOS users,</p>

<ul>
<li>Step 1: please turn off your wifi first, make sure the status of your wifi is Not Connected</li>
<li>Step 2: go to Settings-General-About-Name, now please change your phone's name to "POP"</li>
<li>Step 3: go back to Setting-Personal Hotspot-WLAN Password, now change the password to 12345678, and then turn on "Allow others to join" icon</li>
<li>Step 4: wait for 10 seconds, now you can see the blue connection icon showing up on the left top corner of your phone</li>
<li>Step 5: open Revo Scan-Setting-Scan Mode(click the suitable one)-Connect Mode-WiFi Mode-Export Format(click the one you like)</li>
</ul>

<p>Based on the 5 steps above, wifi mode is finally set up.</p>

<p>Now, you can enjoy the scanning.</p>

<p>Here is a video that might help you:
<br><a href="https://youtu.be/6JWbXEoCoPk">https://youtu.be/6JWbXEoCoPk</a></p>

<p>&nbsp;</p>

<p>For Android users,</p>

<ul>
<li>Step 1: please turn off your wifi first, make sure the status of your wifi is Not Connected</li>
<li>Step 2: go to Settings-Mobile network-Tethering&amp;personal hotspot-Partable WLAN hotspot-Configure WLAN hotspot-Hotspot name, now please change your hotspot's name to "POP"</li>
<li>Step 3: change the PASSWORD to 12345678, then click OK.</li>
<li>Step 4: open Revo Scan-Setting-Scan Mode(click the suitable one)-Connect Mode-WiFi Mode-Export Format(click the one you like)</li>
</ul>

<p>Based on the 4 steps, wifi mode is finally set up.&nbsp;</p>

<p>Now, you can enjoy the scanning.</p>

<p>For general questions, please don't hesitate to email at <a href="mailto:customer@revopoint3d.com">customer@revopoint3d.com</a>.&nbsp;</p>

<p>For technical questions, please visit <a href="https://forum.revopoint3d.com/" target="_blank">https://forum.revopoint3d.com/</a>, our technology team will help you out.&nbsp;</p>

<p>&nbsp;</p>
</div></div></div>
<div class="faq-item-content">
<div class="faq-item-question">Videos you might interested in:&nbsp;</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>For more scanning results, please check this link out:</p>

<p>https://www.thingiverse.com/revopoint/designs
<br><a href="https://sketchfab.com/Revopoint3d/models" target="_blank">https://sketchfab.com/Revopoint3d/models</a>
<br><a href="https://forum.revopoint3d.com/t/tutorials-how-to-scan-objects-with-markers/3198" target="_blank">https://forum.revopoint3d.com/t/tutorials-how-to-scan-objects-with-markers/3198</a></p>

<p>For reversing engineering components scanning, please check this out:</p>

<p>https://www.facebook.com/100000417518532/videos/279990556932262/</p>

<p><a href="https://www.facebook.com/watch/?v=1040109756752557">https://www.facebook.com/watch/?v=1040109756752557</a></p>

<p><span style="color: rgb(65, 65, 65); font-family: sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">For</span> body scanning, please check this link:
<br><a href="https://www.youtube.com/watch?v=Jr5Y6_2mH_E" target="_blank">https://www.youtube.com/watch?v=Jr5Y6_2mH_E</a></p>



<p><span style="color: rgb(65, 65, 65); font-family: sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">For</span> human head and body scanning, please check this link:
<br><a href="https://www.youtube.com/watch?v=cuz2FkNOjBQ" target="_blank">https://www.youtube.com/watch?v=cuz2FkNOjBQ</a></p>

<p><span style="color: rgb(65, 65, 65); font-family: sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">For</span> a whole human body scanning, please check this link:
<br><a href="https://www.youtube.com/watch?v=2GPHCrbNdhE&amp;t=47s" target="_blank">https://www.youtube.com/watch?v=2GPHCrbNdhE&amp;t=47s</a></p>

<p>&nbsp;For scanning objects with phone, please check this link out:
<br><a href="https://www.youtube.com/watch?v=zjfPvgUWpoM" target="_blank">https://www.youtube.com/watch?v=zjfPvgUWpoM</a></p>

<p><span style="color: rgb(65, 65, 65); font-family: sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">For</span> black objects scanning, please check this link:
<br><a href="https://www.youtube.com/watch?v=pOkCJfTa8Rg" target="_blank">https://www.youtube.com/watch?v=pOkCJfTa8Rg</a></p>

<p><span style="color: rgb(65, 65, 65); font-family: sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">For</span> black hair scanning, please check this link:
<br><a href="https://www.youtube.com/watch?v=W9zqKjC9Kz4" target="_blank">https://www.youtube.com/watch?v=W9zqKjC9Kz4</a></p>

<p><span style="color: rgb(65, 65, 65); font-family: sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">For</span> dark objects scanning, please check this link:
<br><a href="https://www.youtube.com/watch?v=iFrIhQydXX0" target="_blank">https://www.youtube.com/watch?v=iFrIhQydXX0</a></p>

<p><span style="color: rgb(65, 65, 65); font-family: sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">For</span> small objects scanning, please check this link:
<br><a href="https://www.youtube.com/watch?v=19ZM4C-JPUM" target="_blank">https://www.youtube.com/watch?v=19ZM4C-JPUM</a></p>

<p><span style="color: rgb(65, 65, 65); font-family: sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">For</span> Marker mode scanning, please check this link:
<br><a href="https://www.youtube.com/watch?v=xnrZgzcuq0s" target="_blank">https://www.youtube.com/watch?v=xnrZgzcuq0s</a>
<br><a href="https://forum.revopoint3d.com/t/tutorials-how-to-scan-objects-with-markers/3198" target="_blank">https://forum.revopoint3d.com/t/tutorials-how-to-scan-objects-with-markers/3198</a></p>



<p>For a whole car scanning, please check this link:
<br><a href="https://www.youtube.com/watch?v=2GPHCrbNdhE&amp;t=47s" target="_blank">https://www.youtube.com/watch?v=2GPHCrbNdhE&amp;t=47s</a></p>



<p>For shoes scanning, please check this out:
<br><a href="https://www.facebook.com/590879887/videos/930788527480211/" target="_blank">https://www.facebook.com/590879887/videos/930788527480211/</a></p>

<p><span style="color: rgb(65, 65, 65); font-family: sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">For further details, please check this out:</span>
<br style="box-sizing: border-box; color: rgb(65, 65, 65); font-family: sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"><a href="https://sketchfab.com/3d-models/humanscan1-whole-body-mesh-by-pop-obj-9797a84c0da84afc93f981c1771893d8" style="box-sizing: border-box; color: rgb(0, 123, 255); text-decoration: none; background-color: rgb(255, 255, 255); user-select: auto; font-family: sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px;" target="_blank">https://sketchfab.com/3d-models/humanscan1-whole-body-mesh-by-pop-obj-9797a84c0da84afc93f981c1771893d8</a>
</p>
</div></div></div></div>
          		</div>
        	
          		<div class="faq-content">
                  <h2 class="faq-content-heading" id="POP2">
                    POP 2
                  </h2>
                  <h3 class="faq-item-subheading">Basic Knowledge</h3>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">1.What is the accuracy of POP 2 3D Scanner?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>The single capture precision of the POP 2 scanner is up to 0.05 mm</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">2.What is the scanning speed?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>The scanning speed of POP 2 can reach 10 FPS, equally 3 million points/s.It can realize higher-speed data acquisition and embedded computing, outputting millions of high-accuracy data points to your laptop or smartphone.</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">3.What is the focal length of POP 2?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>The focal length of POP 2 is 150-400mm.</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">4.What is special about the new camera of POP 2?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>The RGB camera of POP 2 is 2 Mage Pixel. POP 2 adopts an advanced chip toreach a better texture result.</p>

</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">5.What is the minimum size of an object that POP 2 can scan?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>The minimum scanning dimension we recommended for POP 2 is 20mm*20mm*20mm, and if you want to scan smaller objects, it would have more miss track warnings. Scanning objects less than 20x20x20mm will not affect the details because the camera accuracy is fixed. Also, putting the smaller object on a bigger object has no change in object dimension, it won't help get any change. But if you are interested in scanning objects less than 20x20x20mm, you can have a try.</p>

</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">6.Does it have a high requirement for computer ?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>Thanks to the high embedded calculating performance, the standard PC can work with POP 2 3D scanner easily.</p>

</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">7.Can the scanned model be modified with the design software?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>Yes, the scanned model could be exported in PLY/OBJ/STL format, which is compatible to design software, such as Autodesk CAD, Maya, Rhino, Zbrush, fusion 360 etc.</p>

</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">8.Can we download the scanned models?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>You can download the 3D models from the Sketchfab and Thingiverse.</p>

<p style="font-stretch: normal; font-size: 14px; line-height: normal; font-family: Helvetica; color: rgb(18, 20, 22);">https://www.thingiverse.com/revopoint/designs</p>

<p style="font-stretch: normal; font-size: 14px; line-height: normal; font-family: Helvetica; color: rgb(18, 20, 22);">https://sketchfab.com/Revopoint3d/models</p>

</div></div></div></div>

<h3 class="faq-item-subheading">Connection&nbsp;</h3>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">What to do when the POP 2 can't connect to Revo Scan？</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>1. <strong>L</strong><strong>aptop Via USB</strong></p>

<ul>

<p>If you use a laptop via a USB cord to connect a POP 2,&nbsp;please check items&nbsp;below:</p>

<li>１）Confirm the latest software from the official website is installed.</li>

<li>２）Verify the Operating System meets Revo Scan's requirements.</li>

<li>３）Make sure that the USB ports meet the USB 3.0 specification.</li>

<li>４）Check Windows' firewall settings and camera permissions.</li>
</ul>

<p>2. <strong>Laptop Via Wi-Fi</strong></p>

<ul>
<li>If you use a laptop via Wi-Fi to connect a POP 2, please check items&nbsp;below:</li>

<li>1)&nbsp;Confirm the latest software from the official website is installed.</li>

<li>2)&nbsp;Verify the Operating System meets Revo Scan’s requirements.</li>

<li>3)&nbsp;Ensure that you power the POP 2 with a power bank or other power supply.</li>

<li>4)&nbsp;Confirm the laptop's password matches the POP 2's password.</li>
</ul>

<p>3. <strong>D</strong><strong>esktop</strong></p>

<ul>

<p>If you use a desktop computer, please check items below:</p>

<li>1)&nbsp;It's recommended to connect via Wi-Fi Mode.</li>

<li>2)&nbsp;If you want to use the USB Mode, please consider a powered USB 3.0 hub.</li>
</ul>

<p>4. <strong>Smartphone Via Wi-Fi</strong></p>

<ul>

<p>If you use an <strong>Android or iPhone&nbsp;</strong>with Wi-Fi mode, please check items below:</p>

<li>1)&nbsp;Confirm the latest software from the Google Play Store or Apple App Store has been installed.</li>

<li>2)&nbsp;Make sure your Operating System and RAM meet Revo Scan's requirements.</li>

<li>3)&nbsp;Ensure that you power the POP 2 with a power bank or other power supply.</li>

<li>4)&nbsp;Confirm the password is correct.</li>

<li>5)&nbsp;Select Wi-Fi Mode in the Revo Scan Settings page. (Android version only)</li>
</ul>

<p>5. <strong>S</strong><strong>martphone Via USB</strong></p>

<ul>

<p>If you use an Android phone with USB mode, please check items below:</p>
<li>1) Use the 2-in-1 Mobile cable; do NOT connect the POP 2 directly to your phone.</li>
<li>2) Ensure that the phone and power bank are completely charged.</li>
<li>3) Select USB Mode in the Revo Scan Settings page.</li>
<li>4)&nbsp;Verify the Revo Scan's app permissions for camera and storage are approved.</li>
</ul>

</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question"> <strong>LED</strong><strong>&nbsp;</strong><strong>Connection</strong> can I install my LED light to help my POP 2’s scans?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>A: Refer to pictures below:</p>

<p>
<img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/image_13d9004e-64f2-4f5b-82bd-991b6929dc49_480x480.png?v=1657804424" style="width: 300px; display: block; vertical-align: top; margin: 5px auto; text-align: center;">
</p>
</div></div></div></div>

<h3 class="faq-item-subheading">Scanning</h3>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">1. &nbsp;I successfully connected the POP 2 to Revo Scan with my laptop, but there is no image in one or more windows. What should I do?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>Please reboot both the POP 2 and Revo Scan.</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">2. I connected the POP 2 to Revo Scan with my laptop, but the POP 2 Status cycles between Connected &amp; Disconnected, what should I do?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>Plese check if your laptop's USB ports meet the USB 3.0 standard; If yes, then check the camera's permission approval in Security. Refer to <a href="https://forum.revopoint3d.com/t/tips-remember-to-check-the-camera-permission-of-your-pc/2536"><u>https://forum.revopoint3d.com/t/tips-remember-to-check-the-camera-permission-of-your-pc/2536</u></a>&nbsp;</p>

<p>If&nbsp;you use desktop PCs, Wi-Fi connection is suggested; if you use the USB mode, a powered USB hub would help.</p>
</div></div></div></div>

<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">3. I successfully connected the POP 2 to Revo Scan with my phone, but the Revo Scan crashes frequently. What should I do?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>&nbsp;Please turn off other running apps.</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">4. &nbsp;I successfully connected the POP 2 to Revo Scan with my phone, but while scanning, it shows "Out of memory" notification.Any suggestions?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>You can fuse the current captured data first, then continue scanning.</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">5.This purchase was for at home duplication and I can't figure out how to convert .obj to an .stl.</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>Stl. File is for 3D printing, and it requires a closed model. So in Revo Scan, only meshed data that can be exported in stl. File.</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">6.For safety scan, could you please provide the laser wave length of POP 2?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>&nbsp; 830-850 nm. &nbsp;</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">7.Why the software closes immediately when &nbsp;hiting &nbsp;the button in Revo Scan to start the scan?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">
<p>&nbsp; Please check if the firewall is turned off, and if the graphics driver is normal working or needs to be updated: <a href="https://www.youtube.com/watch?v=6JWbXEoCoPk"><u>https://www.youtube.com/watch?v=6JWbXEoCoPk</u></a></p>
</div></div></div></div>

<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">8.When the software is opened in full screen, why the navigation bar of the computer cannot be seen?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>&nbsp; &nbsp;Please check your laptop/desktop's settings and resolution</p>
</div></div></div></div>

<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">9. I'm a new beginner in 3D scanning, how can I get good scans?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>If you can't get a good scan, try these solutions:</p>

<p style="margin-left: 21pt; text-indent: 0pt; text-align: left;">1) Before scanning, read the User &nbsp;Manual / Advanced Scanning Tips on the website:https://www.revopoint3d.com/support/pop-2/ or watch the videos on our YouTube channel: https://www.youtube.com/c/Revopoint3D/videos</p>

<p>2) Practice with the sample sculpture first to get to know the software.</p>

<p style="margin-left: 21pt; text-indent: 0pt; text-align: left;">3) Once Confirm the correct mode has been selected. For example, when scanning objects like cups or boxes with few geometric features, place markers first and use "Marker" mode.</p>

<p style="margin-left: 21pt; text-indent: 0pt; text-align: left;">Any other scanning issues, you can contact our customer service team.</p>

</div></div></div></div>

<h3 class="faq-item-subheading">Advance</h3>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">1.Can we directly print the scanned models?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>Yes, the stl file can be directly imported to the 3D slicer softwares.</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">2.Can the POP 2 scan black object?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>Yes. POP 2 can scan black object. However, scanning highly reflective black color will be challenging.</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">3.Can I use POP 2 to scan something outdoor?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>Yes, it's recommended you to avoid the intense sunlight when scanning something outdoors.</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">4.Are there any objects that POP 2 can not scan?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>Transparent or highly reflective objects are not ideal targets for most 3D scanners, including POP 2.</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">5.I am a new beginner in 3D scanning, how can I get good scans?&nbsp;</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>&nbsp;If you can't get a good scan, try these solutions:&nbsp;</p>

<p>1) Before scanning, read the User Manual / Advanced Scanning Tips on the website:https://www.revopoint3d.com/support/pop-2/ or watch the videos on our YouTube channel: https://www.youtube.com/c/Revopoint3D/videos&nbsp;</p>

<p>2) Practice with the sample sculpture first to get to know the software.&nbsp;</p>

<p>3) Once Confirm the correct mode has been selected. For example, when scanning objects like cups or boxes with few geometric features, place markers first and use "Marker" mode.&nbsp;</p>

<p>Any other scanning issues, you can contact our customer service team.&nbsp;</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">6.I successfully connected the POP 2 to Revo Scan with my laptop, but there is no image in one or more windows. What should I do?&nbsp;</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>Please reboot both the POP 2 and Revo Scan.</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">7.When the software is opened in full screen, why the navigation bar of the computer cannot be seen?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>Please check your laptop/desktop's settings and resolution.</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">8.I successfully connected the POP 2 to Revo Scan with my phone, but the Revo Scan crashes frequently. What should I do?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>Please turn off other running apps.&nbsp;</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">9.I successfully connected the POP 2 to Revo Scan with my phone, but while scanning, it shows "Out of memory" notification.Any suggestions?&nbsp;</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>You can fuse the current captured data first, then continue scanning.&nbsp;</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">10.This purchase was for at home duplication and I can't figure out how to convert .obj to an .stl.</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>Stl. File is for 3D printing, and it requires a closed model. So in Revo Scan, only meshed data that can be exported in stl. File.</p>
</div></div></div></div>
          		</div>
        	
          		<div class="faq-content">
                  <h2 class="faq-content-heading" id="MINI">
                    MINI
                  </h2>
                  <div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">What is the accuracy of the MINI 3D Scanner?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>The single-frame precision of MINI is up to 0.02mm.</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">What is the scanning speed?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>The 3D scanning speed of MINI can reach 10 FPS.&nbsp;</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">What are the differences between POP 2 and MINI Scanner?&nbsp;</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">MINI and POP 2 target different 3D scanning requirements with different expertise.

<p>
<br>
</p>

<p>Application Scenarios: POP 2 meets most requirements of makers, DIY lovers, and designers with more usage scenarios, and MINI is more for professional applications like reverse engineering, quality control, 3D measurements, jewelry design, healthcare applications, and more.&nbsp;</p>

<p>
<br>
</p>

<p>Recommend Scan Volume:&nbsp;</p>

<p>MINI: 10 x10 x10 (mm) ~ 500 x 500 x 500 (mm).&nbsp;</p>

<p>POP 2: 20 x 20 x 20 (mm) ~ 3 x 3 x 3 (m).</p>

<p>* You can scan the objects with a larger size, but it needs multiple scans and post-process, requiring a high-end laptop and scanning skills.</p>

<p>
<br>
</p>

<p>Light Source: the MINI uses a blue light source, and it requires an indoor scanning environment to ensure precision. If you are looking for a face/body modeling solution, we recommend you choose the POP 2.
</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">Can we directly print the scanned models?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>Yes, the STL. file can be directly imported to the slicer software.&nbsp;</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">Can the scanned model be modified with the design software?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>Yes, the model scanned by MINI could be exported in PLY/OBJ/STL. format, compatible with most design software, such as Autodesk CAD, Maya, Rhino, Zbrush, fusion 360, etc.</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">Does it have a high requirement for computers?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>No. The office PCs can work with a MINI scanner. However, considering the processing time, it is recommended that the computer with a high-performance CPU and larger RAM (16GB and above).&nbsp;</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">Are there any objects that MINI cannot scan?&nbsp;</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>For transparent and highly reflective objects, you need to use scan spray on them.&nbsp;</p>

<p>For the objects larger than 500 x 500 x 500 (mm), multiple scans and post-processing is needed.</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">Can I use MINI to scan something outdoor?&nbsp;</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>Sorry. With the blue light technology, outdoor scanning is not recommended. However, the MINI works when the sun goes down.</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">What is the minimum size of an object that MINI can scan?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p>The minimum scanning dimension we recommended for MINI is 10 x10 x10 (mm).</p>
</div></div></div></div>
<div class="faq-item-wrap">
<div class="faq-item-content">
<div class="faq-item-question">What is the software coming with MINI?</div>
<div class="faq-item-answer">
<div class="faq-item-answer-inner">

<p style="font-stretch: normal; font-size: 14px; line-height: normal; font-family: Helvetica; color: rgb(18, 20, 22);">Revopoint has developed three powerful software for obtaining an even more perfect model:</p>

<p style="font-stretch: normal; font-size: 14px; line-height: normal; font-family: Helvetica; color: rgb(18, 20, 22); min-height: 17px;">
<br>
</p>

<p style="font-stretch: normal; font-size: 14px; line-height: normal; font-family: Helvetica; color: rgb(18, 20, 22);">The scanning software - Revo Scan;</p>

<p style="font-stretch: normal; font-size: 14px; line-height: normal; font-family: Helvetica; color: rgb(18, 20, 22); min-height: 17px;">
<br>
</p>

<p style="font-stretch: normal; font-size: 14px; line-height: normal; font-family: Helvetica; color: rgb(18, 20, 22);">The model editing software – Revo Studio;</p>

<p style="font-stretch: normal; font-size: 14px; line-height: normal; font-family: Helvetica; color: rgb(18, 20, 22); min-height: 17px;">
<br>
</p>

<p style="font-stretch: normal; font-size: 14px; line-height: normal; font-family: Helvetica; color: rgb(18, 20, 22);">The calibration software – Revo Calibration.</p>

<p style="font-stretch: normal; font-size: 14px; line-height: normal; font-family: Helvetica; color: rgb(18, 20, 22); min-height: 17px;">
<br>
</p>

<p style="font-stretch: normal; font-size: 14px; line-height: normal; font-family: Helvetica; color: rgb(18, 20, 22);">Download link: https://www.revopoint3d.com/download/pop-2/</p>

<p style="font-stretch: normal; font-size: 14px; line-height: normal; font-family: Helvetica; color: rgb(18, 20, 22); min-height: 17px;">
<br>
</p>

<p style="font-stretch: normal; font-size: 14px; line-height: normal; font-family: Helvetica; color: rgb(18, 20, 22);">For further information, please read below:</p>

<p style="font-stretch: normal; font-size: 14px; line-height: normal; font-family: Helvetica; color: rgb(18, 20, 22); min-height: 17px;">
<br>
</p>

<p style="font-stretch: normal; font-size: 14px; line-height: normal; font-family: Helvetica; color: rgb(18, 20, 22);">Revo Scan- Our scanning software Revo Scan supports three common output formats (PLY, OBJ, and STL) and is compatible with major professional application software. It is ideal for users to achieve a convenient and efficient cross-platform workflow.</p>

<p style="font-stretch: normal; font-size: 14px; line-height: normal; font-family: Helvetica; color: rgb(18, 20, 22); min-height: 17px;">
<br>
</p>

<p style="font-stretch: normal; font-size: 14px; line-height: normal; font-family: Helvetica; color: rgb(18, 20, 22);">Revo Studio- Revo Studio is a self-developed 3D model editing software. It possesses ‘Clip’, ‘Mesh’, ‘Simplify’, ‘Fill Hole’, and ‘Alignment’ features. You can edit the point cloud files and mesh models. In addition, you can further enhance your creativity by fusing and aligning multiple models.</p>

<p style="font-stretch: normal; font-size: 14px; line-height: normal; font-family: Helvetica; color: rgb(18, 20, 22); min-height: 17px;">
<br>
</p>

<p style="font-stretch: normal; font-size: 14px; line-height: normal; font-family: Helvetica; color: rgb(18, 20, 22);">Revo Calibration- Revo Calibration is a calibration software designed for portable 3D handheld scanners. With Revo Calibration, you can re-calibrate the scanner and reset the internal parameters of the camera. It guarantees the precision of the MINI remains the same as the industrial standard, ensuring you a high-quality and accurate 3D model every time.</p>
</div></div></div></div>
          		</div>
        	
        </div>
      </div>
    </div>
  </div>
</section>
