<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Support</title>
    {{ 'support.css' | asset_url | stylesheet_tag }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .nav_btn_border {border-left: inherit !important;}
        .nav_btn {padding-left: 0 !important;}
        .mdtitle {margin-top: 13px;}
        .rsdownload {padding-top: 35px;gap: 31px;}
        .producttitle p {color: #000;margin-top: 20px;}
        .producttitle p:hover {color: #448EF9;}
        .zoomimg {width: 288px;height: 270px;overflow: hidden;}
        .zoomimg img{object-fit: cover;transition: transform 0.3s ease-in-out;}
        .zoomimg img:hover {transform: scale(1.2);}
        .videoitem {flex: inherit;}
        @media (min-width: 200px) and (max-width: 768px) {
            html {
                overflow-x: hidden;
            }
            body {
                margin: 0;
            }

            .revoscan {
                display: block;

            }
            .softwareitem {
                flex: inherit;
            }
            main {
                width: 100%;
            }

            .rs-left {
                width: 100%;
            }

            .rs-left img {
                width: 100%;
            }

            .rs-right {
                padding: 20px;
            }

            .rs-right .rstitle p:first-of-type {
                width: 100%;
            }
            .md {
                display: block;
            }
            .rsdownload {
                display: block;
            }
            .rsdownload p {
                font-size: 14px !important;
            }
            .dl a {
                display: block;
            }
            .dl {
                margin-left: 0px !important;
                flex: 1;
            }
            .suptltle h2 {
                font-size: 32px;
                padding: 20px;
            }
            .suptltle {
                background: inherit;
            }
            .software {
                display: block;

            }
            .softwareitem {
                width: 100%;
                display: flex;
                height: auto;
                margin-bottom: 15px;
                align-items: center;
                gap: 20px;
            }
            .softwareitem img {
                margin-top: 0;
                margin-right: 15px;
                padding-left: 15px;
            }
            .twotitle {
                flex: 1;
                text-align: left;
            }

            .twotitile h3 {
                font-size: 14px;
                margin-top: 10px;
            }
            .dlvm a {
                font-size: 14px;
            }
            .video {
                display: block;
            }
            .videodec {
                width: 100%;
                height: auto;
            }
            .videoitem img {
                width: 100%;
            }
            .videoitem {
                padding: 20px;
            }
            .supbgtitle {
                margin-top: 40px;
                margin-bottom: 40px;
            }
            .contact {
                display: block;
                padding: 20px;
            }
            .live-left {
                padding: 30px;
            }
            .contact1 {
                display: block;
                padding: 20px;
            }
            .contact1item {
                width: inherit;
                height: auto;
                margin-bottom: 20px;
            }
            .nav_box {
                display: block;
            }
            .contacttitle {
                position: inherit !important;
                padding: 20px;
                padding-top: 22px !important;
            }
            .contacttitle h2 {
                font-size: 24px !important;
            }
            .contact1item .twotitile {
                text-align: center;
            }
            .live-right img {
                width: 100%;
            }
            .edp {
                padding: 20px !important;
                margin-top: -10px !important;
            }
            .contacttitle p {
                width: 100% !important;
            }
            .videoitem iframe {
                width: 100%;
                height: 200px;
            }


            .w1400 {
                width: 100%;
            }

            .title_big {
                text-align: center;
            }

            .title_small {
                text-align: center;
            }

            .link_box {
                justify-content: center
            }

            .banner_bg {
                width: 100%;
                margin-top: 0px;
            }

            .video_box {
                width: 100%;
                text-align: center;
                justify-content: center;
            }

            .banner_main {
                display: flex;
                justify-content: space-between;
                flex-flow: column;
            }

            .block_one {
                margin: 0;
            }

            .main_text {
                width: 92%;
                padding: 0 15px 0 !important;
            }

            .block_two {
                width: 100%;
            }

            .nav_box {
                width: 100%;
                display: block;
                justify-content: flex-start
            }

            .nav_left_box {
                width: 100%;
                padding: 0;
                margin: 0;
            }

            .nav_left {
                display: flex;
                justify-content: space-evenly;
                padding: 0 !important;
                margin: 0 !important;
            }

            .nav_right_box {
                width: 100%;
            }

            .nav_left li span {
                font-size: 15px;
                word-wrap: break-word;

            }

            .nav_title_big {
                font-size: 15px !important;
            }

            .nav_title_small {
                font-size: 14px !important;
            }

            .requirements_img {
                width: 100%;
                height: 100%;
            }

            .container {
                display: none;
            }

            .li_item {

                margin: 0;
                padding: 0;
                width: 100%;
            }

            .num-box {
                width: 100%;
                height: 300px;
                background-color: #f8f8f8;
            }

            .num-box .num-ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 0;
            }

            .num-box .num-ul li {
                flex: 1;
                cursor: pointer;
                margin-bottom: 10px;
            }

            .num-ul li img {
                width: 100%;
            }

            .big_next {
                word-wrap: normal;
            }

            .nav_icon {
                /* float: right; */
                width: 20px;
            }

            .nav_left {
                padding: 0;
            }

            .w1400 .title_two {
                margin: 0;
                padding: 0;
                height: 120px;
            }

            .w1400 {
                height: auto !important;
            ;
            }

            .block_two {
                height: auto !important;
            }

            .nav_left_box,
            .nav_right_box,
            .main_text {
                height: auto !important;

            }

            .title_three {
                margin: 0;
                padding: 0;
                height: 200px;
                line-height: 200px;
            }

            .title_big {
                padding-top: 60px !important;
                height: 100px !important;
            }

            .link_box {
                height: 90px !important;
            }

            .mobile_last {
                display: none !important;
            }
            .nav_btn {
                padding-left: 15px;
            }
            .prodducts {overflow-x: scroll;}
        }
    </style>
</head>
<body>
<main class="maincontent">
    <div class="content">
        <section>
            <div class="onetitle">
                <h2>製品から選ぶ</h2>
                <p>製品名一覧から探す</p>
            </div>
             <div class="prodducts">
            <div class="productitem">
              <a href="/pages/support-miraco">
                <div class="zoomimg">
                  <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/17364_2x_15078c29-30c6-49fd-8db6-28320e70c67b.png">
                </div>
                <div class="producttitle">
                  <p>MIRACO</p>
                </div>
              </a>
            </div>
            <div class="productitem">
              <a href="/pages/support-pop3/">
                <div class="zoomimg">
                  <img src="https://cdn.shopify.com/s/files/1/0598/1303/6089/files/pop3.png">
                </div>
                <div class="producttitle">
                  <p>POP 3</p>
                </div>
              </a>
            </div>
            <div class="productitem">
              <a href="/pages/support-mini2/">
                <div class="zoomimg">
                  <img src="https://www.revopoint3d.jp/cdn/shop/files/1-20230918_2x_9a2f840d-96ba-478f-92e4-27912d240253.webp?v=1706533626&width=750">
                </div>
                <div class="producttitle">
                  <p>MINI 2</p>
                </div>
              </a>
            </div>
            <div class="productitem">
              <a href="/pages/support-range2/">
                <div class="zoomimg">
                  <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/1288_2x_5571de70-18a1-4140-b116-90faac1f2d7a.png">
                </div>
                <div class="producttitle">
                  <p>RANGE 2</p>
                </div>
              </a>
            </div>
            <div class="productitem">
              <a href="/pages/support-range/">
                <div class="zoomimg">
                  <img src="https://cdn.shopify.com/s/files/1/0598/1303/6089/files/RANGE.png">
                </div>
                <div class="producttitle">
                  <p>RANGE</p>
                </div>
              </a>
            </div>
            <div class="productitem">
              <a href="/pages/support-inspire/">
                <div class="zoomimg">
                  <img src="https://cdn.shopify.com/s/files/1/0598/1303/6089/files/inspire.png">
                </div>
                <div class="producttitle">
                  <p>INSPIRE</p>
                </div>
              </a>
            </div>
            <div class="productitem">
              <a href="/pages/support-pop2/">
                <div class="zoomimg">
                  <img src="https://cdn.shopify.com/s/files/1/0598/1303/6089/files/pop2.png">
                </div>
                <div class="producttitle">
                  <p>POP 2</p>
                </div>
              </a>
            </div>
            <div class="productitem">
              <a href="/pages/support-mini/">
                <div class="zoomimg">
                  <img src="https://cdn.shopify.com/s/files/1/0598/1303/6089/files/MINI.png">
                </div>
                <div class="producttitle">
                  <p>MINI</p>
                </div>
              </a>
            </div>
          </div>
        </section>

        <section>
            <div class="supbgtitle">
                <div class="suptltle">
                    <h2>ソフトウェア</h2>
                </div>
                <h2 style="font-size: 28px;margin-top: 35px;">Revo Scan 5</h2>
                <p>
                    Revo Scanは、Revopoint 3Dスキャナー専用のスキャニングソフトウェアです。
                </p>
            </div>

            <div class="software">
               <div class="softwareitem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/win.svg">
              <div class="twotitile">
                <h3>Windows V5.4.7</h3>
                <p>更新日付 2024-04-26</p>
              </div>
              <div class="dl">
                <a href="https://download.revopoint3d.com/soft/RevoScan5-5.4.7.822-windows-x86_64.exe" target="_blank">ダウンロード</a>
                <a href="https://drive.google.com/file/d/1mi6dhBTl16ejSLTDbid_E7ndZxmNIeO-/view?usp=sharing">Google Drive</a>
              </div>
            </div>
            <div class="softwareitem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/mac.svg">
              <div class="twotitile">
                <h3>Mac V5.4.7</h3>
                <p>更新日付 2024-04-26</p>
              </div>
              <div class="dl">
                <a href="https://download.revopoint3d.com/soft/RevoScan5-5.4.7.1163-mac-x86_64.pkg" target="_blank">ダウンロード</a>
                <a href="https://drive.google.com/file/d/1cKh9IdzVKjJhWB3lmde7i4sSjIQLSZoB/view?usp=sharing">Google Drive</a>
              </div>
            </div>
            <div class="softwareitem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/ios.svg">
              <div class="twotitile">
                <h3>iOS V5.3.5</h3>
                <p>更新日付 2024-05-08</p>
              </div>
              <div class="dl">
                <a href="https://apps.apple.com/us/app/3d-scanner-app/id1611278474">App Store</a>
              </div>
            </div>
            <div class="softwareitem">
              <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/anzhuo.svg">
              <div class="twotitile">
                <h3>Android V5.3.5</h3>
                <p>更新日付 2024-05-08</p>
              </div>
              <div class="dl">
                <a href="https://download.revopoint3d.com/soft/RevoScan_V5.3.4.apk">ダウンロード</a>
                <a href="https://play.google.com/store/apps/details?id=com.revopoint3d.revoscan">Google Play</a>
              </div>
            </div>
            </div>
        </section>

        <section>
            <div class="dlvm" style="display: none;">
                <a href="">View More &gt;</a>
            </div>
        </section>

        <div class="supbgtitle">
            <div class="suptltle">
                <h2>ビデオ</h2>
            </div>
        </div>

        <section>
            <div class="video">
                <div class="videoitem">
                    <iframe
                            width="288px"
                            height="162px"
                            src="https://www.youtube.com/embed/2RAfPQj-H9k?si=z_cb7uDnEjr-dBue"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen
                    ></iframe>
                    <div class="videodec" style="display: none;">
                        <p>INSPIRE 3D Scanner: Standard Package First Use Tutorial</p>
                    </div>
                </div>
                <div class="videoitem">
                    <iframe
                            width="288px"
                            height="162px"
                            src="https://www.youtube.com/embed/-CILfoYfrIY?si=iKVu2dzJZbfMqNtL"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen
                    ></iframe>
                    <div class="videodec" style="display: none;">
                        <p>INSPIRE 3D Scanner: Standard Package First Use Tutorial</p>
                    </div>
                </div>
                <div class="videoitem">
                    <iframe
                            width="288px"
                            height="162px"
                            src="https://www.youtube.com/embed/9FjGuw33mpc?si=nEEZsLcN8iVkjidO"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen
                    ></iframe>
                    <div class="videodec" style="display: none;">
                        <p>INSPIRE 3D Scanner: Standard Package First Use Tutorial</p>
                    </div>
                </div>
                <div class="videoitem">
                    <iframe
                            width="288px"
                            height="162px"
                            src="https://www.youtube.com/embed/FldRtoG1nT8?si=o7VQJD-981r9tM6K"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen
                    ></iframe>
                    <div class="videodec" style="display: none;">
                        <p>INSPIRE 3D Scanner: Standard Package First Use Tutorial</p>
                    </div>
                </div>
            </div>
        </section>

        <div class="supbgtitle">
            <div class="suptltle">
                <h2>よくある質問</h2>
            </div>
        </div>

        <section>
            <div class="">
                <div class="w1400">
                    <div class="nav_box">
                        <div class="nav_left_box">
                            <ul class="nav_left" style="list-style:none ;">
                                <li>
                      <span
                              data-index="0"
                              class="nav_btn nav_btn_border"
                              href="#"
                              style="border-bottom: 2px solid rgb(0, 0, 0);"
                      >ハードウェア</span
                      >
                                </li>
                                <li><span data-index="1" class="nav_btn" href="#">ソフトウェア</span></li>
                                <li><span data-index="2" class="nav_btn" href="#">アクセサリー</span></li>
                                <li><span data-index="3" class="nav_btn" href="#">スキャンのコツ</span></li>
                            </ul>
                        </div>
                        <div class="nav_right_box">
                            <div class="main_text">
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">
                                            MIRACO、MINI 2、POP2/3、RANGE 2、INSPIREの活用シーンとは？
                                        </div>
                                        <!-- 1 -->
                                        <div data-index="0" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                       MIRACOは小さなものから大きなものまであらゆるものをスキャンし、スタンドアロンの3Dスキャン装置を必要とするプロフェッショナル向けに設計されています。<br>
                                      
                                        INSPIREは、中型オブジェクトのスキャンを求めるアマチュア、3Dプリント愛好家、メーカーの方に適しています。<br>

                                        RANGE 2は、家具、人体、車といった大型オブジェクトをスキャンする専門家向けに設計されており、効率的かつ正確なスキャンを確保します。<br>

                                        MINI 2は、ジュエリー、ミニチュアフィギュア、ハードウェアの部品など、小型オブジェクトをスキャンする専門家向けに設計されており、豊かなディテールを取得できる正確なスキャンが可能。<br>

                                        POP 2/3は、エンジン部品や花瓶など、中型オブジェクトをスキャンする専門家向けに設計されています。
                                    </div>
                                </div>
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">
                                            MINI、POP 3、RANGE、INSPIREの推奨スキャンサイズはどれくらいですか？
                                        </div>
                                        <!-- 2 -->
                                        <div data-index="1" class="nav_icon">+</div>
                                    </div>

                                    <div class="nav_title_small">
                                        MIRACO: 10 mm x 10 mm x 10 mm ~ 4000 mm x 4000 mm x 4000 mm.<br>
                                        MINI: 10 mm x 10 mm x 10 mm ~ 500 mm x 500 mm x 500 mm.<br>
                                        MINI 2: 10 mm x 10 mm x 10 mm ~ 500 mm x 500 mm x 500 mm.<br>
                                        POP 3: 20 mm x 20 mm x 20 mm ~ 2000 mm x 2000 mm x 2000 mm.<br>
                                        RANGE: 70 mm x 70 mm x 70 mm ~ 4000 mm x 4000 mm x 4000 mm.<br>
                                        RANGE 2: 50 mm x 50 mm x 50 mm ~ 4000 mm x 4000 mm x 4000 mm.<br>
                                        INSPIRE: 50 mm x 50 mm x 50 mm ~ 1000 mm x 1000 mm x 1000 mm.
                                    </div>
                                </div>
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Revopoint 3Dスキャナーのファームウェアを更新する方法は何ですか?</div>
                                        <!-- 3 -->
                                        <div data-index="2" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        ファームウェアの更新が可能な場合、Revo Scanに接続すると通知が表示されます。画面の指示に従いファームウェアの更新を進めてください。
                                    </div>
                                </div>
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">What devices are compatible with the RANGE?</div>
                                        <!-- 4 -->
                                        <div data-index="3" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        The RANGE can work with devices using:<br>
                                        Windows ≥ 10 (64-bit) can connect via USB or Wi-Fi<br>
                                        Android ≥ 9.0 (RAM≥6GB) can connect via USB or Wi-Fi<br>
                                        macOS ≥ Intel x86 chips 10.15 and M chips 11.0 can connect via USB or Wi-Fi<br>
                                        iOS ≥ 13.0 (iPhone 8 and onwards) iOS devices can only be connected via Wi-Fi
                                    </div>
                                </div>
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Can the RANGE safely scan humans and animals?</div>
                                        <!-- 5 -->
                                        <div data-index="4" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        Yes, the RANGE is entirely safe because it uses class 1 infrared light, meaning it's incapable
                                        of causing harm to eyes even if it’s directly aimed into an eye.
                                    </div>
                                </div>
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">What technology does the INSPIRE use?</div>
                                        <!-- 6 -->
                                        <div data-index="5" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        INSPIRE uses class 1 infrared structured light, dual depth cameras, and advanced algorithms to
                                        output detailed 3D models.
                                    </div>
                                </div>
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Can INSPIRE safely scan humans and animals?</div>
                                        <!-- 7 -->
                                        <div data-index="6" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        Yes, the INSPIRE is entirely eye and skin-safe as it uses class 1 infrared light.
                                    </div>
                                </div>
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">
                                            What kind of computer is recommended for POP 2 to work smoothly?
                                        </div>
                                        <!-- 8 -->
                                        <div data-index="7" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Recommended computer: Windows10, 64bit,16G and above, I7.</div>
                                </div>
                            </div>
                        </div>

                        <div class="nav_right_box block_hide">
                            <div class="main_text">
                                <!-- 1 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Revopoint 3Dスキャナーと互換性のあるデバイスは何ですか？</div>
                                        <div data-index="0" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        対応デバイス： <br>
                                        Windows 10以上（64-bit）：USB・Wi-Fi接続可能<br>
                                        Android 9.0以上（RAM容量6 GB以上）：USB・Wi-Fi接続可能<br>
                                        macOS（Intel×86チップ搭載/10.5以降、Apple M1チップ搭載/11.0以降）：USB・Wi-Fi接続可能<br>
                                        iOS 13.0以上（iPhone 8 Plus以降）：Wi-Fi接続可能
                                    </div>
                                </div>
                                <!-- 2 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Revopoint 3Dスキャナーには専用ソフトウェアはありますか?</div>
                                        <div data-index="1" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        はい、Revo Scanというスキャン・編集を一体化した無料ソフトウェアを提供しており、公式サイトからダウンロードできます。Revo Scanは、iOS、macOS、Android、Windowsデバイスと互換性があります。
                                    </div>
                                </div>
                                <!-- 3 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Revo Scanを更新する方法を教えてください。</div>
                                        <div data-index="2" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        Revo Scanの更新が可能な場合、ソフトウェアを起動すると通知が表示されます。[更新]ボタンをクリックして最新バージョンをダウンロードします。
                                    </div>
                                </div>
                                <!-- 4 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">スキャンしたモデルを他のデザインソフトウェアにて編集することはできますか？</div>
                                        <div data-index="3" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        Yはい、Revopoint 3Dスキャナーで作成した3Dモデルは、OBJ形式でエクスポートでき、Blender、Maya、Rhino、ZBrush、Fusion 360など、ほとんどのデザインソフトウェアと互換性があります。
                                    </div>
                                </div>
                                <!-- 5 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Revopoint 3Dスキャナーでスキャンしたモデルを直接3Dプリントできますか？</div>
                                        <div data-index="4" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        はい、スキャンしたモデルは、STL形式でエクスポートでき、ほとんどのスライサーソフトウェアと互換性があります。
                                    </div>
                                </div>
                                <!-- 6 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Revo Scanで出力できるファイル形式は何ですか？</div>
                                        <div data-index="5" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Revo Scanは、PLY、OBJ、STL形式の3Dモデルをエクスポートできます。</div>
                                </div>
                                <!-- 7 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Revopoint 3Dスキャナーを使用するには高性能デバイスが必須ですか？</div>
                                        <div data-index="6" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        いいえ、Revopoint 3Dスキャナーは内蔵チップと強力なアルゴリズムにデータ処理を依存しています。<br>

                                        最小要件：Intel i5-8400、RAM容量8 GB<br>

                                        推奨要件：Intel i7-11700以上、RAM容量16 GB<br>

                                        INSPIREを使用するには、NVIDIAやAMDのようなディスクリートGPUは必要ではありません。
                                    </div>
                                </div>
                                <!-- 8 -->
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Can MINI work with Revo Scan without internet access?</div>
                                        <div data-index="7" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        Yes, Revo Scan does not need to be connected to the internet to work.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="nav_right_box block_hide">
                            <div class="main_text">
                                <!-- 1 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">3Dスキャナーと組合せて使用できるアクセサリーは何ですか？</div>
                                        <div data-index="0" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        Revopointのすべてのアクセサリーは、弊社のスキャナーに対応しています。
                                    </div>
                                </div>
                                <!-- 2 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">人気のあるアクセサリーは何ですか？</div>
                                        <div data-index="1" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        人気アクセサリー：<br>
                                        マーカーポイント：特徴のないオブジェクトのスキャンに使用します。 <br>
                                        スキャンスプレー：透明、反射する、暗いオブジェクトのスキャンに使用します。<br>
                                        ターンテーブル：360度のスキャンを簡単に実現できます。
                                    </div>
                                </div>
                                <!-- 3 -->
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">What does the S1 Handheld Stabilizer do?</div>
                                        <div data-index="2" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        The S1 Handheld Stabilizer is equipped with a built-in high-precision gyroscope and
                                        stabilization device, and it can effectively eliminate the problem of poor point cloud precision
                                        and track loss. This allows for smooth scanning without stalling.
                                    </div>
                                </div>
                                <!-- 4 -->
                                <div class="nav_text_item" style="display:none ;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">What are marker points used for?</div>
                                        <div data-index="3" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        Marker points are stuck to objects without geometric features so the MINI can track what it is
                                        scanning. When using Marker points, place them in irregular patterns with around 3-5cms between
                                        the markers across the object you’re scanning, and make sure that there are at least 5 marker
                                        points always in frame when scanning.
                                    </div>
                                </div>
                                <!-- 5 -->
                                <div class="nav_text_item" style="display:none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Charge the LED lamp or replace the battery?</div>
                                        <div data-index="4" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Rechargeable batteries.</div>
                                </div>
                                <!-- 6 -->
                                <div class="nav_text_item" style="display:none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">What are marker points used for?</div>
                                        <div data-index="5" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        Marker points are stuck to objects without geometric features so the MINI can track what it is
                                        scanning. When using Marker points, place them in irregular patterns with around 3-5cms between
                                        the markers across the object you’re scanning, and make sure that there are at least 5 marker
                                        points always in frame when scanning.
                                    </div>
                                </div>
                                <!-- 7 -->
                                <div class="nav_text_item" style="display:none ;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">POP的精度是多少?</div>
                                        <div data-index="6" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">输出模型精度能达0.3mm。</div>
                                </div>
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">
                                            What kind of computer is recommended for POP 2 to work smoothly?
                                        </div>
                                        <!-- 8 -->
                                        <div data-index="7" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Recommended computer: Windows10, 64bit,16G and above, I7.</div>
                                </div>
                            </div>
                        </div>

                        <div class="nav_right_box block_hide">
                            <div class="main_text">
                                <!-- 1 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">フレーム数が多いほど、スキャン精度は高くなりますか？</div>
                                        <div data-index="0" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        いいえ、複数回スキャンすると、誤差が積み重ねていくので、1つの角度につき一周のみスキャンするようにしてください。
                                    </div>
                                </div>
                                <!-- 2 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">透明、反射する、暗いオブジェクトをスキャンする方法を教えてください。</div>
                                        <div data-index="1" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        透明や反射するオブジェクトをスキャンするには、物体表面にスキャンスプレーを吹きかける必要があります。暗いオブジェクトの場合は、Revo Scanの「スキャン設定」で、「スキャン対象物」から「黒い」を選択してください。
                                    </div>
                                </div>
                                <!-- 3 -->
                                <div class="nav_text_item">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Revopoint 3Dスキャナーは屋外でも使えますか？</div>
                                        <div data-index="2" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">はい、屋外でも使用できますが、直射日光を避けてください。</div>
                                </div>
                                <!-- 4 -->
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">What's the minimum size of an object RANGE can scan?</div>
                                        <div data-index="3" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">RANGE has a minimum scan volume of 50mm x 50mm x 50mm.</div>
                                </div>
                                <!-- 5 -->
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">Can RANGE scan objects smaller than 50mm x 50mm x 50mm?</div>
                                        <div data-index="4" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">
                                        Yes, but advanced scanning skills and post-processing are needed. Keep in mind that the smaller
                                        the object and its details, the less RANGE will be able to detect, as it’s optimized for large
                                        object scanning.
                                    </div>
                                </div>
                                <!-- 6 -->
                                <div class="nav_text_item" style="display:none ;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">POP的精度是多少?</div>
                                        <div data-index="5" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">输出模型精度能达0.3mm。</div>
                                </div>
                                <!-- 7 -->
                                <div class="nav_text_item" style="display:none ;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">POP的精度是多少?</div>
                                        <div data-index="6" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">输出模型精度能达0.3mm。</div>
                                </div>
                                <div class="nav_text_item" style="display: none;">
                                    <div class="nav_text_tBox">
                                        <div class="nav_title_big">
                                            What kind of computer is recommended for POP 2 to work smoothly?
                                        </div>
                                        <!-- 8 -->
                                        <div data-index="7" class="nav_icon">+</div>
                                    </div>
                                    <div class="nav_title_small">Recommended computer: Windows10, 64bit,16G and above, I7.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="supbgtitle">
            <div class="suptltle">
                <h2>お問い合わせ</h2>
            </div>
        </div>

        <section>
            <div class="contact">
                <div class="live-left">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/lc.png">
                    <div class="contacttitle">
                        <a href="" class="lc" style="display: none;">Live Chat &gt;</a>
                        <p>24時間対応（英語のみ）</p>
                        <p style="margin-top: 23px;">メールでのお問い合わせ</p>
                        <a href="mailto:customer@revopoint3d.com" class="lc"><p>customer@revopoint3d.com</p></a>
                    </div>
                </div>

                <div class="live-right">
                    <div class="contacttitle" style="position: absolute;padding-left: 40px;padding-top: 90px;">
                        <h2 style="font-size: 32px;">ご相談窓口</h2>
                        <p style="width: 300px;">
                            当社製品に関してご質問、ご不明な点等がございましたら、お電話、チャット、またはメールで、Revopoint のサポートチームにお気軽にご相談ください。
                        </p>
                    </div>
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/hy.png">
                </div>
            </div>
            <div class="contact1" style="margin-top: 21px;">
                <div class="contact1item">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/om.png">
                    <div class="twotitile">
                        <h3>オンラインミーティング</h3>
                        <p>画面共有でのリモートサポート</p>
                    </div>
                    <div class="dl">
                        <a href="https://meetings.hubspot.com/revopoint-support">ミーティングを予約する &gt;</a>
                    </div>
                </div>
                <div class="contact1item">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/hs.png">
                    <div class="twotitile">
                        <h3>ホットラインサービス</h3>
                        <p>電話でのお問い合わせ</p>
                    </div>
                    <div class="dl">
                        <a href="tel:+1 (888) 807-3339">+1 (888) 807-3339</a><br>
                        <a href="tel:+86 18124196779">+86 18124196779</a>
                    </div>
                </div>
                <div class="contact1item" style="display: none;">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/f.png">
                    <div class="twotitile">
                        <h3>Forum</h3>
                        <p>Share Your Scanning Experiences</p>
                    </div>
                    <div class="dl">
                        <a href="https://forum.revopoint3d.com">Join the Revopoint Community &gt;</a>
                    </div>
                </div>
                <div class="contact1item" style="display: none;">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/g.png">
                    <div class="twotitile">
                        <h3>Group</h3>
                        <p>Updates, Giveaways, 3D Model Showcases</p>
                    </div>
                    <div class="dl">
                        <a href="https://revo.ink/3PFwq2S">Join Our Group &gt;</a>
                    </div>
                </div>
            </div>
            <p class="edp" style="font-size: 16px;color: #666666;margin-top: 24px;display: none;">
                You can contact us by <a href="" class="lk">Email</a>. For urgent situations, we recommend you contact
                <a href="" class="lk">Online Customer Service</a> for immediate support.
            </p>
        </section>
    </div>
</main>
</body>
<script type="text/javascript">
    // FAQ文案操作
    let menuIndex = 0
    let navHideDoms, arr, navIconDoms, navRightboxs
    let navBtn = document.getElementsByClassName("nav_btn") // 左侧menu

    // nav展开icon绑定事件
    for (let index = 0; index < navBtn.length; index++) {
        navBtn[index].addEventListener("click", navBtnClick)
    }

    function init() {
        navHideDoms = document.getElementsByClassName("nav_title_small") // 右侧隐藏文案
        arr = Array(navHideDoms.length).fill(false)
        navIconDoms = document.getElementsByClassName("nav_icon") // 右侧“+”“-”
        navRightboxs = document.getElementsByClassName("nav_right_box") // 右侧文案
        // nav展开icon绑定事件
        for (let index = 0; index < navIconDoms.length; index++) {
            navIconDoms[index].addEventListener("click", navIconClick)
        }
    }
    init()

    function navBtnClick(e) {
        init()
        menuIndex = Number(e.target.dataset.index)
        navRightboxs[menuIndex].style.display = 'block'
        for (let index = 0; index < navBtn.length; index++) {
            if (+index === +menuIndex) {
                continue
            }
            navRightboxs[index].style.display = 'none'
            navBtn[index].style.borderBottom = 'none'
        }
        navBtn[menuIndex].style.borderBottomWidth = '2px'
        navBtn[menuIndex].style.borderBottomColor = '#000000'
        navBtn[menuIndex].style.borderBottomStyle = 'solid'
    }

    // "+" "-" 点击事件
    function navIconClick(e) {
        let navNum = navBtn.length
        let iconNum = navIconDoms.length
        let currentNum = iconNum / navNum
        let navIndex = Number(e.target.dataset.index)
        let correctNum = currentNum * menuIndex + navIndex
        if (!!arr[correctNum]) {
            navHideDoms[correctNum].style.display = 'none'
            navIconDoms[correctNum].innerHTML = '+'
        } else {
            navHideDoms[correctNum].style.display = 'block'
            navIconDoms[correctNum].innerHTML = '-'
            for (let index = 0; index < navIconDoms.length; index++) {
                if (+index === +correctNum) {
                    continue
                }
                navHideDoms[index].style.display = 'none'
                navIconDoms[index].innerHTML = '+'
            }
        }
        arr[correctNum] = !arr[correctNum]
        for (let j = 0; j < navIconDoms.length; j++) {
            if (+j === +correctNum) {
                continue
            }
            arr[j] = false
        }
    }
</script>
</html>
