<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ 'miraco.css' | asset_url | stylesheet_tag }}
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="//www.revopoint3d.com/cdn/shop/t/17/assets/swiper-bundle.min.css?v=39633872178562917471700204415">
</head>
<body style="background: #232327;">
  <div class="banner">
   
      <video width="100%" autoplay="" muted="muted" playsinline="" style="opacity: 0.4;position: relative;background: #000;">
        <source src="https://cdn.shopify.com/videos/c/o/v/24979018e5044fc2b902615831cecfe7.mp4#t=0.1" type="video/mp4">
    </video>
    <div class="bannertitle">
        <h2>MIRACO 3Dスキャナー</h2>
        <p>3Dスキャンを再定義</p>
        <div class="bannerbutton">
            <a href="/products/standalone-3d-scanner-miraco">今すぐ購入</a>
        </div>
    </div>
  </div>
<div class="mbanner">
  <a href="/products/standalone-3d-scanner-miraco">
    <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/MIRACO_dfd87da6-e4bc-43bb-b181-ccac272bf32e.png?v=1718767041" style="width: 100%;">
    </a>
</div>
<div class="main">

    <section class="container">
        <div class="content">
            <div class="title">
                <h2>ハイライト</h2>
            </div>
            <div class="hot">
                <div class="hotitem">
                    <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/1319.png">
                </div>
                <div class="hotitem" style="position: relative;">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/lQLPJwNjgYcENN3NBCjNBaiwI2txE7ZumzUGCxoq59ExAA_1448_1064.png">
                    <div class="hotitle">
                        <h2>Revopoint <br>MIRACO 3Dスキャナー</h2>
                        <p>オールインワンスキャン</p>
                    </div>
                </div>
                <div class="hotitem">
                    <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/1323.png">
                </div>
                <div class="hotitem">
                    <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/1322.png">
                </div>
                <div class="hotitem">
                    <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/1329.png">
                </div>
                <div class="hotitem">
                    <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/1326.png">
                </div>
                <div class="hotitem">
                    <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/1321.png">
                </div>
                <div class="hotitem">
                    <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/1325.png">
                </div>
                <div class="hotitem">
                    <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/1320.png">
                </div>
                <div class="hotitem">
                    <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/1328.png">
                </div>
                <div class="hotitem">
                    <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/1327.png">
                </div>
                <div class="hotitem">
                    <img src="https://cdn.shopify.com/s/files/1/0582/3699/3705/files/1324.png">
                </div>
            </div>
        </div>
    </section>
    <section class="container bgblack">
        <div class="content">
            <div class="title">
                <h2>オールインワンスキャン</h2>
                <p>あらゆるサイズに対応</p>
            </div>
            <div class="media">
                <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/feiji1.gif">
            </div>
            <div class="aip">
                <p>スキャン中に遠近モードを自由に切り替えられます。近景モードは小物の超微細なディテールをキャプチャし、遠景モードは大きい物体を素早く正確にスキャンします。
                </p>
            </div>
            <div class="fj">
                <div class="fjitem">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/fj.png">
                </div>
                <div class="fjitem">
                    <div class="title">
                        <h2>外科的精度</h2>
                        <p>最大0.05 mmのシングルフレーム正確度で物体の細部をスキャンしたり、最大0.5 mmのシングルフレーム正確度で広い範囲をキャプチャしたりするなど、スキャン中にも自由に切り替えることができます。
                        </p>
                    </div>
                    <div class="sa">
                        <div class="saitem">
                            <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/fj1.png">
                        </div>
                        <div class="saitem">
                            <p>最大 <span class="pb">0.02 mm</span> の精度</p>
                            <p><span class="pb">0.05 mm</span> の正確度</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="container bgblack">
        <div class="content">
            <div class="title">
                <h2 class="jbtitle">指先で直感的に操作可能</h2>
            </div>

            <div class="ysp">
                <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/ysp.png">
                <div class="ysptitle">
                    <h2>2K AMOLED 180°</h2>
                    <p>回転スクリーン</p>
                </div>
            </div>
            <div class="yspm">
                <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/yspm.png">
                <div class="ysptitle">
                    <h2>2k AMOLED 180°</h2>
                    <p>回転スクリーン</p>
                </div>
            </div>
            <div class="yspdes">
                <div class="yspitem">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/ss.png">
                    <p>スクリーンサイズ</p>
                </div>
                <div class="yspitem">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/a180.png">
                    <p>180度調整可能</p>
                </div>
                <div class="yspitem">
                    <p style="text-align: left;">
                        <span class="pw">6″2K AMOLEDのタッチスクリーン</span>
                          で、鮮明なスキャンを確認可能。
                        <span class="pw">180度回転な角度</span>
                        から簡単に見ることができ、
                        <span class="pw">撮りスキャンも可能です。</span>.
                    </p>
                </div>
            </div>

        </div>
    </section>
    <section class="container bgblack">
        <div class="content">
            <div class="title epc">
                <h2>驚異的な色再現性</h2>
            </div>
            <div class="mepcmedia">
                <p>4800万画素RGBカメラにより、驚くほどリアルなテクスチャを実現します。
                    <span class="pw">4800万画素RGB</span>
                </p>
                <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/mmepc.gif">
            </div>
            <div class="mepcdec">
                <div class="epcitem">
                    <p style="color: #fff;">4800万画素<br> RGB カメラにより</p>
                </div>
                <div class="epcitem">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/rgb.png">
                </div>
            </div>
            <div class="epcmedia">
                <div class='conta'>
                    <div class='img background-img'></div>
                    <div class='img foreground-img'></div>
                    <input type="range" min="1" max="100" value="50" class="slider" name='slider' id="slider">
                    <div class='slider-button'></div>
                </div>
            </div>
            <div class="epcdec">
                <div class="epcitem">
                    <p>
                       <span class="pw">4800万画素RGBカメラ</span>
                      により、驚くほどリアルなテクスチャを実現します。
                        <span class="pw"></span>
                    </p>
                </div>
                <div class="epcitem">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/rgb.png">
                </div>
            </div>
        </div>
    </section>

    <section class="container bgblack">
        <div class="content">
            <div class="title pyh">
                <h2 style="margin-bottom: 0;">大容量で高性能</h2>
                <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/powerbg.png">
                <p>8コア2.4GHzプロセッサー<br> 256GBのストレージ容量</p>
            </div>
            <div class="power">
                <div class="poweritem">
                    <div class="powerimg">
                        <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/16ram.png">
                    </div>
                    <div class="powertitle">
                        <p>最大
                            <span class="pb pbs">5000</span>
                            フレーム<br> カラーなしスキャン</p>
                        <p>最大
                            <span class="pb pbs">4000</span>
                            フレーム<br> カラースキャン</p>
                    </div>
                </div>
                <div class="poweritem">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/xp.png">
                    <p style="color: #8B8B8B;font-size: 16px;">※1回のスキャンで取得可能な最大フレーム数。</p>
                </div>
                <div class="poweritem">
                    <div class="powerimg">
                        <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/32ram.png">
                    </div>
                    <div class="powertitle">
                        <p>最大
                            <span class="pg pbs">10000</span>
                            フレーム<br> カラーなしスキャン</p>
                        <p>最大 <span class="pg pbs">8000</span>
                            フレーム<br> カラースキャン</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="container bgblack">
        <div class="content">
            <div class="title epc">
                <h2>2つのスキャンモード</h2>
            </div>
            <div class="video-container">
                <div class="video-wrapper active" id="video1" style="width: 896px;" onmouseover="expandVideo('video1')" onmouseout="collapseVideo('video1')">
                    <video class="video" loop="" playsinline="" autoplay="" src="https://cdn.shopify.com/videos/c/o/v/008ff6b1e766463ea6f3cef4b4ed6596.mp4" style="object-fit: cover;width: 100%; height: 504px;background-position: center center;" data-airgap-id="125"></video>
                    <div class="overlay"></div>

                    <p class="video-text">写真測量モード<br>写真測量モードに切り替えると、スキャンしにくい部分も簡単にスキャンすることができます。</p>
                </div>

                <div class="video-wrapper" id="video2" style="width: 288px;" onmouseover="expandVideo('video2')" onmouseout="collapseVideo('video2')">
                    <video class="video" loop="" playsinline="" autoplay="" src="https://cdn.shopify.com/videos/c/o/v/8bcdc6899552429cad5b755ca3b65791.mp4" style="object-fit: cover; width: 100%;height: 504px;background-position: center center;" data-airgap-id="126"></video>
                    <div class="overlay"></div>
                    <p class="video-text">連続スキャンモード<br>最大15 fpsのスキャン速度を実現し、サイズを問わず、有機的な形状や複雑なジオメトリを持つ物体の3Dモデルを素早く作成することができます。</p>
                </div>
            </div>
            <div class="videotitle" style="display: none">
                <p>写真測量モードに切り替えると、スキャンしにくい部分も簡単にスキャンすることができます。</p>
            </div>
            <div class="mvideo-container">
                <p>写真測量モード</p>
                <video class="video" loop="" playsinline="" autoplay="" src="https://cdn.shopify.com/videos/c/o/v/008ff6b1e766463ea6f3cef4b4ed6596.mp4" style="object-fit: cover;width: 100%;background-position: center center;" data-airgap-id="125"></video>
                <p>写真測量モードに切り替えると、スキャンしにくい部分も簡単にスキャンすることができます。</p>
            </div>
            <div class="mvideo-container">
                <p>連続スキャンモード</p>
                <video class="video" loop="" playsinline="" autoplay="" src="https://cdn.shopify.com/videos/c/o/v/8bcdc6899552429cad5b755ca3b65791.mp4" style="object-fit: cover;width: 100%;background-position: center center;" data-airgap-id="125"></video>
                <p>最大15 fpsのスキャン速度を実現し、サイズを問わず、有機的な形状や複雑なジオメトリを持つ物体の3Dモデルを素早く作成することができます。</p>
            </div>
        </div>
    </section>

    <section class="container bgblack">
        <div class="content">
            <div class="title lst">
                <h2>長時間スキャン、急速充電</h2>
            </div>
            <div class="ls">
                <div class="lsitem">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/ls.png">
                </div>
                <div class="lsitem">
                    <p><span class="lsp">5000</span><br> mAh</p>
                    <p><span class="lsp">2時間</span> <br>スキャン</p>
                    <p><span class="lsp">50W</span> <br>急速充電</p>
                </div>
            </div>
            <div class="lstp">
                <p>50W急速充電で、わずか35分でMIRACOを80%までパワーアップ。</p>
                <p style="font-size: 16px;">※ MIRACOのバッテリーは2年保証付きです。</p>
            </div>
        </div>
    </section>

    <section class="container bgblack">
        <div class="content">
            <div class="title lst">
                <h2>ケーブルもPCも不要</h2>
            </div>
            <div class="tabs-container">
                <div class="tabs-content">
                    <!-- Tab Content -->
                    <div id="tab1" class="tab-content">
                        <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/tab1.png">
                        <p style="text-align: left;">高速で安定なWi-Fi 6またはUSB Type-C接続により、スキャンデータを素早く転送することができます。</p>
                    </div>

                    <div id="tab2" class="tab-content" style="display: none;">
                        <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/tab2.png">
                        <p style="text-align: left;">USB Type-C用HDMIアダプター、またはDPポート経由でテレビやモニターに接続すると、3Dモデルの確認や展示がより便利になります。</p>
                    </div>

                </div>

                <div class="tab-buttons">
                    <h2>迅速 & <br>便利</h2>
                    <button class="tab-button active" onclick="showTab('tab1', this)">簡単なプロジェクト<br> 転送</button>
                    <button class="tab-button" onclick="showTab('tab2', this)">スクリーンミラーリング対応</button>
                </div>
            </div>
            <div class="mtabs-container">
                <p>簡単なプロジェクト転送</p>
                <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/tab1.png">
                <p style="text-align: left;">高速で安定なWi-Fi 6またはUSB Type-C接続により、スキャンデータを素早く転送することができます。</p>
            </div>
            <div class="mtabs-container">
                <p>スクリーンミラーリング対応</p>
                <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/tab2.png">
                <p style="text-align: left;">USB Type-C用HDMIアダプター、またはDPポート経由でテレビやモニターに接続すると、3Dモデルの確認や展示がより便利になります。</p>
            </div>
        </div>
    </section>
    <section class="container bgblack">
        <div class="content">
            <div class="title lst">
                <h2>強力なオンボードソフトウェア</h2>
            </div>
            <div class="pos">
                <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/pobs.png">
            </div>
            <p style="text-align: left;">オンボードソフトウェアの直感的なUIにより、モデルのスキャンや後処理が簡単に行えます。STL、PLY、またはOBJ形式でモデルをエクスポートする前に、いつでも点群の融合、メッシュ化、編集を実行し、モデルをチェックできます。</p>
        </div>
    </section>

    <section class="container bgwhite">
        <div class="content">
            <div class="title hc">
                <h2>MIRACOで作成したモデル</h2>
            </div>
            <div class="sketch">
                <div class="sketchitem">
                    <iframe title="Parrot - 3D Scanned by Revopoint MIRACO" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/5a4d8972c798417ca94443414319d307/embed"> </iframe>
                </div>
                <div class="sketchitem">
                    <iframe title="Stucco Bas-relief - Scanned by Revopoint MIRACO" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/62c20e34279243a0a412ee971c3e343b/embed"> </iframe>
                </div>
                <div class="sketchitem">
                    <iframe title="Miraco full Black motorbike fazer 3dscan" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/0efc8fd6d5d14715aa6eb410fc3779ca/embed"> </iframe>
                </div>
                <div class="sketchitem">
                    <iframe title="M10 Bolt - 3D Scanned by Revopoint MIRACO" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/aa2a600e80ef40eca81addfaf05085c9/embed"> </iframe>
                </div>
            </div>
        </div>
    </section>
    <section class="container bgwhite">
        <div class="content">
            <div class="title hc">
                <h2>評価・口コミ</h2>
            </div>
            <div class="buzz">
                <div class="buzzitem">
                    <div class="buzzimg">
                        <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/yd.png">
                    </div>
                    <div class="buzztitle">
                        <p>Yanko Design</p>
                    </div>
                </div>
                <div class="buzzitem">
                    <div class="buzzimg">
                        <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/3d.png">
                    </div>
                    <div class="buzztitle">
                        <p>3D Printing Industry</p>
                    </div>
                </div>
                <div class="buzzitem">
                    <div class="buzzimg">
                        <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/3dn.png">
                    </div>
                    <div class="buzztitle">
                        <p>3DNatives</p>
                    </div>
                </div>
                <div class="buzzitem">
                    <div class="buzzimg">
                        <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/all.png">
                    </div>
                    <div class="buzztitle">
                        <p>All3DP</p>
                    </div>
                </div>
                <div class="buzzitem">
                    <div class="buzzimg">
                        <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/3dr.png">
                    </div>
                    <div class="buzztitle">
                        <p>3Druck</p>
                    </div>
                </div>
                <div class="buzzitem">
                    <div class="buzzimg">
                        <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/3dp.png">
                    </div>
                    <div class="buzztitle">
                        <p>3DPrint.com</p>
                    </div>
                </div>
            </div>
            <div class="slmode">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/ydslider.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/3dslider.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/3dnslider.png">
                        </div>

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="swiper-right">
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/swiperimg.webp">
                </div>
            </div>
        </div>
    </section>
    <section class="container bgwhite">
        <div class="content">
            <div class="app">
                <h2>用途</h2>
            </div>
            <div class="appmode ">
                <div class="appitem">
                    <div class="appimg">
                        <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/app1.gif">
                    </div>
                    <div class="title">
                        <h2>宇宙航空</h2>
                        <p>航空機の部品を素早くスキャンし、摩耗や損傷をチェックしたり、交換部品を製作したりすることができます。</p>
                    </div>
                </div>
                <div class="appitem">
                    <div class="appimg">
                        <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/app2.gif">
                    </div>
                    <div class="title">
                        <h2>自動車</h2>
                        <p>時間のかかる手作業をする必要がなく、車両のあらゆる部分をキャプチャし、修理、再生産、プロトタイピング、品質管理を行うことができます。</p>
                    </div>
                </div>
                <div class="appitem">
                    <div class="appimg">
                        <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/app3.gif">
                    </div>
                    <div class="title">
                        <h2>3Dアニメーション</h2>
                        <p>MIRACOの遠景モードと近景モードにより、わずか一分間でフルボディをスキャンでき、または非常に詳細な顔スキャンもできます。</p>
                    </div>
                </div>
                <div class="appitem">
                    <div class="appimg">
                        <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/single3.gif">
                    </div>
                    <div class="title">
                        <h2>文化財のデジタル化</h2>
                        <p>貴重な文化財を直接触れることなく、フォトリアルなカラーテクスチャでデジタル化し、保存や修復に役立ちます。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container bgwhite">
        <div class="content">
            <div class="app">
                <h2>仕様			</h2>
            </div>
            <div class="spectable">
                <table>
                    <tbody>

                    <tr>
                        <td>品名</td>
                        <td>Revopoint MIRACO</td>
                        <td>テクノロジー</td>
                        <td>クアッドカメラ赤外線構造化光</td>
                    </tr>
                    <tr>
                        <td>シングルフレーム正確度</td>
                        <td>最大0.05 mm</td>
                        <td>点間距離</td>
                        <td>0.05 mm</td>
                    </tr>
                    <tr>
                        <td>シングルスキャン範囲 (最小距離)</td>
                        <td>28×53 mm (距離100 mm)</td>
                        <td>シングルスキャン範囲 (最大距離)</td>
                        <td>975×775 mm (距離1000 mm)</td>
                    </tr>
                    <tr>
                        <td>二つのスキャンモード</td>
                        <td>写真測量&連続スキャン</td>
                        <td>スキャンスピード（最大）</td>
                        <td>15 fps</td>
                    </tr>
                    <tr>
                        <td>最小スキャンサイズ</td>
                        <td>10 x 10 x 10 mm</td>
                        <td>最大スキャンサイズ</td>
                        <td>4000 x 4000 x 4000 mm</td>
                    </tr>
                    <tr>
                        <td>動作距離</td>
                        <td>100 - 1000 mm</td>
                        <td>スクリーン</td>
                        <td>6" 2K AMOLED タッチスクリーン</td>
                    </tr>
                    <tr>
                        <td>補助照明</td>
                        <td>赤外線補助照明、LED補助照明</td>
                        <td>3D光源</td>
                        <td>クラス1赤外線</td>
                    </tr>
                    <tr>
                        <td>ストレージ</td>
                        <td>256 GB eMMC</td>
                        <td>位置センサー</td>
                        <td>9軸IMU</td>
                    </tr>
                    <tr>
                        <td>メモリ（RAM）</td>
                        <td>16 GB / 32 GB メモリ（DDR4）※MIRACO Proでは32 GB</td>
                        <td>RGBカメラ解像度（最大）</td>
                        <td>4800万画素</td>
                    </tr>
                    <tr>
                        <td>本体重量</td>
                        <td>750 g</td>
                        <td>本体寸法（長さ×幅×高さ）</td>
                        <td>200 x 50 x 110 mm</td>
                    </tr>
                    <tr>
                        <td>電池容量</td>
                        <td>内蔵5000 mAhリチウム電池、最大2時間のスキャンが可能</td>
                        <td>CPU</td>
                        <td>8コア、2.4GHz</td>
                    </tr>
                    <tr>
                        <td>トラッキング方式</td>
                        <td>特徴、マーカー</td>
                        <td>保護等級</td>
                        <td>IP45</td>
                    </tr>
                    <tr>
                        <td>接続ポート</td>
                        <td>USB Type-C </td>
                        <td>Wi-Fi規格</td>
                        <td>Wi-Fi 6</td>
                    </tr>
                    <tr>
                        <td>対応OS</td>
                        <td>Windows 10/11, macOS</td>
                        <td>操作システム</td>
                        <td>Android</td>
                    </tr>
                    <tr>
                        <td>特殊オブジェクトのスキャン</td>
                        <td>透明、暗い、反射する対象物をスキャンする際にスキャンスプレーを使用</td>
                        <td>スキャン環境</td>
                        <td>屋内・屋外</td>
                    </tr>
                    <tr>
                        <td>出力フォーマット</td>
                        <td>STL、PLY、OBJ</td>
                        <td>3Dプリント用データ出力</td>
                        <td>可</td>
                    </tr>
                       <tr>
                        <td>内蔵チップコンピューティング</td>
                        <td>Depthマップコンピューティング、3Dスキャン、点群処理及び編集</td>
                        <td>PC要件</td>
                        <td>該当なし（スタンドアロン）</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="padding: 30px;line-height: 28px;">
                            １．精度・正確度は標準的な実験環境で得られたものであり、実際の使用環境では異なる場合があります。 <br>
                            ２．屋外でスキャンする場合は、直射日光を避けてください。<br>
                            ３．クラス1レーザー：投光器を長時間直視しないでください。詳しくはクラス1レーザーの規格を参照してください。<br>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="buybutton">
                    <a href="/products/standalone-3d-scanner-miraco" target="_blank">今すぐ購入</a>
                </div>
            </div>
        </div>
    </section>
    <section class="container bgblack">
        <div class="content">
            <div class="title lst">
                <h2>MIRACOレビュー動画</h2>
            </div>
            <div class="youtubevideo">
                <div class="youtubeitem">
                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/0GaABWgilC4?si=KGcij7MPSvgokpy6&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="youtubeitem">
                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/zjDy0VBdh6I?si=LypeqWsrWSfRDrqT&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="youtubeitem">
                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/YALJGobSdfc?si=MULW-6JTt8ovIM5Q&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                  </div>
                <div class="youtubeitem">
                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/j5hkJoH4DKI?si=ReCah1OIMHyV_Ei2&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <section class="container bgwhite">
        <div class="content">
            <div class="title hc">
                <h2>パッケージ内容</h2>
            </div>
            <h2 class="bxh">MIRACO</h2>
            <div class="productimg pi1">
                <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/18254_2x_38201662-355a-46c0-ac1d-8ec385341f96.png">
                <p>MIRACO 3Dスキャナー</p>
            </div>
            <h2 class="bxy bxh">MIRACO Pro</h2>
            <div class="productimgitem">
                <div class="productimg">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/18303_2x_3f824a5b-291d-4f70-bc31-939bc88daac5.png">
                    <p>MIRACO 3Dスキャナー</p>
                </div>
                <div class="productimg">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/fm.png">
                    <p>遠景モード用キャリブレーションボード×4</p>
                </div>
                <div class="productimg">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/lcb.png">
                    <p>大型キャリブレーションボード用シート</p>
                </div>
                <div class="productimg">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/usbc.png">
                    <p>USB Type-C用HDMIアダプター</p>
                </div>
            </div>
            <div class="app ai">
                <h2>付属品</h2>
            </div>
            <div class="assmode">
                <div class="productimg">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/tri.png">
                    <p>三脚</p>
                </div>
                <div class="productimg">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/minit.png">
                    <p>ミニターンテーブル＆サンプル彫像</p>
                </div>
                <div class="productimg">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/tt.png">
                    <p>マーカーパッド</p>
                </div>
                <div class="productimg">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/tpc.png">
                    <p>ターンテーブル電源ケーブル</p>
                </div>
                <div class="productimg">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/nmcb.png">
                    <p>近景モード用キャリブレーションボード</p>
                </div>
                <div class="productimg">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/mm.png">
                    <p>マジックマット×2</p>
                </div>
                <div class="productimg">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/ws.png">
                    <p>リストストラップ</p>
                </div>
                <div class="productimg">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/af7371e97fdb8a44079fa78d4e572f7e.jpg">
                    <p>デュアルUSB Type-Cポート搭載65W電源アダプター</p>
                </div>
                <div class="productimg">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/usbtc.png">
                    <p>USB Type-Cケーブル（1.8 m）</p>
                </div>
                <div class="productimg">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/cc.png">
                    <p>クリーニングクロス</p>
                </div>
                <div class="productimg">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/mar.png">
                    <p>マーカー</p>
                </div>
                <div class="productimg">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/cwc.png">
                    <p>証明書&保証書</p>
                </div>
                <div class="productimg">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/sb.png">
                    <p>スキャナー収納バッグ</p>
                </div>
            </div>
            <div class="buybutton">
                <a href="/products/standalone-3d-scanner-miraco" target="_blank">今すぐ購入</a>
            </div>
        </div>
    </section>
    <section class="container bgwhite">
        <div class="content">
            <div class="title hc">
                <h2>人気アクセサリー</h2>
            </div>
            <div class="assproduct" style="margin-bottom: 30px;display: none;">
                <div class="assimg">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/fcb.jpg">
                </div>
                <div class="asstitle">
                    <h2>Power Bank Kit</h2>
                    <p>Up to 2.5 hours of extra scanning time with this easily connected Power Bank Kit.</p>
                    <div class="assbutton">
                        <a href="">今すぐ購入</a>
                    </div>
                </div>
            </div>
            <div class="assproduct">
                <div class="assimg">
                    <img src="https://cdn.shopify.com/s/files/1/0601/2256/2760/files/pb.png">
                </div>
                <div class="asstitle">
                    <h2>大型ターンテーブル</h2>
                    <p>大きな物体や人体の3Dスキャンに便利。</p>
                    <div class="assbutton">
                        <a href="/products/large-turntable" target="_blank">今すぐ購入</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container bgwhite">
        <div class="content">
            <div class="sup">
                <div class="supitem">
                    <h2>MIRACO’s <br>取扱説明書</h2>
                    <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/pdf.webp">
                    <div class="supa">
                        <a href="https://download.revopoint3d.com/pdf/MIRACO-brochure-jp-V3.2.pdf" target="_blank">Webで閲覧 ></a>
                        <a href="https://download.revopoint3d.com/pdf/MIRACO-brochure-jp-V3.2.pdf" target="_blank">ダウンロード ></a>
                    </div>
                </div>
                <div class="supitem">
                    <div class="suptitle">
                       <h2>ソフトウェアのダウンロード</h2>
                       <p style="margin-bottom: 80px;">ユーザーフレンドリーで高効率、スキャン・編集・モデルの合成を一体化したソフトウェア。</p>
                        <a href="/pages/support-download" target="_blank">もっと見る ></a>
                    </div>
                    <div class="supimg">
                        <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/rj.webp">
                    </div>
                </div>
                <div class="supitem">
                    <div class="suptitle">
                        <h2>24時間対応</h2>
                        <p>当社製品に関してご質問、ご不明な点等がございましたら、お電話、チャット、またはメールで、Revopoint のサポートチームにお気軽にご相談ください。</p>
                      <a href="/pages/support-miraco" target="_blank">もっと見る ></a>
                    </div>
                    <div class="supimg">
                        <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/24.webp">
                    </div>
                </div>
            </div>
            <div class="msup">
                <div class="msupitem">
                    <h2>MIRACO’s Brochure</h2>
                   <div class="msupaitem">
                    <div class="supa" style="text-align: left;flex: 2;">
                        <a href="https://download.revopoint3d.com/zy/miraco/miraco-jp.pdf" target="_blank">Online Preview ></a>
                        <a href="https://download.revopoint3d.com/zy/miraco/miraco-jp.pdf" target="_blank">Download ></a>
                    </div>
                       <div class="supiamge">
                           <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/pdf.webp">
                       </div>
                   </div>
                </div>
                <div class="msupitem">
                    <h2>Software Download</h2>
                    <div class="msupaitem">
                    <div class="suptitle">
                        <p>User-friendly scanning, editing, and model merging.</p>
                        <a href="/pages/support-download" target="_blank">Learn More ></a>
                    </div>
                    <div class="supimg">
                        <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/rj.webp">
                    </div>
                    </div>
                </div>
                <div class="msupitem">
                    <h2>24/7 Support</h2>
                    <div class="msupaitem">
                    <div class="suptitle">
                        <p>Speak to an Revopoint expert now. Whether by phone, chat, or email, we’re ready to help you with all of your product questions and issues.</p>
                       <a href="/pages/support-miraco" target="_blank">Learn More ></a>
                    </div>
                    <div class="supimg">
                        <img src="https://cdn.shopify.com/s/files/1/0538/9533/2027/files/24.webp">
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>


</div>

</body>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"> </script>
<script src="{{'miraco.js' | asset_url}}" defer></script>
</html>